<div class="project-wrapper" ng-show="!parentVm.open.sideBar" data-stat-module="label">
  <div class="label-wrapper" ng-hide="parentVm.labelLoading">
    <div class="label-shade"></div>
    <div class="see-all" ng-click="parentVm.openAll()">
        {{parentVm.seeAll ? '收起' : '查看完整数据分析'}}
    </div>
    <div class="label-outside">
      <div class="label-top" ng-class="{show: parentVm.seeAll}">
        <div class="top-container">
          <div class="label-title">
            <span ui-sref="list.result({columnId:0})" data-stat-click="goList">项目列表</span>
            ＞ {{parentVm.labelDetail.name}}
          </div>
          <div>
            <div class="clear-both">
              <div class="left-content">
                <span class="label-name">{{parentVm.labelDetail.name}}</span>
                <a href="javascript:void(0)" class="follow-btn" ng-class="{followed: !parentVm.labelDetail.isFollowed}" ng-click="parentVm.followLabel()" data-stat-click="followLabel">
                  <i class="icon-follow" ng-show="!parentVm.labelDetail.isFollowed"></i>
                  <i class="icon-followed" ng-show="parentVm.labelDetail.isFollowed"></i>
                  <span ng-if="parentVm.labelDetail.isFollowed">已</span>关注
                </a>
                <div class="label-info">
                  <div class="left-info">
                    <div class="info-item">
                      <div class="info-title">项目总数</div>
                      <div class="info-content">{{parentVm.labelStat.comTotal}}</div>
                    </div>
                    <div class="info-item">
                      <div class="info-title">本月更新</div>
                      <div class="info-content">{{parentVm.labelStat.comIncr}}</div>
                    </div>
                  </div>
                  <div class="right-info">
                    <div class="info-item">
                      <div class="info-title">投资总数</div>
                      <div class="info-content">{{parentVm.labelStat.investTotal}}</div>
                    </div>
                    <div class="info-item">
                      <div class="info-title">本月更新</div>
                      <div class="info-content">{{parentVm.labelStat.investIncr}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="center-content">
                <h5 class="chart-title outside-title">近一年投资事件轮次分布</h5>
                <highchart disable-data-watch="true" config="parentVm.investPhaseHg"></highchart>
              </div>
              <div class="right-content">
                <h5 class="chart-title outside-title">项目轮次分布</h5>
                <highchart disable-data-watch="true" config="parentVm.comPhaseHg"></highchart>
              </div>
            </div>
            <div class="clear-both" ng-if="parentVm.seeAll">
              <div class="left-content">
                <!--<h5 class="chart-title">项目年度趋势</h5>-->
                <highchart disable-data-watch="true" config="parentVm.trendHg"></highchart>
              </div>
              <div class="center-content">
                <!--<h5 class="chart-title">投资金额 / 投资事件年度趋势</h5>-->
                <highchart disable-data-watch="true" config="parentVm.investHg"></highchart>
              </div>
              <div class="right-content project-age" ng-class="{'noData': parentVm.saveEmpty}">
                <h5 class="chart-title">项目年龄时间分布</h5>
                <div class="retention-container">
                  <div class="retention-item" ng-repeat="item in parentVm.labelStat.comStartDateDis">
                    <div class="retention-title">
                      {{item.key}}
                    </div>
                    <div class="retention-bar" ng-style="{width: item.width}"></div>
                    <div class="retention-percent">
                      {{(item.value * 100).toFixed(2)}}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="label-bottom" ng-if="parentVm.labelStat.relatedLabels.length">
            <h4>相关标签</h4>
            <div class="clear-both">
              <div class="label-item" ng-repeat="item in parentVm.labelStat.relatedLabels track by $index" ui-sref="label.result({labelId:item.id})">
                {{item.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div kr-loading loading="parentVm.labelLoading"></div>
  <!--<div class="label-converge">
    <section class="title-info">
      <span class="project-list" ui-sref="list.result({columnId:0})" data-stat-click="goList">项目列表</span> ＞ {{parentVm.labelDetail.name}}
    </section>
    <h4 class="title-name">{{parentVm.labelDetail.name}}</h4>
    <section class="content-intro">为您精选了<b>{{parentVm.labelDetail.totalCount}}</b>个项目，7日内更新了<b>{{parentVm.labelDetail.updateCnt}}</b>个新项目</section>
    <a href="javascript:void(0)" class="follow-btn" ng-click="parentVm.followLabel()" data-stat-click="followLabel">
      <span ng-if="parentVm.labelDetail.isFollowed">已</span>关注
    </a>
  </div>-->
  <div class="filter-container">
    <div class="filter-list my-follow" ng-if="!parentVm.open.filter">
      <div class="filter-col">
        <div class="col-default">
          轮次
        </div>
        <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
          {{parentVm.filterData.phase ? parentVm.filterData.phase : '不限'}}
        </div>
        <div class="col-default">
          所在地
        </div>
        <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
          {{parentVm.filterData.city ? parentVm.filterData.city : '不限'}}
        </div>
        <div class="col-default" ng-if="root.user.isInvestor()">
          融资需求
        </div>
        <div class="col-val" ng-if="root.user.isInvestor()" ng-click="parentVm.open.filter = !parentVm.open.filter">
          {{parentVm.filterData.isFundingLimit ? '融资中' : '不限'}}
        </div>

        <div class="right-spread-button">
          <a href="javascript:;" ng-click="parentVm.open.filter = !parentVm.open.filter" >
            {{!parentVm.open.filter ? '展开全部筛选项' : '收起全部筛选项'}}
          </a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          轮次
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.phase}">
              <ul filter-cal open-filter="parentVm.open.phase" ng-if="parentVm.data.phase">
                <li class="col-item" ng-repeat="item in parentVm.data.phase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'phase')" data-stat-click="phase.{{item.value}}">
                  <!-- <span class="item&#45;cnt">({{item.cnt ? item.cnt : 0}})</span> -->
                  <span>
                    {{item.desc}}
                    <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-open-select" ng-click="parentVm.spreadMore('phase')" ng-class="{'open': parentVm.open.phase}" data-stat-click="phase.zhankaianniu"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          所在地
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.city}">
              <ul filter-cal open-filter="parentVm.open.city" ng-if="parentVm.data.city">
                <li class="col-item" ng-repeat="item in parentVm.data.city" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'city')" data-stat-click="city.{{item.id}}">
                  <span>
                    {{item.name}}
                    <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'city');$event.stopPropagation();"></span>
                  </span>
                  <!-- <span class="item&#45;cnt">({{item.cnt ? item.cnt : 0}})</span> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-open-select" ng-click="parentVm.spreadMore('city')" ng-class="{'open': parentVm.open.city}" data-stat-click="city.zhankaianniu"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter && root.user.isInvestor()">
      <div class="filter-col">
        <div class="col-type">
          融资需求
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.isFundingLimit}">
              <ul filter-cal ng-if="parentVm.data.isFundingLimit">
                <li class="col-item" ng-repeat="item in parentVm.data.isFundingLimit" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'isFundingLimit')" data-stat-click="isFundingLimit.{{item.id}}">
                  <span>
                    {{item.name}}
                    <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.id !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'isFundingLimit');$event.stopPropagation();"></span>
                  </span>
                  <!-- <span class="item&#45;cnt">({{item.cnt ? item.cnt : 0}})</span> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="parentVm.open.filter" class="spread-row" >
      <a href="javascript:;" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{!parentVm.open.filter ? '展开全部筛选项' : '收起全部筛选项'}}
      </a>
    </div>
  </div>
  <ui-view></ui-view>
</div>
<div kr-column3 column-options="parentVm.columnOptions" ng-if="parentVm.open.sideBar">

</div>
<!--<ui-view></ui-view>-->



