.login-wrapper {
  width: 1140px;
  margin: 0 auto;
  .login-layer {
    margin: 160px 480px;
    .message {
      font-size: 18px;
      color: #969FA9;
      line-height: 27px;
      width: 200px;
    }
    .login-btn {
      background: #6BA2FC;
      border-radius: 4px;
      width: 136px;
      height: 37px;
      padding: 10px 36px;
      a {
        color: #fff;
      }
    }
  }
}