@import "../../../common/styles/function";
@import "../../../common/styles/var";
.step-one-wrapper,  .step-two-wrapper, .finance-apply-wrapper, .similar-item-wrapper {
  overflow: hidden;
  padding:0 41px 20px;
  background: #fff;
  h4{
    color: @title-color;
    margin: 20px 0 30px;
    font-weight: normal;
    position: relative;
    display: flex;
    align-items: center;
    .font(16, 24);
    &:before {
      .before(4px, 18px, absolute);
      background: @title-color;
      left: -12px;
    }
  }
  form {
    width: @input-base-width;
  }
  .splitter{
    .splitter();
  }
  .prev,.next {
    .dlk();
    .size(180, 37);
    .font(14, 37);
    .rd(4px);
    .text-center();
  }
  .next {
    pointer-events: none;
    color: #fff;
    background: #ccc;
    .border1(#ccc);
    margin: 40px auto 30px;
  }
  .prev {
    .border1(@anchor-color);
    margin-right: 30px;
  }
  .next.active {
    background: @anchor-color;
    .border1(@anchor-color);
    pointer-events: auto;
  }
  .tip-text {
    margin-top: 6px;
  }
  select {
    width: @select-width;
  }
}
