@import "../../../common/styles/function";
@import "../../../common/styles/var";
.similar-item-wrapper{
  .item-tab{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    thead{
      .font(14,21);
      letter-spacing: 0px;
      color: #5A626D;
      background: #F9F9F9;
      td{
        height: 45px;
      }
    }
  }
  .more-item{
    display: block;
    .size(180,37);
    .font(14,37);
    color: #FFF;
    background: #6BA2FC;
    border-radius: 4px;
    .text-center();
    margin: 36px auto 30px;
  }
}
