@import "../../../common/styles/function";
@import "../../../common/styles/var";
.step-one-wrapper  {

  .logo {
    .square(90);
    border-radius: 6px;
    .border1(#E7E7E7);
    display: block;
  }

  & > div:nth-child(3) {
    float: left;
    width: @input-base-width;
    margin-left: 60px;
    .clear();
  }
  .upload-logo{
    float: left;
    .text-center();
    .font(12, 18);
    color: @tip-color;
    &>p:last-child {
      margin-top: 5px;
    }
    label {
      display: block;
      margin-bottom: 4px;
      text-align: left;
    }
  }
  .btn-upload-logo {
    margin:12px 0 8px;
    cursor: pointer;
    .btn-upload-logo();
  }
  .btn-upload-logo[disabled] {
    background: #ccc;
    pointer-events: none;
  }
  .textarea-control {
    width: 520px;
  }
  input[name="cname"]:focus,
  input[name="cname"]:hover {
    &+.name-tool-tip {
      display: block;
    }
  }
  .name-tool-tip {
    position: absolute;
    display: none;
    right: -220px;
    top: 25px;
    width: 205px;
  }


}

.suggest-result-wrapper {
  margin-top: 16px;
}
.step-one-wrapper.suggest-result-wrapper {
  .rd(0px);
}
