@import "../../../common/styles/function";
@import "../../../common/styles/var";
.step-one-wrapper  {

  & > div:nth-child(2) {
    float: left;
    .text-center();
  }

  .logo {
    .square(90);
    border-radius: 6px;
    .border1(#E7E7E7);
    display: block;
  }

  & > div:nth-child(3) {
    float: left;
    width: @input-base-width;
    margin-left: 60px;
    .clear();
  }
  .upload-logo{
    .font(12, 18);
    color: @tip-color;
    &>p:last-child {
      margin-top: 5px;
    }
  }
  .btn-upload-logo {
    margin:12px 0 8px;
    .btn-upload-logo();
  }

}

.suggest-result-wrapper {
  margin-top: 16px;
}
