<div ng-show="!parentVm.open.sideBar" class="filter-container project-wrapper">
  <div class="search-keyword">
    项目列表 ＞ 搜索 “{{parentVm.keyword}}”
  </div>
  <ul class="search-list">
    <li ng-repeat="item in parentVm.searchList" ng-class="{'active':item.active}" ng-click="parentVm.switchType($index)">
      {{item.name}}<span class="list-number">({{item.cnt}})</span>
    </li>
  </ul>
  <div class="filter-list default-show" ng-if="!parentVm.open.filter">
    <div class="filter-col" ng-show="parentVm.activeTab === 'company'">
      <div class="col-default">
        行业
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.industry ? parentVm.filterData.industry : '不限'}}
      </div>
      <div class="col-default">
        标签
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.label ? parentVm.filterData.label : '不限'}}
      </div>
      <div class="col-default">
        轮次
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.phase ? parentVm.filterData.phase : '不限'}}
      </div>
      <div class="col-default">
        所在地
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.city ? parentVm.filterData.city : '不限'}}
      </div>
      <div class="col-default" ng-if="root.user.isInvestor()" ng-click="parentVm.open.filter = !parentVm.open.filter">
        融资需求
      </div>
      <div class="col-val" ng-if="root.user.isInvestor()" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.isFundingLimit ? '融资中' : '不限'}}
      </div>
    </div>
    <div class="filter-col" ng-show="parentVm.activeTab === 'user'">
      <div class="col-default">
        关注行业
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.label ? parentVm.filterData.label : '不限'}}
      </div>
      <div class="col-default">
        偏好轮次
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.phase ? parentVm.filterData.phase : '不限'}}
      </div>
      <div class="col-default">
        所在地
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.city ? parentVm.filterData.city : '不限'}}
      </div>
    </div>
    <div class="filter-col" ng-show="parentVm.activeTab === 'org'">
      <div class="col-default">
        行业
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.industry ? parentVm.filterData.industry : '不限'}}
      </div>
      <div class="col-default">
        轮次
      </div>
      <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
        {{parentVm.filterData.phase ? parentVm.filterData.phase : '不限'}}
      </div>
    </div>
  </div>


  <div class="spread-btn icon-filter-open" ng-click="parentVm.open.filter = !parentVm.open.filter" ng-class="{'icon-filter-close': parentVm.open.filter}"></div>
  <div ng-if="parentVm.activeTab === 'company'">
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          行业
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.industry}">
              <ul filter-cal open-filter="parentVm.open.industry" ng-if="parentVm.data.industry">
                <!--ng-if="$index < parentVm.open.maxNumber || ($index >= parentVm.open.maxNumber && parentVm.open.address)"-->
                <li class="col-item" ng-repeat="item in parentVm.data.industry" ng-class="{'active': item.active}"  ng-click="parentVm.selectIndustry($index,'industry')">
                  {{item.desc}}({{item.cnt ? item.cnt : 0}})
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'industry');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('industry')" ng-class="{'open': parentVm.open.industry}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          标签
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.label}">
              <ul filter-cal open-filter="parentVm.open.label" data="parentVm.data.label">
                <li class="col-item" ng-repeat="item in parentVm.data.label" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'label')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'label');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('label')" ng-class="{'open': parentVm.open.label}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          轮次
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.phase}">
              <ul filter-cal open-filter="parentVm.open.phase" ng-if="parentVm.data.phase">
                <li class="col-item" ng-repeat="item in parentVm.data.phase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'phase')">
                  {{item.desc}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('phase')" ng-class="{'open': parentVm.open.phase}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          所在地
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.city}">
              <ul filter-cal open-filter="parentVm.open.city" ng-if="parentVm.data.city">
                <li class="col-item" ng-repeat="item in parentVm.data.city" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'city')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'city');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('city')" ng-class="{'open': parentVm.open.city}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter && root.user.isInvestor()">
      <div class="filter-col">
        <div class="col-type">
          融资需求
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.isFundingLimit}">
              <ul filter-cal ng-if="parentVm.data.isFundingLimit">
                <li class="col-item" ng-repeat="item in parentVm.data.isFundingLimit" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'isFundingLimit')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.id !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'isFundingLimit');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('isFundingLimit')" ng-class="{'open': parentVm.open.isFundingLimit}"></a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="parentVm.activeTab === 'user'">
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          关注行业
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.label}">
              <ul filter-cal open-filter="parentVm.open.label" ng-if="parentVm.data.label">
                <!--ng-if="$index < parentVm.open.maxNumber || ($index >= parentVm.open.maxNumber && parentVm.open.address)"-->
                <li class="col-item" ng-repeat="item in parentVm.data.label" ng-class="{'active': item.active}"  ng-click="parentVm.selectIndustry($index,'label')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'label');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('label')" ng-class="{'open': parentVm.open.label}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          偏好轮次
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.phase}">
              <ul filter-cal open-filter="parentVm.open.phase" ng-if="parentVm.data.phase">
                <li class="col-item" ng-repeat="item in parentVm.data.phase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'phase')">
                  {{item.desc}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('phase')" ng-class="{'open': parentVm.open.phase}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          所在地
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.city}">
              <ul filter-cal open-filter="parentVm.open.city" ng-if="parentVm.data.city">
                <li class="col-item" ng-repeat="item in parentVm.data.city" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'city')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'city');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('city')" ng-class="{'open': parentVm.open.city}"></a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="parentVm.activeTab === 'org'">
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          行业
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.industry}">
              <ul filter-cal open-filter="parentVm.open.industry" ng-if="parentVm.data.industry">
                <!--ng-if="$index < parentVm.open.maxNumber || ($index >= parentVm.open.maxNumber && parentVm.open.address)"-->
                <li class="col-item" ng-repeat="item in parentVm.data.industry" ng-class="{'active': item.active}"  ng-click="parentVm.selectIndustry($index,'industry')">
                  {{item.desc}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'industry');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('industry')" ng-class="{'open': parentVm.open.industry}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list" ng-if="parentVm.open.filter">
      <div class="filter-col">
        <div class="col-type">
          轮次
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.phase}">
              <ul filter-cal open-filter="parentVm.open.phase" ng-if="parentVm.data.phase">
                <li class="col-item" ng-repeat="item in parentVm.data.phase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'phase')">
                  {{item.desc}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('phase')" ng-class="{'open': parentVm.open.phase}"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<ui-view ng-show="!parentVm.open.sideBar"></ui-view>
<div kr-column3 column-options="parentVm.columnOptions" ng-if="parentVm.open.sideBar">

</div>
<!--<ui-view></ui-view>-->



