<div id="ucMessageWrapper">
  <div class="uc-message-wrapper" infinite-scroll="vm.loadMore()" infinite-scroll-distance='0' infinite-scroll-container="'#ucMessageWrapper'">
    <div class="uc-message-title">
      系统消息
    </div>
    <div class="uc-message-content" ng-if="!vm.noData">
      <div class="uc-message-list" ng-repeat="item in vm.msg" ng-click="vm.setRead(item.id,$index)" data-stat-click="uc.message.{{item.id}}.setRead">
        <span class="message-time">{{item.createdAt | msgDate}}</span>
        <span class="un-read" ng-if="!item.readed">未读</span>
        <span class="has-read" ng-if="item.readed">已读</span>
        <section class="message-content" kr-bind-html="item.content" is-watch="true" ng-if="item.content">
        </section>
      </div>
    </div>
  </div>
  <div class="loading-wrapper" ng-show="vm.dataLoading && !vm.noMore && !vm.noData">
    正在加载更多...
  </div>
  <div class="loading-wrapper" ng-if="vm.noMore && !vm.noData">
    已无更多消息...
  </div>
  <div class="loading-wrapper" ng-if="vm.noData">
    <span class="icon-message"></span>暂无消息
  </div>
</div>
