@top-height: 50px;
@padding-left: 20px;
@anchor-color: #6BA2FC;
@text-color: #5A626D;

.rz-header-wrapper, .rz-sidebar-wrapper {
  * {
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  .transition300 {
    transition: 300ms;
  }

}
.rz-header-wrapper {
  height: @top-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 8999;
  padding:0 26px;
  border-bottom: 1px solid #eee;
  .section{
    display: inline-block;
    margin-top: 25px;
    transform:translateY(-50%);
    .kr-logo{
      vertical-align: middle;
      display: inline-block;
    }
    .kr-name{
      font-size: 14px;
      color: #5A626D;
      letter-spacing: 0.5px;
      line-height: 21px;
    }
  }
  .right-content{
    float: right;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 50px;
    .history {
      display: none;
      background: #fff;
      position: absolute;
      width: 400px;
      left: 0px;
      margin-top: 3px;
      box-shadow: 0px 2px 8px 0px #CCCCCC;
      li:first-child {
        padding-left: 16px;
        font-weight: 600;
        color: #969FA9;
      }
      li {
        &:hover {
          background: #f9f9f9;
        }
        border-bottom: 1px solid #F2F4F5;
        color: #5A626D;
        padding-left: 30px;
        font-size: 14px;
        line-height: 37px;
        height: 37px;
      }
    }
    .search:focus + .history {
      display: block;
    }
    .history:hover {
      display: block;
    }
    .search{
      font-size: 14px;
      width: 400px;
      height: 28px;
      padding: 4px 18px;
      border:1px solid #e7e7e7;
      border-radius: 15px;
      color:#5A626d;
      vertical-align: middle;
    }
    .search::placeholder {
      color: #e7e7e7;
    }
    .input-search{
      position: absolute;
      right: 10px;
      top: 4px;
      color: #97a0a9;
      font-size: 20px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    .usr-content{
      display: flex;
      vertical-align: middle;
      position: relative;
      width: 34px;
      height: 34px;
      .icon-Setting {
        color: #222C38;
        background-color: #ddd;
        font-size:16px;
        position: absolute;
        left: 23px;
        top: 16px;
        border-radius: 50%;
      }
      img{
        width: 34px;
        height: 34px;
        border:1px solid #ececec;
        border-radius: 50%;
        vertical-align: middle;
      }
      .down{
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        color: #969fa9;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        &:hover{
          transform:rotate(180deg);
        }
      }
    }
  }
}


// sidebar start
.rz-sidebar-wrapper{
  &>ul{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    display: flex;
    flex-direction: column;
    background: #333742;
    padding-top: @top-height + 40px;
    color: #969fa9;
    z-index: 8001;
  }
  &>ul>li{
    position: relative;
    font-size: 14px;
    line-height: 48px;
    white-space: nowrap;
    &.back-home {
      position: absolute;
      bottom: 20px;
      span {
        vertical-align: bottom;
      }
      .back-text {
        font-size: 12px;
        line-height: 12px;
      }
    }
    &>a:hover{
      color: white;
    }
    &.project {
      height: auto;
    }
    &.project >a + .column {
      display: none;
    }
    &.project.active >a + .column {
      display: block;
    }
    .kr-icon{
      vertical-align: sub;
      display: inline-block;
      font-size: 18px;
      &:before{
        padding-top: 2px;
      }
    }
    ul.column {
      padding-left: 37px;
      padding-bottom: 14px;
      li:hover {
        color: @anchor-color;
      }
      li {
        cursor: pointer;
        line-height: 18px;
        height: 18px;
        font-size: 12px;
        margin-top: 14px;
        &:before {
          width: 3px;
          height: 3px;
          content: "";
          display: inline-block;
          margin-right: 8px;
          vertical-align: middle;
          background: #969FA9;
          border-radius: 50%;
        }
      }
      li.active {
        color: @anchor-color;
        &:before {
          background: @anchor-color;
        }
      }

    }
    a{
      text-decoration:none;
      color:#969fa9;
      padding-left: @padding-left;
      display: block;
      height: 48px;
    }
    &.active{
      &:before {
        width: 3px;
        height: 47px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #6ea4f9;

      }
      background-color: #24272E;
      .kr-icon{
        color: #FFF;
      }
      a{
        border-bottom: 1px solid #333742;
        color: #FFF;
      }
    }
  }

  &:not(:hover) .narrow{
    width:50px;
    transition: width .3s;
    .kr-tags{
      display: none;
    }
    a{
      text-decoration:none;
      color:#969fa9;
      padding-left: 14px;
      display: block;
    }
    ul.column {
      display: none !important;
    }

  }

  &:hover .narrow {
    transition: width .3s;
  }

}

.search-result-wrapper {
  position: relative;
  width: 400px;
  height: 28px;
  .ac-container {
    overflow: hidden;
    max-height: 560px;
    li {
      padding: 0px;
    }
    .search-no-result {
      line-height: 37px;
      height: 38px;
      border-bottom: 1px solid #f2f4f5;
      background: #fff;
      text-align: center;
      color: @anchor-color;
      font-size: 14px;
      width: 400px;
      span:hover {
        text-decoration: underline;
      }
    }
    .investor-avatar {
      border-radius: 50%;
      border: 1px solid #E7E7E7;
    }
    .ac-menu .ac-state-focus .search-row {
      background: #F9F9F9;
    }
    h4 {
      line-height: 37px;
      height: 37px;
      font-size: 14px;
      color: @text-color;
      padding-left: 16px;
      background: #fff;
    }
    h4.search-more {
      padding-left: 0px;
      border-bottom: 1px solid #f2f4f5;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      color: #e7e7e7;
    }
    .search-row {
      padding: 12px 20px 12px 16px;
      border-bottom: 1px solid #F2F4F5;
      background: #fff;
      img {
        float: left;
      }
      span {
        color: @text-color;
        font-size: 12px;
        line-height: 18px;
      }
      .intro {
        width: 300px;
        max-height: 50px;
        position: relative;
        overflow: hidden;
      }
      p:first-child {
        span:first-child {
          font-size: 14px;
          line-height: 21px;
          margin-right: 12px;
          color: @anchor-color;
        }
        span:nth-child(2) {
          margin-top: 3px;
        }
      }
      p:nth-child(2) {
        font-size: 12px;
        line-height: 18px;
        color: @text-color;
      }
    }
    .search-entity-text {
      float: left;
      width: 300px;
    }
  }
}

.rz-header-wrapper {
  .app-item {
    margin-left: 30px;
    &.message-item {
      margin-right:30px;
    }
    &>span {
      display: block;
      text-align: center;
    }
    position: relative;
    display: inline-block;
    .icon-iPhone {
      display: inline-block;
    }
    .app-text {
      display: block;
      font-size: 10px;
      line-height: 14px;
    }
  }
  .app-item:hover {
    color: @anchor-color;
    .icon-iPhone {
      & span[class *="path"]:before {
        color: @anchor-color;
      }
    }
  }
  .app-item:hover .app-pop-wrapper {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-50%);
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.31, 0.57, 0.68, 1.36);
  }
  .app-pop-wrapper {
    transition: none;
    transform-origin: 0 0;
    visibility: hidden;
    position: absolute;
    min-width: 180px;
    left: 50%;
    transform: scale(0) translateX(-50%);
    top: 38px;
    background: #fff;
    background-clip: padding-box;
    border: solid 4px rgba(221, 221, 221, 0.5);
    &:before {
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
      background: #fff;
      background-clip: padding-box;
      border: solid 4px rgba(221, 221, 221, 0);
      border-width: 4px 4px 0 0;
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translateX(-46%) rotate(-45deg);
      content: " ";
    }
    &:after {
      position: absolute;
      width: 0;
      height: 0;
      content: "";
      border: 5px solid rgba(221, 221, 221, 0.5);
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


//sidebar end
@import "./slide-panel";
