@top-height: 50px;
@padding-left: 20px;
.rz-header-wrapper {
  height: @top-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 8999;
  padding:0 26px;
  border-bottom: 1px solid #eee;
  .section{
    display: inline-block;
    margin-top: 25px;
    transform:translateY(-50%);
    .kr-logo{
      vertical-align: middle;
      display: inline-block;
    }
    .kr-name{
      font-size: 14px;
      color: #5A626D;
      letter-spacing: 0.5px;
      line-height: 21px;
    }
  }
  .right-content{
    float: right;
    padding-right: 50px;
    vertical-align: middle;
    .search{
      font-size: 14px;
      width: 400px;
      height: 28px;
      padding: 4px 18px;
      border:1px solid #e7e7e7;
      border-radius: 15px;
      color:#e7e7e7;
      vertical-align: middle;
      margin-right: 30px;
    }
    .input-search{
      position: absolute;
      margin-left: -60px;
      color: #97a0a9;
      font-size: 20px;
      line-height: 30px;
    }
    .usr-content{
      display: inline-block;
      vertical-align: middle;

      img{
        width: 30px;
        height: 30px;
        border:1px solid #ececec;
        border-radius: 15px;
        vertical-align: inherit;
      }
      .down{
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        color: #969fa9;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        &:hover{
          transform:rotate(180deg);
        }
      }
    }
  }
}


// sidebar start
.rz-sidebar-wrapper{
  ul{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    display: flex;
    flex-direction: column;
    background: #333742;
    padding-top: @top-height + 40px;
    color: #969fa9;
    z-index: 10001;
  }
  li{
    list-style: none;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    border-left: 3px solid transparent;

    .kr-icon{
      vertical-align: sub;
      font-size: 18px;
      &:before{
        padding-top: 2px;
      }
    }
    a{
      text-decoration:none;
      color:#969fa9;
      padding-left: @padding-left;
      display: block;
    }
  }
  .active{
    border-left: 3px solid #6ea4f9;
    background-color: #24272E;
    .kr-icon{
      color: #FFF;
    }
    a{
      color: #FFF;
    }
  }
  .narrow{
    width:50px;
    .kr-tags{
      display: none;
    }
    a{
      text-decoration:none;
      color:#969fa9;
      padding-left: 14px;
      display: block;
    }

  }
}



//sidebar end
