<header class="rz-header-wrapper">
  <a data-stat-click="topnav.index.back" ui-sref="index" class="rz-title section">
  	<img src="/images/head.png" alt="" class='kr-logo' id="showImg">
  	<span class="kr-name">36氪创投助手</span>
  </a>
  <div class="right-content">

    <div kr-search>
      <div mass-autocomplete="{debounce_blur:700,top:30,left:0.01,maxWidth:400,
        debounce_attach: 100,
        onClick: vm.onClick, notFocus: true,
        position:'parent'}" search-out="vm.searchOut"
        class="search-result-wrapper">
          <input ng-trim="false" mass-autocomplete-item="vm.autocompleteOptions"
            ng-model="vm.kw"
            type="text" class="search" placeholder="输入创业项目、投资人、投资机构名称搜索">
          <span tabindex="2" ng-click="vm.searchRecord(vm.kw)" class="icon-Search input-search">
            <span class="path1"></span><span class="path2"></span>
          </span>
      </div>
    </div>

    <div class="app-item">
      <span>
        <span class="icon-iPhone">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </span>
        <span class="app-text">客户端</span>
      </span>
      <div class="app-pop-wrapper">
        <div class="app-pop-container">
          <img width="214" height="275" src="/images/app.png" alt=""/>
        </div>
      </div>
    </div>
    <div class="app-item login" ng-click="root.user.ensureLogin()" ng-class="{'show': !root.user.data.id}">
      <span>
        <span class="icon-login">
        </span>
        <span class="app-text">登录</span>
      </span>
    </div>
    <div class="app-item register" ng-click="root.user.goRegister()" ng-class="{'show': !root.user.data.id}">
      <span>
        <span class="icon-register">
        </span>
        <span class="app-text">注册</span>
      </span>
    </div>
    <div class="usr-content" kr-slide-panel disabled="!root.user.data.id" key="msg" ng-show="root.user.data.id">
      <pane-trigger>
        <div class="app-item message-item" ng-click="root.user.ensureLogin()">
          <span>
            <span class="icon-message">
              <span class="un-read-point" msg-point></span>
            </span>
            <span class="app-text">消息</span>
          </span>
        </div>
      </pane-trigger>
      <pane-body oc-lazy-load="root.assets.page.uc" ng-if="root.user.data.id">
        <uc-message></uc-message>
      </pane-body>
    </div>
    <div class="usr-content" kr-slide-panel disabled="!root.user.data.id" key="user" ng-show="root.user.data.id">
      <pane-trigger>
        <img ng-src="{{root.user.data.avatar}}" ng-click="root.user.ensureLogin()" src="/images/investor-logo.png" alt="">
        <span class='icon-Setting'></span>
      </pane-trigger>
      <pane-body oc-lazy-load="root.assets.page.uc" ng-if="root.user.data.id">
        <uc-page></uc-page>
      </pane-body>
    </div>

  </div>

</header>

<script>


</script>
