@import "../../common/styles/function";
@import "../../common/styles/var";
@import "./style/var";
@import "./style/item";
@import "./style/new";
@import "./style/team";
@import "./style/light";
@import "./style/history";
@import "./style/detail";
@import "./style/base";
@import "./style/footer";
@import "./style/product";
@import "./style/claim";
.project-wrapper {
  .project-var();
  background: @bg-global-color;
  height: auto;
  width: 100%;
  font-size: 14px;
  color: @text-color;
  padding-bottom: 70px;

  // base-info-wrapper start
  .base-info-wrapper {
    width: 100%;
    background: @bg-color;
    .base-info-content{
      width: @content-width;
      padding: 30px;
      margin:0 auto;
      overflow: hidden;
      &>div{
        float: left;
      }
      &>div:nth-child(2){
        margin-left: 18px;
      }
      h1 {
      font-size: 20px;
      color: #222C38;
      line-height: 24px;
      font-weight: normal;
        span{
          display: inline-block;
          vertical-align: top;
          line-height: 18px;
          font-size: 12px;
          color: @tag-color;
          padding: 1px 6px;
          border-radius: 1px;
          background: fade(@tag-bg-color, 20%);
          margin-right: 5px;
        }
        span:first-child {
          margin-left: 14px;
        }
        span:last-child {
          margin-right: 0px;
        }
      }
      h3{
        color: @text-color;
        font-size: 14px;
        line-height: 19px;
        margin: 10px 0 13px;
        font-weight: normal;
      }
      .kr-icon {
        .dlk();
        .vam();
        font-size: 20px;
      }
      .icon-Weibo{
        color: rgb(231,61,54);
        vertical-align: middle;
      }
      .icon-Wechat{
        color: rgb(61,190, 48);
        margin: 0 12px 0 11px;
      }
      .disable {
        color: #ccc;
      }
      span.icon-Hot {
        font-size: 16px;
      }
      .hot-text {
        .font(14, 21);
        .dlk();
        .vam();
      }
      p {
        .icon-websitelink {
          font-size: 20px;
        }
        a {
          font-size: 12px;
          line-height: 16px;
          display: inline-block;
        }
      }
      .finance-brief {
        width: 249px;
        height: 90px;
        float: right;
        .rd(4px);
        .border1(@border-color);
        overflow: hidden;
        p {
          overflow: hidden;
          span {
            float: left;
            width: 50%;
            .text-center();
          }
        }
        p:nth-child(2){
          margin-top: 8px;
          margin-bottom: 2px;
          color: #222C38;
          .font(14, 21);
        }
        p:last-child {
          .font(12, 18);
        }
        p:first-child {
          .font(14, 33);
          background: #e7e7e7;
          .text-center();
        }
      }
    }

    .base-info-content-edit {
      width: @content-width;
      padding: 30px;
      margin:0 auto;
      overflow: hidden;
      .logo {
        .logo();
        display: block;
      }
      & > div:first-child {
        float: left;
        .text-center();
      }

      & > div:nth-child(2) {
        float: left;
        width: @input-base-width;
        margin-left: 60px;
        .clear();
      }
      .cancel {
        margin-bottom: 10px;
      }
    }
    .logo {
      .square(90);
      border-radius: 6px;
      .border1(#E7E7E7);
    }
  }
  //base-info-wrapper end

  //nav start
  .nav-wrapper {
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 8px -8px;
  }
  nav{
    width: @content-width;
    margin:0 auto;
    ul {
      border-top: 1px solid #F2F4F5;
      overflow: hidden;
    }
    li {
      margin-right: 30px;
      padding: 14px 0;
      float: left;
      position: relative;
      a {
        color: @text-color;
      }
    }
    li:last-child {
      float: right;
      padding: 10px 0px;
      a {
        .border1(@anchor-color);
        color: @anchor-color;
        .dlk();
        padding: 3px 16px;
        .rd(4px);
        .font(12, 18);
      }
    }
    li>a.active {
      display: relative;
      color: #222C38;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom:0;
        height: 4px;
        width: 100%;
        background: @anchor-color;
      }
    }
  }
  //nav end
}
// project common
.project-wrapper {
  .project-var();
  .project-module {
    background-color: #fff;
    width: @content-width;
    margin: 0 auto;
    padding: 20px 42px 30px;
    box-shadow: 0px 0px 8px 0px #E7E7E7;
    // min-height: 300px;
    margin-top: @module-margin;
    h4 {
      color: @deep-text-color;
      .font(16, 24);
      font-weight: normal;
      position: relative;
      display: flex;
      align-items: center;
      &:before {
        .before(4px, 18px, absolute);
        background: @deep-text-color;
        left: -12px;
      }
      margin: 0 0 24px;
    }
  }
  .project-module.light {
    margin-top: 30px;
  }
  .ngdialog-theme-default{
    text-align: center;
    padding-top: 80px;
  }
  .ngdialog-content{
    background: #fff !important;
    padding: 30px 80px !important;
    border-radius: 0 !important;
    min-width: 500px !important;
    display: inline-block;
    width: auto !important;
  }
  .project-dialog{
    padding: 30px 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  }

}

.project-wrapper {
  .form-bottom {
    div {
      .text-center();
    }
    a {
      display: inline-block;
      margin-top: 20px;
      width: 87px;
      .font(14, 37);
      border-radius: 4px;
      color: #fff;
      background: @anchor-color;
    }
    .cancel {
      background: #fff;
      color: @tip-color;
      .border1(#ccc);
      margin-left: 30px;
    }
  }
  .splitter {
    clear: both;
    width: 100%;
    margin-top: 5px;
    border-top: 2px dotted #e7e7e7;
  }
  .tip-text {
    margin-top: 6px;
  }
}

.base-info-edit {
  font-family: FZLTXHK--GBK1-0;
  font-size: 14px;
  color: #222C38;
  letter-spacing: 0px;
  line-height: 21px;
}
.base-info-edit .explain {
  font-size: 12px;
  color: #969FA9;
  letter-spacing: 0px;
  line-height: 18px;
  float: right;
}
.base-info-edit .introduction {
  height: 154px;
  resize : none;
}
.base-info-edit .company-name {
  width: 65%;
}
.base-info-edit .select-inline {
  width: 20%;
  display: inline-block;
}
.base-info-edit .select-margin {
  margin-left: 5%;
}
