<div class="project-wrapper" ng-if="!parentVm.labelEmpty && parentVm.user.isLogin">
  <div ng-show="!parentVm.open.sideBar">
    <div class="filter-container">
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadLabel()" ng-class="{'open': parentVm.isOpen}"></a>
      </div>
      <div class="search-outside-container" ng-class="{'height-auto':parentVm.isOpen}">
        <ul class="search-list my-follow" filter-col data="parentVm.followLabel" ng-if="parentVm.followLabel">
          <a class="label-manage" href="javascript:void(0)" ng-click="parentVm.addLabel()">标签管理</a>
          <li ng-repeat="item in parentVm.followLabel track by $index" ng-class="{'active':item.active}" ng-click="parentVm.switchType($index)">
            {{item.name}}
          </li>
        </ul>
      </div>

      <div class="filter-list default-show my-follow" ng-if="!parentVm.open.filter">
        <div class="filter-col">
          <div class="col-default">
            行业
          </div>
          <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
            {{parentVm.filterData.industry ? parentVm.filterData.industry : '不限'}}
          </div>
          <div class="col-default">
            标签
          </div>
          <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
            {{parentVm.filterData.label ? parentVm.filterData.label : '不限'}}
          </div>
          <div class="col-default">
            轮次
          </div>
          <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
            {{parentVm.filterData.phase ? parentVm.filterData.phase : '不限'}}
          </div>
          <div class="col-default">
            所在地
          </div>
          <div class="col-val" ng-click="parentVm.open.filter = !parentVm.open.filter">
            {{parentVm.filterData.city ? parentVm.filterData.city : '不限'}}
          </div>
          <div class="col-default" ng-if="root.user.isInvestor()" ng-click="parentVm.open.filter = !parentVm.open.filter">
            融资需求
          </div>
          <div class="col-val" ng-if="root.user.isInvestor()" ng-click="parentVm.open.filter = !parentVm.open.filter">
            {{parentVm.filterData.isFundingLimit ? '融资中' : '不限'}}
          </div>
        </div>
      </div>


      <div class="spread-btn" ng-click="parentVm.open.filter = !parentVm.open.filter"></div>
      <div>
        <div class="filter-list" ng-if="parentVm.open.filter">
          <div class="filter-col">
            <div class="col-type">
              行业
            </div>
            <div class="col-content">
              <div class="col-list-container">
                <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.industry}">
                  <ul filter-cal>
                    <!--ng-if="$index < parentVm.open.maxNumber || ($index >= parentVm.open.maxNumber && parentVm.open.address)"-->
                    <li class="col-item" ng-repeat="item in parentVm.data.industry" ng-class="{'active': item.active}"  ng-click="parentVm.selectIndustry($index,'industry')">
                      {{item.desc}}({{item.cnt ? item.cnt : 0}})
                      <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'industry');$event.stopPropagation();"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-handle">
              <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('industry')" ng-class="{'open': parentVm.open.industry}"></a>
            </div>
          </div>
        </div>
        <div class="filter-list" ng-if="parentVm.open.filter">
          <div class="filter-col">
            <div class="col-type">
              标签
            </div>
            <div class="col-content">
              <div class="col-list-container">
                <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.label}">
                  <ul filter-cal>
                    <li class="col-item" ng-repeat="item in parentVm.data.label" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'label')">
                      {{item.name}}({{item.cnt ? item.cnt : 0}})
                      <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'label');$event.stopPropagation();"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-handle">
              <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('label')" ng-class="{'open': parentVm.open.label}"></a>
            </div>
          </div>
        </div>
        <div class="filter-list" ng-if="parentVm.open.filter">
          <div class="filter-col">
            <div class="col-type">
              轮次
            </div>
            <div class="col-content">
              <div class="col-list-container">
                <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.phase}">
                  <ul filter-cal>
                    <li class="col-item" ng-repeat="item in parentVm.data.phase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'phase')">
                      {{item.desc}}({{item.cnt ? item.cnt : 0}})
                      <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-handle">
              <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('phase')" ng-class="{'open': parentVm.open.phase}"></a>
            </div>
          </div>
        </div>
        <div class="filter-list" ng-if="parentVm.open.filter">
          <div class="filter-col">
            <div class="col-type">
              所在地
            </div>
            <div class="col-content">
              <div class="col-list-container">
                <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.city}">
                  <ul filter-cal>
                    <li class="col-item" ng-repeat="item in parentVm.data.city" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'city')">
                      {{item.name}}({{item.cnt ? item.cnt : 0}})
                      <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.value !== 'unlimited'" ng-click="parentVm.clearIndustry(item.id,'city');$event.stopPropagation();"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-handle">
              <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('city')" ng-class="{'open': parentVm.open.city}"></a>
            </div>
          </div>
        </div>
        <div class="filter-list" ng-if="parentVm.open.filter && root.user.isInvestor()">
          <div class="filter-col">
            <div class="col-type">
              融资需求
            </div>
            <div class="col-content">
              <div class="col-list-container">
                <div class="filter-outside-container" ng-class="{'height-auto':parentVm.open.isFundingLimit}">
                  <ul filter-cal>
                    <li class="col-item" ng-repeat="item in parentVm.data.isFundingLimit" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'isFundingLimit')">
                      {{item.name}}({{item.cnt ? item.cnt : 0}})
                      <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.id !== 'unlimited'" ng-click="parentVm.clearIndustry(item.value,'isFundingLimit');$event.stopPropagation();"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-handle">
              <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="parentVm.spreadMore('isFundingLimit')" ng-class="{'open': parentVm.open.isFundingLimit}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ui-view></ui-view>
  </div>

  <div kr-column3 column-options="parentVm.columnOptions" ng-if="parentVm.open.sideBar">

  </div>
</div>

<div class="login-container" ng-if="parentVm.labelEmpty || !parentVm.user.isLogin">
  <div class="login-layer" ng-if="parentVm.labelEmpty && parentVm.user.isLogin">
    <div class="login-tip"></div>
    <section class="tip-text">
      还未关注任何标签,暂时无法提供项目
    </section>
    <a href="javascript:void(0)" class="add-btn" ng-click="parentVm.addLabel()">添加关注标签</a>
  </div>
  <div class="login-layer" ng-if="!parentVm.user.isLogin">
    <div class="login-tag"></div>
    <a href="javascript:void(0)" class="add-btn" ng-click="parentVm.login()">登录查看关注项目</a>
  </div>
</div>


<!--<ui-view></ui-view>-->



