<div class="base-info">
  <h4>基本介绍</h4>
  <div>
    <ul class="tags" >
      <li class="tag-icon"><span class="icon-Tags"></span></li>
      <li class="tag" ng-repeat="tag in ::vm.baseInfoVM.industryTag">{{tag}}</li>
    </ul>
    <div class="info">
      <p ng-bind="vm.baseInfoVM.intro"></p>
    </div>
    <ul class="company-info">
      <li>公司全称：{{::vm.baseInfoVM.fullName}}</li>
      <li>成立时间：{{::(vm.baseInfoVM.startDate | date: 'yyyy-MM-dd')}}</li>
      <li>公司规模：{{::vm.baseInfoVM.scale}}</li>
      <li class="more">查看更多工商信息</li>
    </ul>
  </div>
</div>
