<div class="base-info">
  <h4>基本介绍<a href="javascript:void(0)" ng-click="vm.introductionVM.enterEditMode()"
      ng-if="!vm.introductionVM.isEdit">添加+</a></h4>
  <section id="baseInfoEdit" ng-include="'/pages/project/templates/baseInfoEdit.html'"
    ng-if="vm.introductionVM.isEdit">
    基本介绍编辑
  </section>
  <div ng-if="!vm.introductionVM.isEdit">
    <ul class="tags" ng-show="vm.projectData.baseInfo.industryTag && vm.user!='commen'">
      <li class="tag-icon"><span class="icon-Tags"></span></li>
      <li class="operation-tag" ng-repeat="tag in vm.projectData.baseInfo.operationTag">{{tag}}</li>
      <li class="tag" ng-repeat="tag in vm.projectData.baseInfo.industryTag">{{tag}}</li>
    </ul>
    <div class="info">
      <span id="node" text-overflow text="vm.introductionVM.intro" >
      </span>
    </div>
    <ul class="company-info">
      <li>公司全称：{{::vm.introductionVM.fullName}}</li>
      <li>成立时间：{{::(vm.introductionVM.startDate | date: 'yyyy-MM-dd')}}</li>
      <li>公司规模：{{::vm.introductionVM.scale}}</li>
      <li class="more"><a ng-href="{{vm.projectData.baseInfo.businessInfoUrl}}" target="_blank">查看更多工商信息</a></li>
    </ul>
  </div>
</div>
