<div class="project-base-info-wrapper">
  <div class="head">
    <span class="icon-introduction-head"></span>
    <span class="title">项目介绍</span>
    <span class="icon-Edit" ng-if="!vm.introductionVM.isEdit && vm.isEditMode"></span>
    <a class="edit-btn" href="javascript:void(0)" ng-click="vm.introductionVM.enterEditMode()"
        ng-if="!vm.introductionVM.isEdit && vm.isEditMode" data-stat-click="project.{{vm.id}}.baseIntro.edit">编辑</a>
  </div>
  <div class="base-info">
    <h4 ng-show="vm.companyIntroduceVM.hasIntroduce && root.user.isLogin === true">概述</h4>
    <section id="baseInfoEdit" ng-include="'/pages/project/templates/baseInfoEdit.html'"
      ng-if="vm.introductionVM.isEdit">
      基本介绍编辑
    </section>
    <div ng-if="!vm.introductionVM.isEdit && !vm.introductionVM.isEmpty">
      <ul ng-if="vm.projectData.baseInfo.operationTag.length || vm.projectData.baseInfo.industryTag.length" class="tags">
        <li class="tag-icon"><span class="icon-Tags"></span></li>
        <li ng-if="tag" class="operation-tag" ng-repeat="tag in vm.projectData.baseInfo.operationTag">
          <a ui-sref="label.result({labelId: tag.id})" target="_blank">{{tag.name}}</a>
        </li>
        <li ng-if="tag" class="tag" ng-repeat="tag in vm.projectData.baseInfo.industryTag">
          <a ui-sref="label.result({labelId: tag.id})" target="_blank">{{tag.name}}</a>
        </li>
      </ul>
      <div ng-if="vm.projectData.baseInfo.intro" class="info">
        <span id="node" text-overflow text="vm.projectData.baseInfo.intro | enterFormat" >
        </span>
      </div>
      <ul class="company-info">
        <li ng-if="vm.projectData.baseInfo.fullName">公司全称：{{::vm.projectData.baseInfo.fullName}}</li>
        <li ng-if="vm.projectData.baseInfo.scale">公司规模：{{::vm.projectData.baseInfo.scale}}</li>
        <!-- <li ng-if="vm.projectData.baseInfo.address1Desc"
        >地点：{{::vm.projectData.baseInfo.address1Desc}}</li> -->
        <li ng-if="vm.projectData.baseInfo.startDate"
        >成立时间：{{::vm.projectData.baseInfo.startDateDesc}}年</li>
        <li class="more underline" ng-if="vm.projectData.baseInfo.businessInfoUrl">
          <a ng-href="{{vm.projectData.baseInfo.businessInfoUrl}}" target="_blank">使用“启信宝”查看更多</a></li>
      </ul>
      <ul class="company-info">
        <!-- <li ng-if="vm.projectData.baseInfo.operationStatusEnum">
          运营状态：{{vm.projectData.baseInfo.operationStatusEnum | operationStatus}}</li> -->

      </ul>
    </div>
    <div class="text-center" ng-if="!vm.introductionVM.isEdit && vm.introductionVM.isEmpty">
      暂无数据
    </div>
  </div>
  <!--ng-show="vm.companyIntroduceVM.hasIntroduce && root.user.isLogin === true"-->
  <div class="project-intro-wrapper" ng-if="vm.companyIntroduceVM.data.companyIntroduce.productService || vm.companyIntroduceVM.data.companyIntroduce.userMarket || vm.companyIntroduceVM.data.companyIntroduce.businessMode || vm.companyIntroduceVM.data.companyIntroduce.operationData || vm.companyIntroduceVM.data.companyIntroduce.coreSource">
    <div ng-if="!vm.introductionVM.isEdit">
      <h4>详细介绍</h4>

      <div class="introduce-detail">
        <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.productService">
          <span class="sub-title">产品服务</span>
          <span class="intro" ng-bind-html="vm.companyIntroduceVM.data.companyIntroduce.productService | enterFormat"></span>
        </div>
        <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.userMarket">
          <span class="sub-title">用户市场</span>
          <span class="intro" ng-bind-html="vm.companyIntroduceVM.data.companyIntroduce.userMarket | enterFormat"></span>
        </div>
        <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.businessMode && (root.user.isInvestor() || vm.isEditMode)">
          <span class="sub-title">商业模式</span>
          <span class="intro" ng-bind-html="vm.companyIntroduceVM.data.companyIntroduce.businessMode | enterFormat"></span>
        </div>
        <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.operationData && (root.user.isInvestor() || vm.isEditMode)">
          <span class="sub-title">运营数据</span>
          <span class="intro" ng-bind-html="vm.companyIntroduceVM.data.companyIntroduce.operationData | enterFormat"></span>
        </div>
        <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.coreSource && (root.user.isInvestor() || vm.isEditMode)">
          <span class="sub-title">核心资源</span>
          <span class="intro" ng-bind-html="vm.companyIntroduceVM.data.companyIntroduce.coreSource | enterFormat"></span>
        </div>
      </div>
<!--       <div class="no-data" ng-if="!vm.companyIntroduceVM.hasIntroduce && root.user.isLogin === true">
        <span>
            <span class="icon-Company icon"></span>
            <span>未收录相关信息</span>
          </span>
      </div> -->
      <div class="part-hide" ng-if="vm.companyIntroduceVM.hasIntroduce && root.user.notInvestor() && !vm.isEditMode">
        <a class="certify" ui-sref="investorValidate" href="javascript:void()"><p>认证投资人</p></a>
        <p class="complete">查看完整项目介绍</p>
      </div>
      <!--- 未登录状态全部不可见 -->
      <div class="login-out" ng-if="root.user.isLogin === false">
        <a  href="javascript:;" login-btn><div class="login">立即登录</div></a>
        <div class="intro1">查看项目介绍</div>
      </div>
    </div>
  </div>
</div>
