<div class="bp">
  <span class="icon-dialogClose" ng-click="vm.BPCancle()"></span>
  <span class="t-header">
    <p class="line-1">项目的BP需要获得创业者同意才可查看
    </p>
  </span>
  <span class="warn-apply bgcDark" ng-show="!(vm.applyBpStatus || vm.suc)" ng-click="vm.apply()">申请查看BP</span>
  <span class="warn-applied" ng-show="vm.applyBpStatus == 'REFUSE'">你的申请被残忍拒绝</span>
  <span class="warn-applied" ng-show="vm.applyBpStatus =='APPLY' || vm.suc"><img src="/images/icon_complete.png" alt="">申请已发出，等待创业者回复</span>
  <div class="t-content">
    <div class="content-left">
      <img src="/images/test.png" alt="">
    </div>
    <div class="content-right">
      <div class="list">
        <span class="info">使用创投助手App扫一扫</span>
        <span class="info">即刻联系创业者</span>
      </div>
    </div>
  </div>
</div>
