<div class="dialog-claim">
  <div class="claim-header">
    <p>认证信息 <span class="icon-dialogTags"></span></p>
    <div class="claimant" ng-hide='!vm.manager.hasManager'>
      <div class="claimant-info">
        已有认领人<a href="">刘成城</a>，若非真实可<a href="" ng-click="vm.claimVM.report=!vm.claimVM.report">举报更改</a>
      </div>
      <div class="report" ng-show="vm.claimVM.report">
        请将举报材料（个人名片、公司营业执照等可证明对公司有实际控制权的证明材料）提交至“融资小秘书：*******”，会在3个工作日内联系您，并给出结果反馈。
      </div>
    </div>
  </div>
  <div class="claim-form">
    <form action="" name="vm.claim.form">
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">真实姓名</span>
        </p>
        <span id="claimFullName"
              class="error-tip"></span>
        <input type="text" class="content form-control" name="realName" placeholder="输入中文真实姓名" ng-model="vm.claimform.userName"
        message-id="claimFullName"
        required-error-message="输入中文真实姓名"
        validator="required">
      </div>
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">职位</span>
        </p>
        <div class="form-group">
          <select name="position" class="form-control"
          class="content form-control"
          ng-model="vm.claimform.privilegeEnum"
          validator="required"
          message-id="claimPosition"
          number-error-message="请选择职位">
            <option value="MEMBER">公司员工</option>
            <option value="START_UP_MEMBER" ng-show="!vm.manager.hasManager">创始成员</option>
          </select>
          <span id="claimPosition" class="error-tip"></span>
          <input type="text" class="position content form-control" placeholder="输入职位" ng-model="vm.claimform.userPosition" >
        </div>

      </div>
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">手机号码</span>
        </p>
        <span id="claimPhone" class="error-tip"></span>
        <input type="text"
        name="claimPhone"
        class="content form-control"
        placeholder="输入真实手机号"
        ng-model="vm.claimform.userPhone"
        validator="number, required"
        message-id="claimPhone"
        number-error-message="输入真实手机号">
      </div>
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">公司邮箱</span>
        </p>
        <span id="claimEmail" class="error-tip"></span>
        <input type="text"
        class="content form-control"
        placeholder="输入公司邮箱，便于审核"
        ng-model="vm.claimform.userEmail"
        validator="email, required"
        email-error-message="输入公司邮箱"
        id="claimEmail"
        name="claimEmail"
        message-id="claimEmail">
      </div>
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">个人微信</span>
        </p>
        <span id="claimWeixin" class="error-tip"></span>
        <input type="text"
        class="content form-control"
        placeholder="输入个人微信号，方便联系"
        ng-model="vm.claimform.userWeiXin"
        validator="required"
        message-id="claimWeixin"
        required-error-message="输入个人微信号"
        name="claimWeixin">
      </div>
      <div class="form-list form-group">
        <p>
          <span class="require">*</span><span class="title">个人名片</span>
        </p>
        <img ng-src="{{vm.background}}" alt="" class="upload-img">
        <span class="uploading" ngf-select="vm.uploadImage($files)"
          ngf-accept="'image/*'">{{vm.suc?'点击更新图片':'点击上传名片'}}</span>
          <span class="warn-img">建议上传尺寸：90mm*50mm</span>

      </div>
      <div ng-if="vm.isFunder()">
        <div class="form-group creator-title">
          <label>创始人联系方式</label>
          <span  class="form-tip" >便于更好完善该项目信息</span>
        </div>

        <div class="form-group">
          <label for="">姓名</label>
          <input  ng-model="vm.claimform.starterName"
            placeholder="输入中文真实姓名"
            maxlength="30"
            type="text" name="starterName" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">职位</label>
          <div>
            <input ng-model="vm.claimform.starterPosition"
              placeholder="输入职位"
            type="text" name="starterPosition" class="form-control position-name"  />
          </div>

        </div>

        <div class="form-group">
          <label for="">手机号码</label>
          <span class="error-tip" id=""></span>
          <input  ng-model="vm.claimform.starterPhone"
          maxlength="30"
          placeholder="输入真实手机号"
          type="text" name="starterPhone" class="form-control" />
        </div>
      </div>
    </form>
  </div>
  <div class="claim-bottom">
    <input type="button" value="保存" class="save" ng-click="vm.save()">
    <input type="button" value="取消" class="cancle" ng-click="vm.claimCancle()">
  </div>
  <span class="icon-dialogClose" ng-click="vm.claimCancle()"></span>


</div>
