<div class="collection">
  <span class="icon-dialogClose" ng-click="vm.collectCancle()"></span>
  <span class="title">添加到收藏夹</span>
  <div class="content-list">
    <ul>
      <li ng-repeat="item in vm.list">
        <input type="checkbox" class="checkbox" name='collection' ng-model="item.checked" ng-change="vm.change(item)">
        <span class="collection-name">{{item.name}}</span>
        <span class="collections">{{item.num}}</span>
      </li>


    </ul>
  </div>
  <div class="create-box">
    <span class="create" ng-hide="vm.createShow" ng-click="vm.createNew()">创建收藏夹+</span>
    <form class="new-box" ng-hide="!vm.createShow" name="collectionName">
      <div class="form-group">
        <input type="text" name='createName' ng-model='vm.collectionName' validator="required" class="form-control">
      <span class="new-button" ng-click="vm.create()">创建</span>
      </div>

    </form>

  </div>

  <div class="operate">
    <span class="save" ng-hide="!vm.selected.length" ng-click="vm.save()">保存</span>
    <span class="save display" ng-hide="vm.selected.length">保存</span>
    <span class="cancle" ng-click='vm.collectCancle()'>取消</span>
  </div>
</div>
