<div class="project-finance-history-wrapper">
  <div class="head">
    <span class="icon-finance-head"></span>
    <span class="title">融资经历</span>
  </div>
  <div class="finance-history">

    <div class="finance-detail">
      <div class="point"></div>
      <div class="title">
        <span ng-if="vm.fundsVM.funds">融资中</span>
        <span>{{vm.fundsVM.fundsVo.fundsPhase | financePhase}}</span>
        <span>
           <small ng-show="vm.fundsVM.financeAmountUnit =='USD'">$</small
           ><small ng-show="vm.fundsVM.financeAmountUnit !='USD'">￥</small>{{vm.fundsVM.financeAmount}}万
        </span>
        <a href="#">查看融资详情</a>
      </div>
      <div class="detail-content">
        <div class="container" more-show text="vm.fundsVM.fundsVo">
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" ng-click="vm.financeVM.enterEditMode()"
        ng-if="!vm.financeVM.isEdit && vm.isEditMode" data-stat-click="project.{{vm.id}}.financeHistory.add">添加</a>
    <section id="financeHistoryEdit" ng-include="'/pages/project/templates/financeHistoryEdit.html'"
      ng-if="vm.financeVM.isEdit">
      融资经历编辑
    </section>
    <div ng-show="vm.financeVM.financeList.length" ng-if="vm.userId"
    class='finance-content'>
      <ul class="history-list">
        <li class="history-info" ng-repeat="data in vm.financeVM.list">
          <span class="info-year">{{data.financeDate | date: 'yyyy.MM' }}</span>
          <div class="line"></div>
          <div class="line2"></div>
          <div class="circular">
            <div class="circular2"></div>
          </div>
          <div class="angle"></div>
          <div class="finance-info">
            <span class="info-lun">
              <a href="" class="darkColor" ng-if="data.phase">{{data.phase | financePhase}}</a>
            </span>
            <div class="split"></div>
            <div class="amount-participant">
              <div class="amount">
                <span class="amount-top label-name">融资金额</span>
                <span ng-if="data.financeAmount!==''" class="amount-top info-level">{{data.financeAmount}} {{data.financeAmountUnit | currencyUnit}}
                </span><br/>
                <span class="participant-down-label label-name">投资方</span>
                <span class="info-company" ng-if="data.participantVos" >
                  <a href="" ng-repeat="entity in data.participantVos" class="darkColor">{{entity.entityName}}</a>
                </span>
                <span ng-if="vm.financeVM.isUndefined(data.participantVos)" class="participant-down info-company">
                  暂无
                </span>
                <span ng-if="vm.financeVM.isUndefined(data.participantVos)" class="participant-down info-company">
                  暂无
                </span>
                <span ng-if="vm.financeVM.isUndefined(data.participantVos)" class="participant-down info-company">
                  暂无
                </span>
                <span ng-if="vm.financeVM.isUndefined(data.participantVos)" class="participant-down info-company">
                  暂无
                </span>
                <span ng-if="vm.financeVM.isUndefined(data.participantVos)" class="participant-down info-company">
                  暂无
                </span>
              </div>
              <div class="split2"></div>
            </div>
            <div class="news">
              <a href="#" class="icon-news"></a>
            </div>

            <!-- <span ng-if="data.financeAmount == ''" class="info-level">未披露</span> -->
            <!-- <span class="info-news" ng-show="data.newsUrl">
              <a ng-href="{{data.newsUrl}}" target="_blank">相关新闻</a>
            </span> -->
          </div>
        </li>
      </ul>
      <div class="more" ng-click="vm.financeVM.more()" ng-show="vm.financeVM.showMore()">显示更多</div>

    </div>
    <div ng-show="!vm.financeVM.financeList.length" class="none" ng-if='vm.userId && !vm.financeVM.isEdit'>
      <span>
          <span class="icon-Company icon"></span>
          <span>未收录相关信息</span>
        </span>
    </div>
    <!-- <div ng-include="'/pages/project/templates/loginOut.html'" ng-if='!vm.userId'></div> -->
    <div ng-if="!vm.userId" class="login-out">
      <a  href="javascript:;" login-btn><div class="login">立即登录</div></a>
      <div class="intro1">查看融资经历</div>
    </div>
  </div>
</div>
