
      <div class="details" ng-if="funds.scale">
        <span class="title">目标市场</span>
        <span ng-bind-html="funds.scale | enterFormat" class="content">
        </span>
      </div>
      <div class="details" ng-if="funds.dataLights">
        <span class="title">业务亮点</span>
        <span ng-bind-html="funds.dataLights | enterFormat" class="content">
        </span>
      </div>
      <div class="details" ng-if="funds.competitor">
        <span class="title">竞争对手</span>
        <span ng-bind-html="funds.competitor | enterFormat" class="content">
        </span>
      </div>
      <div class="details" ng-if='funds.projectPlan'>
        <span class="title">发展规划</span>
        <span ng-bind-html="funds.projectPlan | enterFormat" class="content">
        </span>
      </div>
