<div class="finance-detail">
  <h4>融资详情 <span ng-show="vm.fundsState && vm.isEditMode">请进入<a ui-sref="financeRoute({id: vm.id, name: vm.name})">融资设置</a>页面编辑</span></h4>
  <div class="detail-content">
    <div class="container" more-show text="vm.fundsVM.fundsVo">
      <!-- <div class="details" ng-if="vm.fundsVM.fundsVo.scale">
        <span class="title">目标市场</span>
        <span class="content">
          {{vm.fundsVM.fundsVo.scale}}
        </span>
      </div>
      <div class="details" ng-if="vm.fundsVM.fundsVo.dataLights">
        <span class="title">用户需求</span>
        <span class="content">
          {{vm.fundsVM.fundsVo.dataLights}}
        </span>
      </div>
      <div class="details" ng-if="vm.fundsVM.fundsVo.competitor">
        <span class="title">竞争对手情况</span>
        <span class="content">
          {{vm.fundsVM.fundsVo.competitor}}
        </span>
      </div>
      <div class="details" ng-if='vm.fundsVM.fundsVo.projectPlan'>
        <span class="title">  发展规划</span>
        <span class="content">
          {{vm.fundsVM.fundsVo.projectPlan}}
        </span>
      </div> -->
    </div>


  </div>
    <!-- <div class="more" id='more'>查看更多</div> -->

</div>
