<div class="finance-detail">
  <h4>融资详情</h4>
  <div class="detail-content">
    <div class="details">
      <span class="title">目标市场</span>
      <span class="content">
        <p>36氪还有创业媒体、氪空间、NEXT等业务，全方位为互联网创业公司、创业者提供服务。截至目前，36氪每个月能收到的创业项目的数量、和服务的公司的数量已经遥遥领先行业其他类型公司。</p>
        <p>36氪媒体是中国领先的科技新媒体，报道最新的互联网科技新闻以及最有潜力的互联网创业企业。</p>
      </span>
    </div>
    <div class="details">
      <span class="title">用户需求</span>
      <span class="content">
        <p>36氪还有创业媒体、氪空间、NEXT等业务，全方位为互联网创业公司、创业者提供服务。截至目前，36氪每个月能收到的创业项目的数量、和服务的公司的数量已经遥遥领先行业其他类型公司。</p>
      </span>
    </div>
    <div class="more">查看更多</div>
  </div>
</div>
