<div class="finance-history">
  <h4>融资经历</h4>
  <div ng-show="{{::vm.financeVM.data.length}}">
    <ul class="history-list">
      <li class="history-info" ng-repeat="data in ::vm.financeVM.data">
        <span class="info-year">{{data.financeDate}}</span>
        <span class="info-lun">
          <a href="">{{data.phase}}</a>
        </span>
        <span class="info-company">
          <a href="">{{data.participantVos.entityName}}</a>
        </span>
        <span class="info-level">{{data.financeAmount}}{{data.financeAmountUnit}}</span>
        <span class="info-news">相关新闻</span>
      </li>
    </ul>
    <div class="more">展开全部</div>
  </div>
  <div ng-show="{{::!vm.financeVM.data.length}}">
    暂无数据
  </div>
</div>
