<div ng-class="{small: searchVm.small, tinly: searchVm.tiny}" class="footer">
  <span class="talk" ng-click="vm.talking()" login-btn>
    <span class="icon-Meeting footer-icon"></span>
    <span>获取联系方式</span>
  </span>
  <span class="collect" ng-click="vm.collectionVM.collection()" login-btn>
    <span class="icon-Collected footer-icon"></span>
    <span>收藏</span>
  </span>
  <a href="{{vm.bpLink}}" class="bp" ng-click="vm.bp()" target="{{vm.target}}" ng-if='vm.fundsVM.funds && vm.user=="commen"'>
    <span>
      <span class="icon-BP footer-icon"></span>
      <span>查看BP</span>
    </span>
  </a>
  <span ng-click="vm.sendbp()" class="bp" ng-if='vm.fundsVM.funds && vm.user=="commen"'>
    <span class="icon-BP footer-icon"></span>
    <span>发送BP至邮箱</span>
  </span>
</div>
