<div class="found-team">
  <h4>创始团队</h4>
  <div class="content">
    <div class="team-key">
      <span class="name">团队关键字</span>
      <ul class="key-list">
        <li>金融背景</li>
        <li>阿里系</li>
        <li>金融</li>
      </ul>
    </div>
    <div class="advantage">
      <span class="name">团队优势</span>
      <span class="ad-info">
        36氪的团队是业内最全面、专业的团队。我们团队有多年创业的经验的合伙人，也有多年投资经历的合伙人，以及36氪从0做起的合伙人。我们分工明确，战略清晰，团队能力比较完整的同时，也保持着高效的团队迭代速度。相信这样一个团队是我们最大的财富。
      </span>
    </div>
    <div class="team-people">
      <table class='item-list'>
      <thead class='content-head'>
        <tr>
          <td>姓名</td>
          <td>职位</td>
          <td>介绍</td>
        </tr>
      </thead>
      <tbody class='content-body'>
        <tr>
          <td>
            刘成成
          </td>
          <td>创始人 & CEO</td>
          <td>
            36氪创始人，湖畔大学、中欧创投营一期学员
          </td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td class='t-foot' colspan='3'>
              <div class="get-more">查看更多</div>
            </td>
          </tr>
      </tfoot>
    </table>
    </div>
  </div>
</div>
