<div class="project-wrapper">
  <section class="base-info-wrapper">
    <div class="base-info-content">
      <div>
        <img src="" class="logo" alt="">
      </div>
      <div>
        <h1>36氪 <span>B2B</span></h1>
        <h3>为创业者提供好的产品和服务</h3>
        <p>
          <span class="kr-icon icon-Weibo"></span>
          <span class="kr-icon icon-Wechat"></span>
          <span class="kr-icon icon-websitelink"></span>
          <a href="http://www.36kr.com">
            www.36kr.com</a>
          <span class="kr-icon icon-Hot"></span>
          <span class="hot-text">联系创业者</span>
        </p>
      </div>
      <div class="finance-brief">
        <p>融资中</p>
        <p>
          <span>Pre-A轮</span>
          <span>＄3000万</span>
        </p>
        <p>
         <span>轮次</span>
         <span>金额</span>
        </p>
      </div>

    </div>
  </section>
  <section sticky offset="50" class="nav-wrapper">
    <nav>
      <ul>
        <li>
          <a href="#light" du-smooth-scroll="" du-scrollspy="" class="active" offset="277" >
            投资亮点
          </a>
        </li>
        <li>
          <a href="#baseInfo" du-smooth-scroll="" du-scrollspy="" offset="130" >
            基本介绍
          </a>
        </li>
        <li>
          <a href="#financeDetail" du-smooth-scroll="" du-scrollspy="" offset="130" >
            融资详情
          </a>
        </li>
        <li>
          <a href="#financeHistory" du-smooth-scroll="" du-scrollspy="" offset="130" >
            融资经历
          </a>
        </li>
        <li>
          <a href="#founder" du-smooth-scroll="" du-scrollspy="" offset="130" >
            创始团队
          </a>
        </li>
        <li>
          <a href="#product" du-smooth-scroll="" du-scrollspy="" offset="130" >
            产品及数据
          </a>
        </li>
        <li>
          <a href="#news" du-smooth-scroll="" du-scrollspy="" offset="130" >
           相关新闻
          </a>
        </li>
        <li>
          <a href="#similarItem" du-smooth-scroll="" du-scrollspy="" offset="130" >
            相似公司
          </a>
        </li>
        <li>
          <a href="#">认领</a>
        </li>
      </ul>
    </nav>
  </section>
  <section id="light" class="project-module light" ng-include="'/pages/project/templates/light.html'">

  </section>

  <section id="baseInfo" class="project-module">
    基本介绍
  </section>
  <section id="financeDetail" class="project-module">
    融资详情
  </section>
  <section id="financeHistory" class="project-module">
    融资经历
  </section>
  <section id="founder" class="project-module">
    创始团队
  </section>
  <section id="product" class="project-module">
    产品及数据
  </section>
  <section id="news" class="project-module" ng-include="'/pages/project/templates/new.html'">
    相关新闻
  </section>
  <section id="similarItem" class="project-module" ng-include="'/pages/project/templates/similarItem.html'">

  </section>
</div>
