<div class="project-wrapper">
  <section class="base-info-wrapper">
    <div ng-if="false" class="base-info-content">
      <div>
        <img ng-src="{{::vm.baseInfoVM.logo}}" class="logo" alt="">
      </div>
      <div>
        <h1>{{::vm.baseInfoVM.name}}
          <span ng-repeat="tag in ::vm.baseInfoVM.industryTag">{{tag}}</span>
        </h1>
        <h3>{{::vm.baseInfoVM.brief}}</h3>
        <p>
          <span ng-if="vm.baseInfoVM.weibo" class="kr-icon icon-Weibo"></span>
          <span ng-if="vm.baseInfoVM.weixin" class="kr-icon icon-Wechat"></span>
          <span class="kr-icon icon-websitelink"></span>
          <a ng-href="{{::vm.baseInfoVM.website}}">
            {{::vm.baseInfoVM.website}}
          </a>
          <span class="kr-icon icon-Hot"></span>
          <span class="hot-text">联系创业者</span>
        </p>
      </div>
      <div class="finance-brief">
        <p>融资中</p>
        <p>
          <span>Pre-A轮</span>
          <span>＄3000万</span>
        </p>
        <p>
         <span>轮次</span>
         <span>金额</span>
        </p>
      </div>
    </div>
    <div class="base-info-content-edit">
      <div class="upload-logo">
        <img ng-src="{{::vm.baseInfoVM.logo}}" class="logo" alt="">
        <a class="btn-upload-logo" href="#"></a>
        <p>建议上传大小
        <p>90*90px</p>
      </div>
      <div>
        <form name="projectInfo">

          <div class="form-group">
            <label for=""><span class="required">*</span> 项目名称</label>
            <span class="form-tip">30天内只能修改一次</span>
            <input  ng-model="vm.editBaseInfoVM.name"
              placeholder="请填写项目名称或核心产品名称"
              message-id="messageName"
              no-validation-message="true"
              maxlength="30"
              validator="required"
              type="text" name="name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="">项目别称</label>

            <span id="messageFullName"
              class="error-tip"></span>
            <input  ng-model="vm.editBaseInfoVM.fullName"
              placeholder="请填写项目别名或曾用名，非必填"
              validator="notEqual=vm.editBaseInfoVM.name"
              message-id="messageFullName"
              not-equal-error-message="请不要再次填写项目名称"
              type="text" name="fullName" class="form-control" />
          </div>

          <div class="form-group">
            <label for=""><span class="required">*</span> 一句话简介</label>
            <span class="error-tip" id="messageBrief"></span>
            <input  ng-model="vm.editBaseInfoVM.brief"
            validator="required,minlength=5" message-id="messageBrief"
            minlength-error-message="可以描述的更加详细一些（不得少于5个字）"
            maxlength="30"
            placeholder="一句话概括产品与服务，30字内"
            type="text" name="brief" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">公司官网</label>
            <span id="messageWebsite" class="error-tip" id="messageBrief"></span>
            <input  ng-model="vm.editBaseInfoVM.website"
              placeholder="请填写公司的官网，请以http://开头"
              validator="http" message-id="messageWebsite"
              type="text" name="website" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">新浪微博</label>
            <input  ng-model="vm.editBaseInfoVM.weibo"
              placeholder="请填写新浪微博主页链接"
              type="text" name="weibo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">微信公众号</label>
            <input  ng-model="vm.editBaseInfoVM.weixin"
              placeholder="请填写微信公众号"
              type="text" name="weixin" class="form-control" />
          </div>

        </form>
      </div>
      <div class="form-bottom">

        <p class="splitter"> </p>
        <p class="tip-text">注意：行业不开放编辑；所有更改内容均会提交审核，审核期间不可对此模块做任何的更改，
          通过后对所有用户公开</p>
        <div>
          <a class="save" ng-click="vm.editBaseInfoVM.update(projectInfo, $event)" href="#">保存</a>
          <a class="cancel" href="#">取消</a>
        </div>
      </div>

    </div>
  </section>
  <section sticky offset="50" class="nav-wrapper">
    <nav>
      <ul>
        <li>
          <a href="#light" du-smooth-scroll="" du-scrollspy="" class="active" offset="277" >
            投资亮点
          </a>
        </li>
        <li>
          <a href="#baseInfo" du-smooth-scroll="" du-scrollspy="" offset="130" >
            基本介绍
          </a>
        </li>
        <li>
          <a href="#financeDetail" du-smooth-scroll="" du-scrollspy="" offset="130" >
            融资详情
          </a>
        </li>
        <li>
          <a href="#financeHistory" du-smooth-scroll="" du-scrollspy="" offset="130" >
            融资经历
          </a>
        </li>
        <li>
          <a href="#founder" du-smooth-scroll="" du-scrollspy="" offset="130" >
            创始团队
          </a>
        </li>
        <li>
          <a href="#product" du-smooth-scroll="" du-scrollspy="" offset="130" >
            产品及数据
          </a>
        </li>
        <li>
          <a href="#news" du-smooth-scroll="" du-scrollspy="" offset="130" >
           相关新闻
          </a>
        </li>
        <li>
          <a href="#similarItem" du-smooth-scroll="" du-scrollspy="" offset="130" >
            相似公司
          </a>
        </li>
        <li>
          <a href="#" ng-click="vm.claimVM.claim()">认领</a>
        </li>
      </ul>
    </nav>
  </section>
  <section id="light" class="project-module light" ng-include="'/pages/project/templates/light.html'" ng-show="vm.baseInfoVM.advantage">

  </section>

  <section id="baseInfo" class="project-module" ng-include="'/pages/project/templates/baseInfo.html'">
  </section>

  <section id="baseInfoEdit" class="project-module" ng-include="'/pages/project/templates/baseInfoEdit.html'">
  </section>

  <section id="financeDetail" ng-include="'/pages/project/templates/financeDetail.html'" class="project-module" ng-show="vm.fundsVM.funds">
    融资详情
  </section>
  <section id="financeHistory" ng-include="'/pages/project/templates/financeHistory.html'" class="project-module">
    融资经历
  </section>
  <section id="founder" ng-include="'/pages/project/templates/founder.html'" class="project-module">
    创始团队
  </section>
  <section id="product" ng-include="'/pages/project/templates/product.html'" class="project-module">
    产品及数据
  </section>
  <section id="news" class="project-module" ng-include="'/pages/project/templates/new.html'">
    相关新闻
  </section>
  <section id="similarItem" class="project-module" ng-include="'/pages/project/templates/similarItem.html'">

  </section>
  <section ng-include="'/pages/project/templates/footer.html'" >

  </section>
</div>
