<div ng-class="{small: searchVm.small || searchVm.tinly}" class="project-wrapper">
  <section class="base-info-wrapper">
    <div ng-if="!vm.baseInfoVM.isEdit" class="base-info-content">
      <div>
        <img ng-src="{{vm.baseInfoVM.logo}}" class="logo" alt="">
      </div>
      <div>
        <h1>{{::vm.baseInfoVM.name}}
          <span>{{vm.baseInfoVM.industryEnum | industry}}</span>
          <a class="btn-edit"
            ng-if="vm.isEditMode"
            ng-click="vm.baseInfoVM.enterEditMode()"
            href="javascript:void(0)">编辑</a>
        </h1>
        <h3>{{::vm.baseInfoVM.brief}}</h3>
        <p>
          <a ng-if="vm.baseInfoVM.weibo"
          class="kr-icon icon-Weibo link-none" href="" ng-class="{'icon-Weibo-active':vm.baseInfoVM.weibo}"
          ng-href="{{::vm.baseInfoVM.weibo}}" target="_blank"></a>
        <span class="kr-icon icon-Weibo link-none" ng-if="!vm.baseInfoVM.weibo" tooltips tooltip-template="未填写"
          tooltip-smart="true" tooltip-class="tooltip"></span>
          <a class="kr-icon icon-Wechat link-none" ng-class="{'icon-Wechat-active':vm.baseInfoVM.weixin}"
            tooltips tooltip-template="{{vm.baseInfoVM.weixin?vm.baseInfoVM.weixin:'未填写'}}" tooltip-class="tooltip">
          </a>
          <span class="kr-icon icon-websitelink" ng-show=""></span>
          <a class="website ellipsis" target="_blank" ng-href="{{::vm.baseInfoVM.website}}">
            {{::vm.baseInfoVM.website}}
          </a>
          <span class="hot-container">
            <span class="kr-icon icon-Hot" ng-show="vm.baseInfoVM.advantage"></span>
            <span class="hot-text" ng-show="vm.baseInfoVM.advantage">{{vm.baseInfoVM.advantage}}</span>
          </span>
        </p>
      </div>
      <div class="finance-brief" ng-if='vm.fundsVM.funds'>
        <p>融资中</p>
        <p>
          <span>轮次</span>
          <span>{{vm.fundsVM.fundsPhase | financePhase}}</span>
        </p>
        <p>
         <span>金额</span>
         <span>
           <small ng-show="vm.fundsVM.financeAmountUnit =='USD'">$</small
           ><small ng-show="vm.fundsVM.financeAmountUnit !='USD'">￥</small>{{vm.fundsVM.financeAmount}}万</span>
        </p>
      </div>
      <div class="finance-brief" ng-if='!vm.fundsVM.funds'>
        <p>当前轮次</p>
        <p class="finance-now">
          {{vm.fundsVM.fundsPhase | companyFinancePhase}}
        </p>

      </div>
    </div>
    <div ng-if="vm.baseInfoVM.isEdit" class="base-info-content-edit">
      <div class="upload-logo">
        <img ng-src="{{vm.baseInfoVM.logo}}" class="logo" alt="">
        <a ngf-select="vm.baseInfoVM.uploadImage($files)"
          ngf-accept="'image/*'"
          class="btn-upload-logo" href="javascript:;"></a>
        <p>建议上传大小
        <p>90*90px</p>
      </div>
      <div>
        <form name="vm.baseInfoVM.form">

          <div class="form-group">
            <label for=""><span class="required">*</span> 项目名称</label>
            <span class="form-tip">30天内只能修改一次</span>
            <input  ng-model="vm.baseInfoVM.name"
              placeholder="请填写项目名称或核心产品名称"
              message-id="messageName"
              no-validation-message="true"
              maxlength="30"
              validator="required"
              type="text" name="name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="">项目别称</label>

            <span id="messageFullName"
              class="error-tip"></span>
            <input  ng-model="vm.baseInfoVM.remarkName"
              placeholder="请填写项目别名或曾用名，非必填"
              validator="notEqual=vm.baseInfoVM.name"
              message-id="messageFullName"
              not-equal-error-message="请不要再次填写项目名称"
              maxlength="50"
              type="text" name="fullName" class="form-control" />
          </div>

          <div class="form-group">
            <label for=""><span class="required">*</span> 一句话简介</label>
            <span class="error-tip" id="messageBrief"></span>
            <input  ng-model="vm.baseInfoVM.brief"
            validator="required,minlength=5" message-id="messageBrief"
            minlength-error-message="可以描述的更加详细一些（不得少于5个字）"
            maxlength="30"
            placeholder="一句话概括产品与服务，30字内"
            type="text" name="brief" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">公司官网</label>
            <span id="messageWebsite" class="error-tip" ></span>
            <input  ng-model="vm.baseInfoVM.website"
              placeholder="请填写公司的官网，请以http(s)://开头"
              validator="http" message-id="messageWebsite"
              type="text" name="website" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">新浪微博</label>
            <span id="messageweibo" class="error-tip" ></span>
            <input  ng-model="vm.baseInfoVM.weibo"
              placeholder="请填写新浪微博主页链接"
              validator="http"
              type="text" name="weibo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">微信公众号</label>
            <span ng-if="vm.baseInfoVM.form.weixin.$invalid === true" class="error-tip" >
              微信公众号为6-20个字符
            </span>
            <input  ng-model="vm.baseInfoVM.weixin"
              placeholder="请填写微信公众号"
              validator="minlength=6,maxlength=20"
              maxlength="20"
              no-validation-message="true"
              type="text" name="weixin" class="form-control" />
          </div>

        </form>
      </div>
      <div class="form-bottom">

        <p class="splitter"> </p>
        <p class="tip-text">注意：行业不开放编辑；所有更改内容均会提交审核，审核期间不可对此模块做任何的更改，
          通过后对所有用户公开</p>
        <div>
          <a class="save" ng-click="vm.baseInfoVM.update()" href="javascript:;">保存</a>
          <a class="cancel" ng-click="vm.baseInfoVM.cancel()" href="javascript:;">取消</a>
        </div>
      </div>

    </div>
  </section>
  <section ng-class="{small: searchVm.small, tinly: searchVm.tiny}" sticky offset="49" class="nav-wrapper">
    <nav>
      <ul class='navigate'>
        <li ng-show="vm.baseInfoVM.investAdvantage">
          <a kr-scroll-click
            href="#light" du-smooth-scroll="" du-scrollspy=""  offset="{{vm.light}}" >
            投资亮点
          </a>
        </li>
        <li ng-hide="!(vm.baseInfoVM.industryTag || vm.baseInfoVM.intro)">
          <a kr-scroll-click href="#baseInfo" du-smooth-scroll="" du-scrollspy="" offset="{{vm.baseInfo}}" >
            基本介绍
          </a>
        </li>
        <li ng-show="(vm.fundsVM.fundsVo.scale || vm.fundsVM.fundsVo.dataLights || vm.fundsVM.fundsVo.competitor || vm.fundsVM.fundsVo.projectPlan) && (vm.user != 'commen' || vm.investorType)">
          <a kr-scroll-click href="#financeDetail" du-smooth-scroll="" du-scrollspy="" offset="{{vm.financeDetail}}" ng-class="{'active':!(vm.baseInfoVM.industryTag || vm.baseInfoVM.intro)}">
            融资详情
          </a>
        </li>
        <li>
          <a kr-scroll-click href="#financeHistory" du-smooth-scroll="" du-scrollspy="" offset="{{vm.financeHistory}}" ng-class="{'active':!vm.baseInfoVM.advantage && !(vm.baseInfoVM.industryTag || vm.baseInfoVM.intro) && !vm.fundsVM.funds}">
            融资经历
          </a>
        </li>
        <li>
          <a kr-scroll-click href="#founder" du-smooth-scroll="" du-scrollspy="" offset="114" >
            创始团队
          </a>
        </li>
        <li>
          <a kr-scroll-click href="#product" du-smooth-scroll="" du-scrollspy="" offset="114" >
            产品及数据
          </a>
        </li>
        <!-- <li>
          <a href="#news" du-smooth-scroll="" du-scrollspy="" offset="110" >
           相关新闻
          </a>
        </li> -->
        <li ng-if="vm.isEditMode" >
          <a kr-scroll-click href="#relativeUser" du-smooth-scroll="" du-scrollspy="" offset="114" >
            相关用户
          </a>
        </li>
        <li>
          <a  kr-scroll-click
            href="#similarItem" du-smooth-scroll="" du-scrollspy="" offset="114" >
            相似项目
          </a>
        </li>
        <li>
        <a href="#" ng-click="vm.claimVM.claim()" ng-show="vm.user == 'commen'" login-btn>认领</a>
          <a ui-sref="financeRoute({id: vm.id, name: vm.name})"
            ng-show="vm.fundsState && vm.isEditMode" >融资设置</a>


          <a href="#" ui-sref="project.edit({id: vm.id})"
            ng-show="vm.user != 'commen' && vm.userId && !vm.isEditMode" >编辑项目</a>
        </li>
      </ul>
    </nav>
  </section>
  <section id="light" class="project-module light"
  ng-include="'/pages/project/templates/light.html'"
  ng-if="vm.baseInfoVM.investAdvantage">
  </section>

  <section id="baseInfo" class="project-module" ng-include="'/pages/project/templates/baseInfo.html'"
    ng-if="vm.baseInfoVM.industryTag || vm.baseInfoVM.intro">
  </section>
  <section id="financeDetail" ng-include="'/pages/project/templates/financeDetail.html'" class="project-module finance"
    ng-show="(vm.fundsVM.fundsVo.scale || vm.fundsVM.fundsVo.dataLights || vm.fundsVM.fundsVo.competitor || vm.fundsVM.fundsVo.projectPlan) && (vm.user != 'commen' || vm.investorType)">
    融资详情
  </section>
  <section id="financeHistory" ng-include="'/pages/project/templates/financeHistory.html'" class="project-module">
    融资经历
  </section>
  <section id="founder" ng-include="'/pages/project/templates/founder.html'" class="project-module">
    创始团队
  </section>
  <section id="product" ng-include="'/pages/project/templates/product.html'" class="project-module">
    产品及数据
  </section>
  <!-- <section id="news" class="project-module" ng-include="'/pages/project/templates/new.html'">
    相关新闻
  </section> -->

  <!-- 相关用户只有在编辑模式下才有 -->
  <section id="relativeUser" ng-if="vm.isEditMode" class="project-module"
    ng-include="'/pages/project/templates/relatedUser.html'"></section>

  <section id="similarItem" class="project-module" ng-include="'/pages/project/templates/similarItem.html'">
  </section>
  <section ng-if="!vm.isEditMode" ng-include="'/pages/project/templates/footer.html'" >

  </section>
</div>
