<div class="intro-edit-wrapper">
  <form action="" name="vm.companyIntroduceVM.form">
    <div class="content form-group">
      <div class="section product">
        <div class="title">产品服务</div>
        <div class="textarea-control">
          <textarea  name="product" id=""
            class="form-control" ng-model='vm.companyIntroduceVM.productService'
            maxlength="200"
            type="text" class="form-control" ></textarea>
          <div class="textarea-border">
          </div>
          <span class="text-length">{{vm.companyIntroduceVM.productService.length || 0}}/200</span>
        </div>
      </div>
      <div class="section market">
        <div class="title">用户市场</div>
        <div class="textarea-control">
          <textarea  name="product" id=""
            class="form-control" ng-model='vm.companyIntroduceVM.userMarket'
            maxlength="200"
            type="text" class="form-control" ></textarea>
          <div class="textarea-border">
          </div>
          <span class="text-length">{{vm.companyIntroduceVM.userMarket.length || 0}}/200</span>
        </div>
      </div>
      <div class="section product">
        <div class="title">商业模式</div>
        <div class="textarea-control">
          <textarea  name="product" id=""
            class="form-control" ng-model='vm.companyIntroduceVM.businessMode'
            maxlength="200"
            type="text" class="form-control" ></textarea>
          <div class="textarea-border">
          </div>
          <span class="text-length">{{vm.companyIntroduceVM.businessMode.length || 0}}/200</span>
        </div>
      </div>
      <div class="section product">
        <div class="title">运营数据</div>
        <div class="textarea-control">
          <textarea  name="product" id=""
            class="form-control" ng-model='vm.companyIntroduceVM.operationData'
            maxlength="200"
            type="text" class="form-control" ></textarea>
          <div class="textarea-border">
          </div>
          <span class="text-length">{{vm.companyIntroduceVM.operationData.length || 0}}/200</span>
        </div>
      </div>
      <div class="section product">
        <div class="title">核心资源</div>
        <div class="textarea-control">
          <textarea  name="product" id=""
            class="form-control" ng-model='vm.companyIntroduceVM.coreSource'
            maxlength="200"
            type="text" class="form-control" ></textarea>
          <div class="textarea-border">
          </div>
          <span class="text-length">{{vm.companyIntroduceVM.coreSource.length || 0}}/200</span>
        </div>
      </div>
    </div>
    <div class="form-bottom">
      <p class="tip">注意：所有更改内容均会提交审核，通过后“产品服务”&nbsp&nbsp“用户市场”对登录用户展示，其余对投资人展示</p>
      <div>
        <a class="save" href="javascript:void(0)" ng-click="vm.companyIntroduceVM.save()" data-stat-click="project.{{vm.id}}.projectIntro.save">保存</a>
        <a class="cancel" href="" ng-click="vm.companyIntroduceVM.cancel()" data-stat-click="project.{{vm.id}}.projectIntro.cancel">取消</a>
      </div>
    </div>
  </form>
</div>
