<div class="project-intro-wrapper">
  <h4>项目介绍<a href="javascript:void(0)" ng-click="vm.companyIntroduceVM.enterEditMode()"
      ng-if="!vm.companyIntroduceVM.isEdit && vm.isEditMode">编辑</a></h4>
  <section id="companyIntroduceEdit" ng-include="'/pages/project/templates/introductionEdit.html'" ng-if="vm.companyIntroduceVM.isEdit">
    项目介绍编辑
  </section>
  <div class="introduce-detail" ng-if="(vm.companyIntroduceVM.data.companyIntroduce.productService !== '' || vm.companyIntroduceVM.data.companyIntroduce.userMarket !== '' || (vm.companyIntroduceVM.data.companyIntroduce.businessMode !== '') || (vm.companyIntroduceVM.data.companyIntroduce.operationData !== '') || (vm.companyIntroduceVM.data.companyIntroduce.coreSource !== '')) && vm.userId">
    <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.productService !== ''">
      <span class="sub-title">产品服务</span>
      <span class="intro">{{vm.companyIntroduceVM.data.companyIntroduce.productService}}</span>
    </div>
    <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.userMarket !== ''">
      <span class="sub-title">用户市场</span>
      <span class="intro">{{vm.companyIntroduceVM.data.companyIntroduce.userMarket}}</span>
    </div>
    <div class="item" ng-if="(vm.companyIntroduceVM.data.companyIntroduce.businessMode && vm.companyIntroduceVM.data.companyIntroduce.businessMode !== '') && (vm.user == 'admin' || vm.investorType)" >
      <span class="sub-title">商业模式</span>
      <span class="intro">{{vm.companyIntroduceVM.data.companyIntroduce.businessMode}}</span>
    </div>
    <div class="item" ng-if="(vm.companyIntroduceVM.data.companyIntroduce.operationData && vm.companyIntroduceVM.data.companyIntroduce.operationData !== '') && (vm.user == 'admin' || vm.investorType)">
      <span class="sub-title">运营数据</span>
      <span class="intro">{{vm.companyIntroduceVM.data.companyIntroduce.operationData}}</span>
    </div>
    <div class="item" ng-if="vm.companyIntroduceVM.data.companyIntroduce.coreSource && vm.companyIntroduceVM.data.companyIntroduce.coreSource !== ''" ng-if="vm.user == 'admin' || vm.investorType">
      <span class="sub-title">核心资源</span>
      <span class="intro">{{vm.companyIntroduceVM.data.companyIntroduce.coreSource}}</span>
    </div>
  </div>
  <div class="no-data" ng-if="(vm.companyIntroduceVM.data.companyIntroduce.productService == '' && vm.companyIntroduceVM.data.companyIntroduce.userMarket == '' && (vm.companyIntroduceVM.data.companyIntroduce.businessMode == '' || !vm.companyIntroduceVM.data.companyIntroduce.businessMode) && (vm.companyIntroduceVM.data.companyIntroduce.operationData == '' || !vm.companyIntroduceVM.data.companyIntroduce.operationData) && (vm.companyIntroduceVM.data.companyIntroduce.coreSource == '' || !vm.companyIntroduceVM.data.companyIntroduce.coreSource)) && vm.userId">
    <p>暂无数据</p>
  </div>
  <div class="part-hide" ng-if="vm.userId && (vm.user=='commen' || vm.user=='assert') && !vm.investorType">
    <a class="certify" ui-sref="investorValidate" href="javascript:void()"><p>认证投资人</p></a>
    <p class="complete">查看完整项目介绍</p>
  </div>
  <!--- 未登录状态全部不可见 -->
  <div class="login-out" ng-if="!vm.userId">
    <a ng-href="https://passport.36kr.com/pages/?ok_url=http%3A%2F%2Frongtest03.36kr.com%2F#/login?pos=header" href="javascript:void()"><div class="login">立即登录</div></a>
    <div class="intro1">查看项目介绍</div>
  </div>
</div>
