<div class="project-light-wrapper">
  <h4>投资亮点</h4>
  <div>
    <span class="point">[连续创业者+行业经验丰富的团队]</span>
    <span class="content">
      团队核心成员曾共同创建包之网，包之网曾与摩根士丹利、工行总行、宜信、人人贷、太盟集团等合作，《彭博社》 、今日头条、、凤凰网、 腾讯财经、新浪网等数百家知名媒体网站报道，团队成员合作默契，行业经验丰富。团队核心成员曾共同创建包之网，包之网曾与摩根士丹利、工行总行、宜信、人人贷、太盟集团等合作，《彭博社》 、今日头条、、凤凰网、 腾讯财经、新团队核心成员曾共同创建包之网，包之网曾与摩根士丹利、工行总行、宜信、人人贷、太盟集团等合作，《彭博社》 、今日头条、、凤凰网、 腾讯财经、新浪网等数百家知名媒体网站报道，团队成员合作默契，行业经验丰富。团队核心成员曾共同创建包之网，包之网曾与摩根士丹利、工行总行、宜信、人人贷、太盟集团等合作，《彭博社》 、今日头条、、凤凰网、 腾讯财经、新…
    </span>
    <div class="more">查看更多</div>
  </div>
</div>
