<div class="similar-item">
  <h4>相关新闻</h4>
  <div class="content" ng-show="{{::vm.newsVm.data.length}}">
    <ul>
      <li class="new-detail" ng-repeat="new in ::vm.newsVm.data">
        <span class="time">{{new.publishDateStr}}</span>
        <span class="point"></span>
        <div class="new-info">
          <span class="tag">{{data.newsType}}</span>
          <div class="new-article">
            <p class="n-title">
              <a ng-href="{{::vm.data.newsUrl}}">{{data.title}}</a>
            </p>
            <p>
              <span class="from">来源</span><span class='address'>{{data.source}}</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more">
      <span class="get-more">展开全部新闻</span>
    </div>
  </div>
  <div ng-show="{{::!vm.newsVm.data.length}}">
    暂无数据
  </div>
</div>
