<div class="similar-item">
  <div class="title">
    相关新闻
  </div>
  <div class="content">
    <ul>
      <li class="new-detail">
        <span class="time">2016-07-02</span>
        <span class="point"></span>
        <div class="new-info">
          <span class="tag">人员变动</span>
          <div class="new-article">
            <p class="n-title">36氪分拆媒体业务独立运营 冯大刚加盟任总裁</p>
            <p>
              <span class="from">来源</span><span class='address'>36kr</span>
            </p>
          </div>
        </div>
      </li>
      <li class="new-detail">
        <span class="time">2016-07-02</span>
        <span class="point"></span>
        <div class="new-info">
          <span class="tag">人员变动</span>
          <div class="new-article">
            <p class="n-title">36氪分拆媒体业务独立运营 冯大刚加盟任总裁</p>
            <p>
              <span class="from">来源</span><span class='address'>36kr</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more">
      <span class="get-more">展开全部新闻</span>
    </div>
  </div>
</div>
