<div class="project-news-item-wrapper">
  <div class="head">
    <span class="icon-news-head"></span>
    <span class="title">相关新闻</span>
    <span class="add-btn grey" ng-show="vm.isEditMode">该模块不开放编辑</span>
  </div>
  <div class="news-item">
    <section id="news" ng-include="'/pages/project/templates/newEdit.html'" ng-if="vm.newsVM.isEdit">
      相关新闻编辑
    </section>
    <div class="content" ng-show="vm.newsVM.newsList">
      <ul>
        <li class="news-detail" ng-repeat="news in vm.newsVM.newsList">
          <div class="time"><span>{{news.publishDate | date: 'yyyy-MM-dd' }}</span></div
          ><div class="news-info"><span class="point"></span>
            <span class="tag" ng-show="news.newsType">{{news.newsType}}</span>
            <div class="news-article">
              <p class="n-title">
                <a ng-href="{{news.newsUrl}}" target="_blank" ng-bind="news.title"></a>
              </p>
              <p class="n-source" ng-show="news.source">
                <span class="from">来源</span><span class='address'>{{news.source}}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div ng-show="!vm.newsVM.newsList.length" class="none-data">
      <span>
        <span class="icon-Company icon"></span>
        <span>未收录相关信息</span>
      </span>
    </div>
  </div>
  <div class="get-more" ng-click="vm.newsVM.more()" ng-show="vm.newsVM.showMore && vm.newsVM.showBtn()">展开全部新闻</div>
  <div class="get-more" ng-click="vm.newsVM.more()" ng-show="!vm.newsVM.showMore" ng-class="{'hide-more': !vm.newsVM.showMore}">收起</div>
</div>
