<div class="similar-item-edit">
  <form name="vm.newsVM.form">
      <div class="content">
      <div class="form-group news-url">
        <label for=""><span class="required">*</span> 新闻链接</label>
        <span class="error-tip" id="editNewsUrl"></span>
        <input  ng-model="vm.newsVM.url"
                placeholder="请填写和项目相关的新闻链接"
                message-id="editNewsUrl"
                required-error-message="请填写新闻链接"
                validator="required"
                type="text" name="newsUrl" class="form-control" />
        <label for="" class="url-title">新闻标题：
        <!-- <a href="#" class="n-title" ng-if="{{vm.newsVM.title}}">{{vm.newsVM.title}}</a> -->
        <input type="text" ng-model="vm.newsVM.title" name="newsTitle" class="form-control" />
        </label>
      </div>
      <div class="form-group news-select">
        <label><span class="required">*</span>类型</label>
        <select class="form-control news-type" ng-model="vm.newsVM.type"
                validator="required"
                message-id="editNewsType"
                required-error-message="请选择新闻类型"
                ng-options="item.value as item.desc for item in root.COMPANY_NEWS_META">
        </select>
        <span class="error-tip" id="editNewsType"></span>
      </div>
      <div class="form-group news-select">
        <label><span class="required">*</span>时间</label>
        <div>
          <div class="select-data">
            <select class="form-control" ng-model="vm.newsVM.publishDateYear"
                    validator="required"
                    message-id="editNewsDateYear"
                    required-error-message="请选择报道时间"
                    ng-options="item for item in root.fromYear2000">
                    <option>--年份--</option>
            </select>
            <p class="data-error">
              <span class="error-tip" id="editNewsDateYear"></span>
              <span class="error-tip" id="editNewsDateMonth"></span>
            </p>
           </div>
         <div class="select-data">
           <select class="form-control" ng-model="vm.newsVM.publishDateMonth"
                   validator="required"
                   message-id="editNewsDateMonth"
                   required-error-message="请选择报道时间"
                   ng-options="item for item in vm.newsVM.months">
                   <option>--月份--</option>
           </select>

         </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-bottom">

    <p class="splitter"> </p>
    <p class="tip-text">注意：所有更改内容均会提交审核，审核期间不可对此模块做任何的更改，通过后对所有用户公开</p>
    <div>
      <a class="save" ng-click="vm.newsVM.update(newsInfo, $event)" href="javascript:void(0)">保存</a>
      <a class="cancel" ng-click="vm.newsVM.cancel(newsInfo, $event)" href="javascript:void(0)">取消</a>
    </div>
  </div>
</div>
