<div class="similar-item-edit">
  <form name="newsInfo">
      <div class="content">
      <div class="form-group news-url">
        <label for=""><span class="required">*</span> 新闻链接</label>
        <span class="error-tip" id="editNewsUrl"></span>
        <input  ng-model="vm.newsVM.newsUrl"
                placeholder="请填写和项目相关的新闻链接"
                message-id="editNewsUrl"
                required-error-message="请填写新闻链接"
                validator="required"
                type="text" name="newsUrl" class="form-control" />
        <label for="" class="url-title">新闻标题：<a href="#" class="n-title">36氪分拆媒体业务独立运营 冯大刚加盟任总裁</a></label>
      </div>
      <div class="form-group">
        <label><span class="required">*</span>类型</label>
        <select class="form-control news-type" ng-model="vm.newsVM.newsType"
                validator="required"
                message-id="editNewsType"
                required-error-message="请选择新闻类型">
          <option></option>
          <option>aaaaaaa</option>
          <option>bbbbbbb</option>
          <option>ccccccc</option>
          <option>ddddddd</option>
          <option>eeeeeee</option>
        </select>
        <span class="error-tip" id="editNewsType"></span>
      </div>
      <div class="form-group">
        <label><span class="required">*</span>时间</label>
        <div>
          <div class="select-data">
            <select class="form-control" ng-model="vm.newsVM.publishDateYear"
                    validator="required"
                    message-id="editNewsDateYear"
                    required-error-message="请选择报道时间">
              <option></option>
              <option>aaaaaaa</option>
              <option>bbbbbbb</option>
              <option>ccccccc</option>
              <option>ddddddd</option>
              <option>eeeeeee</option>
            </select>
            <p class="data-error">
              <span class="error-tip" id="editNewsDateYear"></span>
              <span class="error-tip" id="editNewsDateMonth"></span>
            </p>
           </div>
         <div class="select-data">
           <select class="form-control" ng-model="vm.newsVM.publishDateMonth"
                   validator="required"
                   message-id="editNewsDateMonth"
                   required-error-message="请选择报道时间">
             <option></option>
             <option>aaaaaaa</option>
             <option>bbbbbbb</option>
             <option>ccccccc</option>
             <option>ddddddd</option>
             <option>eeeeeee</option>
           </select>

         </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-bottom">

    <p class="splitter"> </p>
    <p class="tip-text">注意：所有更改内容均会提交审核，审核期间不可对此模块做任何的更改，通过后对所有用户公开</p>
    <div>
      <a class="save" ng-click="vm.newsVM.update(newsInfo, $event)" href="javascript:void(0)">保存</a>
      <a class="cancel" ng-click="vm.newsVM.cancel(newsInfo, $event)" href="javascript:void(0)">取消</a>
    </div>
  </div>
</div>
