<div class="product-data">
  <h4 class="h4"><span class="icon-chart"></span>项目数据</h4>
  <div class="content">
    <div class="detail">
      <div class="base-info">
        <div class="inner">
          <div class="info">{{productVM.name}}</div>
          <div class="all-links">
            <a ng-href="{{productVM.website}}" ng-if="productVM.website" target="_blank">
              <span class="kr-icon icon-officialsite">
              </span>
            </a><a ng-if="productVM.weixin"
              tooltips
              tooltip-smart="true"
              tooltip-template="{{productVM.weixin}}"
              tooltip-class="tooltip"
              ><span class="kr-icon icon-Wechat"></span>
            </a><a ng-if="productVM.ios"
              ng-href="{{productVM.ios}}" target="_blank"><span class="kr-icon icon-Apple"></span>
            </a><a ng-if="productVM.android"
              ng-href="{{productVM.android}}" target="_blank">
              <span class="kr-icon icon-Andriod"></span>
            </a>
          </div>
          <div class="aso">
            由ASO提供
          </div>
        </div>
      </div>
      <div ng-if="productVM.aso" class="aso-desc">
        <span expand-text="查看完整数据" text-overflow text="productVM.aso" >
        </span>
      </div>
    </div>
    <div class="investor" ng-if="root.user.isInvestor()">
      <div class="hg-btn-group">
        <div>
          <a href="javascript:;"  ng-class="{active: productVM.active === 'product'}"
            ng-click="productVM.active = 'product'">产品数据</a
            ><a href="javascript:;" ng-class="{active: productVM.active === 'user'}"
              ng-click="userPortraitsVm.showed =true;productVM.active = 'user'" ng-click="">用户画像</a>
        </div>
      </div>
      <div ng-show="productVM.active === 'product'">
        <div ng-if="productVM.hasData" ng-include="'/pages/project/templates/projectData.html'"></div>
        <div ng-if="!productVM.hasData" class="no-data">
          <p><span class="icon-chart"></span>项目数据内测中，仅部分项目展示</p>
        </div>
      </div>
      <div ng-if="userPortraitsVm.showed" ng-show="productVM.active === 'user'" class="hg-product-wrapper">
        <div ng-if="userPortraitsVm.hasData" ng-include="'/pages/project/templates/product-user-data.html'"></div>
        <div ng-if="!userPortraitsVm.hasData" class="no-data">
          <p><span class="icon-chart"></span>项目数据内测中，仅部分项目展示</p>
        </div>
      </div>
    </div>

    <div class="uninvestor" ng-show="!root.user.isInvestor()">
      <div class="index">
        <div class="certify">
          <a ng-show="root.user.isLogin === false" login-btn>立即登录</a>
          <a ng-show="root.user.notInvestor()" ui-sref="investorValidate">认证投资人</a></div>
        <div class="text">查看更多产品数据</div>
      </div>
    </div>
  </div>
</div>
