<div class="product-edit">
  <form name="vm.productVM.form">
    <div class="form-group">
      <label><span class="required">*</span>产品名称</label>
      <input type="text" name="product-name" placeholder="请输入产品的名称"
             ng-model="vm.productVM.name"
             message-id="editProductName"
             required-error-message="请输入产品名称"
             maxlength="30"
             validator="required" class="form-control product-name" size="140"
             />
      <span class="descNum">{{vm.productVM.name.length || 0}}/30</span>
      <span class="error-tip" id="editProductName"></span>
    </div>
    <div class="form-group">
      <label><span class="required"></span>产品描述</label>
      <!-- <span class="error-tip" id="editProductInfo"></span> -->
      <textarea name="product-info" placeholder="请添加产品的描述功能"
                ng-model="vm.productVM.desc"
                maxlength="200"
                class="form-control product-info" size="140">
      </textarea>
      <span class="descNum">{{vm.productVM.desc.length || 0}}/200</span>
    </div>
    <div class="form-group" id="productsUrl">
      <label>产品链接</label>
      <div class="web-address" ng-repeat="item in vm.productVM.productLink">
        <!-- <span class="error-tip" id="editProductUrl"></span> -->
        <select class="form-control"
                ng-options="item.value as item.desc for item in vm.productVM.productLinkOptions"
                ng-model="vm.productVM.productLink[$index].urlType">
          <option value="">请选择</option>
        </select>
        <input type="url" name={{$index}} placeholder="请填写产品链接"
               ng-if="vm.productVM.productLink[$index].urlType!=='weixin'"
               class="form-control product-url vam"
               ng-model="vm.productVM.productLink[$index].urlAddr"/>
        <input type="url" name={{$index}} placeholder="请填写微信公众号"
               ng-if="vm.productVM.productLink[$index].urlType=='weixin'"
               class="form-control product-url vam"
               ng-model="vm.productVM.productLink[$index].urlAddr"/>
        <span class="delete-product icon-dialogClose" ng-click="vm.productVM.deletePro(item)"></span>
      </div>

        <a href="javascript:void(0)" class="add-link"
           ng-click="vm.productVM.addLink()"><div>产品链接 + </div></a>

    </div>
    <div class="form-bottom">
      <p class="splitter"> </p>
      <p class="tip-text">注意：所有更改内容均会提交审核，审核期间不可对此事件做任何的更改，通过后对所有用户公开</p>
      <div class="btn">
        <a class="save" href="javascript:void(0)" ng-click="vm.productVM.save()">保存</a>
        <a class="cancel" href="javascript:void(0)" ng-click="vm.productVM.cancel()">取消</a>
      </div>
    </div>
  </form>

</div>
