<div class="product-data">
  <h4>产品及数据<a href="javascript:void(0)" ng-click="vm.productVM.enterEditMode()" ng-if="!vm.productVM.isEdit && vm.isEditMode">添加</a></h4>
  <section id="productEdit" ng-include="'/pages/project/templates/productEdit.html'" ng-if="vm.productVM.isEdit">
    产品数据添加
  </section>
  <div class="content">
    <div class="detail">
      <div class="product-name">
        {{vm.productVM.data.companyProduct.name}}
      </div>
      <div class="base-info">
        <div class="inner">
          <div class="info" ng-if="vm.productVM.data.companyProduct.desc!==''">{{vm.productVM.data.companyProduct.desc}}</div>
          <div class="all-links">
            <!-- <a ng-href="{{vm.productVM.data.companyProduct.}}"><span class="kr-icon icon-Weibo"></span></a> -->
            <a ng-if="vm.productVM.data.companyProduct.weixin"
              tooltips
              tooltip-smart="true"
              tooltip-template="{{vm.productVM.data.companyProduct.weixin}}"
              tooltip-class="tooltip"
              ><span class="kr-icon icon-Wechat"></span></a>
            <a ng-if="vm.productVM.data.companyProduct.ios!==''"
              ng-href="{{vm.productVM.data.companyProduct.ios}}" target="_blank"><span class="kr-icon icon-Apple"></span>
            </a>
            <a ng-if="vm.productVM.data.companyProduct.android!==''"
              ng-href="{{vm.productVM.data.companyProduct.android}}" target="_blank">
              <span class="kr-icon icon-Andriod"></span></a>
            <span class="kr-icon icon-websitelink" ng-show="::vm.productVM.data.companyProduct.website!==''">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
            </span>
            <!-- <span class="kr-icon icon-websitelink" ng-if="vm.productVM.data.companyProduct.website!==''"></span> -->
            <a target="_blank" ng-href="{{vm.productVM.data.companyProduct.website}}"
              ng-if="vm.productVM.data.companyProduct.website!==''" class="website-link">
              {{vm.productVM.data.companyProduct.website}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="investor" ng-if="vm.productVM.data.hasDataPrivilege">
      <div class="companyData" ng-if="vm.productVM.showChart">
        <div class="data-info">
          <div class="tab">
            <span ng-repeat="item in vm.productVM.dataTypes">
              <span class="text" ng-click="vm.productVM.setType(item.fid)"
                    ng-class="{'active':vm.productVM.curType === item.fid}">{{item.fdesc}}</span>
            </span>
            <span class="absolute-pos"  ng-if="vm.productVM.dataKeepTypes.length">
              <span class="text"
              ng-mouseenter="vm.productVM.setHovered()">
              留存数据
              </span>
              <div class="keepData" ng-if="vm.productVM.hasHovered"
                   ng-mouseleave="vm.productVM.setHovered()">
                <span class="angle"><span class="little-angle"></span></span>
                <span ng-repeat="item in vm.productVM.dataKeepTypes">
                  <span ng-click="vm.productVM.setType(item.fid)"
                        ng-class="{'active':vm.productVM.curType === item.fid}">{{item.fdesc}}</span>
                </span>
              </div>
            </span>
          </div>
          <div class="chart">
            <highchart id="monthChart" config="vm.productVM.chartConfig"></highchart>
          </div>
        </div>
        <div class="more-data">
          <div class="getMore" ng-click="vm.productVM.getData()" ng-show="vm.productVM.hideData">查看完整数据
          </div>
          <div class="complete-data" ng-show="!vm.productVM.hideData">
            <table class="table">
              <thead>
                <tr>
                  <td ng-repeat="item in vm.productVM.curHead">
                    {{item.value}}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.productVM.completeData">
                  <td class="month">{{item.month}}</td>
                  <td>{{item.data | number:2}}</td>
                </tr>
              </tbody>
            </table>
            <div class="hideData" ng-click="vm.productVM.hide()">收起</div>
          </div>
        </div>
      </div>
      <div ng-if="!vm.productVM.showChart" class="no-data">
        <p>暂无数据</p>
      </div>
    </div>
    <div class="uninvestor" ng-show="{{!vm.productVM.data.hasDataPrivilege}}">
      <div class="index">
        <div class="certify"><a ng-href="https://rongtest03.36kr.com/m/#/investor/apply">认证投资人</a></div>
        <div class="text">查看更多产品数据</div>
      </div>
    </div>
  </div>
</div>
