<div class="product-data">
  <highchart disable-data-watch="true" config="productVM.trendHg"></highchart>


  <highchart disable-data-watch="true" config="productVM.downloadHg"></highchart>

  <div class="bottom-container">
    <div class="left-container">
      <highchart disable-data-watch="true" config="productVM.websiteHg"></highchart>
    </div>
    <div class="right-container">
      <h5 class="right-title">留存率</h5>
      <div class="retention-container">
        <div class="retention-item" ng-repeat="item in productVM.retentionList">
          <div class="retention-title">
            {{item.title}}
          </div>
          <div class="retention-bar" ng-style="{width: item.width}"></div>
          <div class="retention-percent">
            {{item.percent}}%
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
