<div class="dialog-content">
  <div class="success-tip">
    <img src="/images/icon_remind.png" class="remind" alt="icon-complete">
    <span>每天每个模块仅可提交一次修改请求！</span>
  </div>
  <div class="content">
    <ul>
      <li>
        <p>为确保内容真实有效，所有更改均会提交审核，通过后对用户可见</p>
      </li>
      <li>
        <p>将在2个工作日内被审核，请勿重复提交</p>
      </li>
    </ul>
  </div>
  <div class="remind-btn">
    <a href="#" class="btn" ng-click="vm.remindCancel()">我知道了</a>
  </div>
  <span class="icon-dialogClose" ng-click="vm.remindCancel()"></span>
</div>

