<div class="similar-item">
	<div class="header">

		<span class="h-name">相似项目</span>
		<ul class='h-title'>
      <li ng-class="{'active':vm.similarVM.tagName == item.tagName}" ng-click="vm.similarVM.changeType(item.tagName)" ng-repeat="item in vm.similarVM.list">{{item.tagName}}</li>
		</ul>
	</div>
	<div class="content" ng-show="vm.similarVM.companyList.length">
		<table class='item-list' >
			<thead class='content-head'>
				<tr>
					<td class="item">项目</td>
					<td class="silimar">相似度</td>
					<td class="silimar-info">相关信息</td>
				</tr>
			</thead>
			<tbody class='content-body'>
				<tr ng-repeat="item in vm.similarVM.companyList">
					<td class='item-info'>
						<img ng-src="{{item.logo}}" alt="">
						<div class="info">
							<span class='i-name'>{{item.name}}</span>
							<span class='i-industry'>{{item.industry}}</span>
							<p class='i-brief' clamp="1" ng-bind="item.brief"></p>
						</div>
					</td>
					<td class='similarity'>{{item.similar}}</td>
					<td class="related-info" ng-show="item.similarInfo.length">
						<ul class='list' ng-class='{"all":show[0]}'>
							<li ng-repeat="tag in item.similarInfo">{{tag}}</li>
						</ul>
						<span class='icon-close curson' ng-click='show[index]=!show[index]' ng-class='{"pointed":show[index]}'></span>
					</td>
          <td class="related-info" ng-show="!item.similarInfo.length">
            <span class="none-data">暂无数据</span>
          </td>
				</tr>
			</tbody>
			<tfoot>
          <tr>
            <td class='t-foot' colspan='3'>
              <div class="get-more" ng-click="vm.similarVM.more()" ng-show="vm.similarVM.showMore()">查看更多</div>
            </td>
          </tr>
			</tfoot>
		</table>

	</div>
  <div ng-show="!vm.similarVM.companyList.length" class="none-list">
      <span>
        <span class="icon-Company icon"></span>
        <span>未收录相关信息</span>
      </span>
    </div>
</div>
