<div class="talking">
  <span class="icon-dialogClose" ng-click="vm.talkCancle()"></span>
  <span class="t-header">
    <p class="line-1">使用创投助手App扫一扫
    </p>
    <p class="line-2">即刻联系创业者</p>
  </span>
  <div class="t-content">
    <div class="content-left">
      <img src="../images/test.png" alt="">
    </div>
    <div class="content-right">
      <span class="info">1.  全网项目装进口袋</span>
      <span class="info">2.  精准匹配你想看的</span>
      <span class="info">3.  随时随地联系创业项目</span>
    </div>
  </div>
</div>
