.square(@size) {
  width: unit(@size, px);
  height: unit(@size, px);
}
.border(@width:1, @color){
  border: unit(@width, px) solid @color;
}

.border1(@color){
  .border(1, @color);
}

.border2(@color){
  .border(2, @color);
}
.dlk {
  display: inline-block;
}
.vam {
  vertical-align: middle;
}
.font(@size, @height){
  font-size: unit(@size, px);
  line-height: unit(@height, px);
}
.rd(@rd) {
  border-radius: @rd;
}

.size(@width, @height) {
  width: unit(@width, px);
  height: unit(@width, px);
}
.text-center() {
  text-align: center;
}
