.label-converge {
  width:100%;
  background: url('../../../images/label-bg.png') no-repeat center;
  background-size: cover;
  text-align: center;
  padding:20px 0;
  min-height:160px;
  .title-info {
    padding-left:60px;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 21px;
    .project-list {
      cursor: pointer;
    }
  }
  .title-name {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 27px;
    margin-bottom:4px;
  }
  .content-intro {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 21px;
  }
  .follow-btn {
    display: block;
    width:104px;
    height:30px;
    line-height:28px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size:12px;
    color: #fff;
    margin:18px auto 0;
  }
}
.filter-container {
  position: relative;
  padding: 8px 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px #CCCCCC;
  .col-handle {
    position: absolute;
    right:160px;
    top:30px;
    z-index:9;
    &.overflow {
      .open-btn {
        display: block;
      }
    }
    .open-btn {
      display: none;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 3px;
      line-height: 18px;
      font-size: 20px;
      color: #ccc;
      transition: transform .4s;
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  .search-keyword {
    margin:13px auto 14px;
    font-size: 14px;
    color: #5A626D;
    letter-spacing: 0px;
    text-align: left;
  }
  .search-list {
    .clear-both();
    &.my-follow {
      position: relative;
      min-height:33px;
      overflow: hidden;
      margin-top:16px;
      .label-manage {
        position: absolute;
        right: 0;
        font-size: 12px;
        color: #6BA2FC;
        top: 50%;
        margin-top: -7px;
      }
      &.height-auto {
        height:auto !important;
      }
      padding-right:100px;
      li {
        width:auto;
        padding:0 30px;
        &.active {
          border-radius: 0;
        }
        .clear-btn {
          position: relative;
          top:1px;
          vertical-align: middle;
          visibility: visible;
          &.hide {
            visibility: hidden;
          }
        }
      }
    }
    li {
      display: inline-block;
      position: relative;
      float: left;
      width:150px;
      height:33px;
      line-height: 33px;
      list-style: none;
      text-align: center;
      font-size: 14px;
      color: #5A626D;
      cursor: pointer;
      .list-number {
        font-size:12px;
        color: #b4b3b0;
      }
      &.active {
        background: #5A626D;
        border-radius: 3px;
        color: #fff;
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width:1px;
        height:18px;
        background: #E7E7E7;
        top:7px;
        right:0;
      }
    }
  }
  .col-default {
    height:auto;
    line-height:51px;
    .clear-both();

  }
  .filter-list {
    border-bottom: 1px dashed #F2F4F5;
    &.my-follow {
      padding-left:24px;
    }
    &:first-of-type,&:last-of-type,&.default-show {
      border-bottom-color: transparent;
    }
    .filter-col {
      position: relative;
      height:auto;
      line-height:51px;
      .clear-both();
      .col-default {
        float: left;
        vertical-align: middle;
        text-align: left;
        font-size: 12px;
        color: #5A626D;
        letter-spacing: 0px;
        margin-right:24px;
      }
      .col-val {
        float: left;
        vertical-align: middle;
        text-align: right;
        font-size: 12px;
        color: #2868D1;
        letter-spacing: 0px;
        margin-right:60px;
        cursor: pointer;
      }
      &.overflow {
        .col-handle {
          .open-btn {
            display: block;
          }
        }
      }
      .col-type {
        float: left;
        width:48px;
        vertical-align: middle;
        text-align: right;
        font-size: 12px;
        color: #5A626D;
        letter-spacing: 0px;
        font-weight:600;
      }
      .col-content {
        height: auto;
        margin-left:72px;
        padding-right:30px;
        overflow: hidden;
        .col-list-container {
          padding:12px 0 6px;
          overflow: hidden;
        }
        ul {
          float: left;
          overflow: hidden;
          position: relative;
          min-height:32px;
          &.height-auto {
            height:auto !important;
          }
          li {
            float: left;
            margin-right: 28px;
            padding: 4px 6px;
            font-size: 12px;
            letter-spacing: 0px;
            line-height: 20px;
            color: #222C38;
            cursor: pointer;
            margin-bottom:6px;
            .clear-btn {
              position: relative;
              top:1px;
              vertical-align: middle;
              visibility: visible;
              &.hide {
                visibility: hidden;
              }
            }
            &.active {
              color: #2868D1;
              background: rgba(107,162,252,.2);
            }
          }
        }
        .col-item {
          display: inline-block;
          padding: 3px 6px;
          font-size: 12px;
          letter-spacing: 0px;
          line-height: 18px;
          margin-right: 10px;
          color: #222C38;
          cursor: pointer;

          .clear-btn {
            position: relative;
            top:1px;
            vertical-align: middle;
            visibility: visible;
            &.hide {
              visibility: hidden;
            }
          }
          &.active {
            color: #2868D1;
            background: rgba(107,162,252,.2);
          }
        }
      }
      .col-handle {
        position: absolute;
        right:0;
        top:15px;
        .open-btn {
          display: none;
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 3px;
          line-height: 18px;
          font-size: 20px;
          color: #ccc;
          transition: transform .4s;
          &.open {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .spread-btn {
      position: absolute;
      width: 90px;
      height: 16px;
      bottom: -16px;
      left: 50%;
      margin-left: -45px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0px 1px 0px 1px #CCCCCC;
      background: #fff;
      padding-top:3px;
      cursor: pointer;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height:2px;
        background: #E7E7E7;
        margin:auto;
      }
      &:after {
        content: '';
        display: block;
        width: 20px;
        height:2px;
        background: #E7E7E7;
        margin:2px auto 0;
      }
  }
}

.result-container {
  background: #F2F4F5;
  padding:0 30px 40px;
  .result-tip {
    height:35px;
    line-height: 35px;
    font-size: 12px;
    color: #5A626D;
    letter-spacing: 0px;
    padding-left:10px;
  }
  .result-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px #CCCCCC;
    table {
      width:100%;
      text-align: center;
      font-size: 14px;
      color: #5A626D;
      tr {

        td {
          border-bottom:1px solid #F2F4F5;
          padding:14px 0;
          &.org-col {
            >section {
              line-height:21px;
              margin-bottom:6px;
              &:last-of-type {
                margin-bottom:0;
              }
            }
          }

          .project-logo {
            float: left;
            display: inline-block;
            width: 42px;
            height: 42px;
            margin-right: 16px;
            border: 1px solid #ebebeb;
            background: #fff no-repeat 50%;
            background-size: contain;
            border-radius: 4px;
            cursor: pointer;
            background-image: url('https://krplus-pic.b0.upaiyun.com/201604/05042043/4mxy3xi5g9id4zl6.jpg!100');
          }

          .project-info {
            margin-left:58px;
            .project-name {
              font-size: 14px;
              color: #222C38;
              letter-spacing: 0px;
              line-height: 21px;
              margin-bottom:8px;
              white-space: nowrap;
              .company-name {
                margin-right:10px;
                cursor: pointer;
              }
              .hot-tag {
                display: inline-block;
                width:auto;
                height:18px;
                line-height:18px;
                background: #F8627E;
                border-radius: 2px;
                font-size:12px;
                color: #fff;
                text-align: center;
                padding:0 5px;
                margin-right:10px;
                vertical-align: top;
              }
              .classic-tag {
                display: inline-block;
                width:auto;
                height:18px;
                line-height:18px;
                background: #FFA546;
                border-radius: 2px;
                font-size:12px;
                color: #fff;
                text-align: center;
                padding:0 5px;
                margin-right:10px;
                vertical-align: top;
              }
              .fund-state {
                .hot-tag;
                background: #6BA2FC;
              }
            }
            .project-intro {
              max-width: 230px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              color: #5A626D;
              letter-spacing: 0px;
              line-height: 18px;
            }
            .project-tag {
              font-size: 12px;
              color: #F8627E;
              letter-spacing: 0px;
              line-height: 18px;
              margin-top:4px;
              >i {
                font-size: 15px;
                vertical-align: middle;
              }
              >span {
                margin-left:4px;
              }
            }
          }

          .collect-btn {
            position: relative;
            display: inline-block;
            width:80px;
            height:30px;
            line-height:28px;
            border: 1px solid #6BA2FC;
            border-radius: 4px;
            font-size: 12px;
            color: #6BA2FC;
            letter-spacing: 0px;
            cursor: pointer;
            &:before {
              content: '';
              position: absolute;
              right:0;
              bottom:-10px;
              width:100px;
              height:20px;
              z-index:8;
              opacity: 0;
            }
            &:hover {
              background: #6BA2FC;
              color: #fff;
              .collect-modal {
                opacity: 1;
                transform: scale(1);
                visibility: visible;
                transition: all .3s cubic-bezier(.31,.57,.68,1.36);
              }
            }
            &.collected {
              border:none;
            }
            .collect-modal {
              position: absolute;
              width: 314px;
              background: #FFFFFF;
              box-shadow: 0px 2px 10px 0px #969FA9;
              border-radius: 4px;
              text-align: center;
              padding: 20px 0 30px;
              right: 0;
              top: 36px;
              z-index:9;
              opacity:0;
              transform: scale(0);
              transform-origin:90% 0;
              visibility: hidden;
              max-height:500px;
              overflow: scroll;
              .modal-title {
                font-size: 14px;
                color: #222C38;
                letter-spacing: 0px;
                line-height: 21px;
                margin-bottom:24px;
              }
              ul {
                list-style: none;
                margin:0;
                padding:0;
                li {
                  font-size: 14px;
                  margin-bottom: 12px;
                  text-align: left;
                  padding-left:60px;
                  .favorite-name {
                    color: #5A626D;
                    letter-spacing: 0px;
                    vertical-align: middle;
                    margin-left:11px;
                  }
                  .favorite-number {
                    font-size: 14px;
                    color: #969FA9;
                    vertical-align: middle;
                  }
                  .favorite-status {
                    opacity: 0;
                    font-size: 12px;
                    color: #6BA2FC;
                  }
                  .hidden{
                    animation:success 2s linear;
                  }
                  @keyframes success{
                    0%{
                      opacity: 1;
                    }
                    90%{
                      opacity: 1;
                    }
                    100%{
                      opacity: 0;
                    }
                  }
                }
              }
              .new-create {
                margin-top:8px;
                input[type='text'] {
                  display: inline-block;
                  width:150px;
                  height:37px;
                  line-height:35px;
                  background: #FFFFFF;
                  border: 1px solid #DDDDDD;
                  border-radius: 4px;
                  font-size: 14px;
                  color: #5A626D;
                  letter-spacing: 0px;
                  margin-right:12px;
                  padding-left:10px;
                }
                .create-link {
                  font-size: 14px;
                  color: #6BA2FC;
                  letter-spacing: 0px;
                }
              }
            }
          }

          &:first-of-type {
            text-align: left;
            padding-left:30px;
          }
          &:last-of-type {
            padding-right:38px;
          }
        }

        &:first-of-type {
          height:46px;
          padding:0;
          text-align: center;
          td {
            text-align: center;
            font-size: 12px;
            color: #5A626D;
            letter-spacing: 0px;
          }
        }
      }
    }

    .load-more {
      height: 73px;
      background: #fff;
      text-align: center;
      font-size: 12px;
      color: #5A626D;
      margin-top: -2px;
      padding-top: 20px;
      >a {
        display: block;
        background: #6BA2FC;
        border-radius: 4px;
        width: 130px;
        height: 33px;
        line-height: 33px;
        font-size: 14px;
        color: #FFFFFF;
        margin: auto;
      }
    }
  }
}


.login-container {
  height:100%;
  background: #F2F4F5;
  .login-layer {
      position: relative;
      top:50%;
      transform: translateY(-50%);
      .login-tip {
        width:140px;
        height:140px;
        background: url('../../../images/login-tip.png') no-repeat center;
        background-size: contain;
        margin:auto;
      }
      .tip-text {
        font-size: 18px;
        color: #5A626D;
        letter-spacing: 0px;
        line-height: 27px;
        margin:34px auto 20px;
        text-align: center;
      }
      .add-btn {
        display: block;
        width:180px;
        height:37px;
        line-height:37px;
        background: #6BA2FC;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        margin:auto;
        font-size: 14px;
        letter-spacing: 0px;
      }
  }
}


.label-dialog {
  padding-bottom: 160px;
  padding-top: 160px;
  .ngdialog-content {
    background: #fff;
    color: #444;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 660px;
    padding: 30px 50px 35px;
  }
  .icon-dialogClose {
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 20px;
    height: 20px;
    color: #969fa9;
    font-size: 20px;
    cursor: pointer;
  }
  .ngdialog-close{
    display: none;
  }
}
/*标签管理弹窗*/
.label-pop {
  .pop-title {
    font-size: 18px;
    color: #222C38;
    letter-spacing: 0px;
    line-height: 27px;
    text-align: center;
    margin:0 auto 30px;
    font-weight:normal;
  }
  .pop-col {
    font-size: 14px;
    color: #222C38;
    letter-spacing: 0px;
    line-height: 21px;
    margin-bottom:16px;
    &.recommend-label {
      margin-top:28px;
    }
    .col-tag {
      position: relative;
      top:2px;
      display: inline-block;
      width:4px;
      height:14px;
      background-color: #222C38;
      margin-right:8px;
    }
  }
  .pop-content {
    &.recommend-content {
      max-height:114px;
      overflow: hidden;
      &.heightAuto {
        max-height:999px;
      }
    }
    &:before,&:after {
      display: table;
      content: '';
      clear: both;
    }
    .followed-label {
      position: relative;
      float: left;
      width:auto;
      height:26px;
      font-size: 12px;
      color: #5A626D;
      letter-spacing: 0px;
      line-height: 24px;
      border: 1px solid #969FA9;
      padding:0 8px;
      text-align: center;
      margin:0 16px 12px 0;
      cursor: pointer;
      .unFollow-icon {
        position: static;
        width: 14px;
        height: 14px;
        font-size: 12px;
        vertical-align: middle;
      }
      &:hover {
        background: #6BA2FC;
        color: #fff;
        border-color: #6BA2FC;
        .unFollow-icon {
          color: #fff;
        }
      }
    }
  }
  .see-more {
    display: block;
    width:118px;
    height:28px;
    line-height: 26px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    margin:12px auto 0;
    font-size: 12px;
    color: #5A626D;
    letter-spacing: 0px;
    text-align: center;
  }
}
