<div class="announcement-dialog">
  <h1>用户须知</h1>
  <div class="content">
    <p>尊敬的用户：</p>
    <p>您好，为了保证您合理、高效的使用本平台，请您仔细阅读以下内容。</p><br/>
    <p>1. 36氪创投助手致力于让投资人和创业者更高效的对接，因此本平台力求提供全面、真实的创业项目及客观、公正的项目信息，这是对每一位用户的尊重，对创业的尊重。</p><br/>
    <p>2. 36氪多年来深耕于互联网创投领域，我们的工作人员对投资人的风格和习惯有着很深的理解，并形成了一套行之有效的标准，真实、客观、公正是此标准的基本准则。为了保证创业项目能被投资人快速了解或认可，我们将会按照标准对每一个项目的信息进行修改和完善。</p><br/>
    <p>3. 36氪创投助手鼓励您积极分享自己的或他人的创业项目，并按照提示提供尽可能客观、公正的信息，平台会把您提供的信息作为重要参考，并依照标准评定项目是否展示及展示何种信息。</p><br/>
    <p>您在使用本平台的过程中有任何疑问均可联系我们的客服邮箱ctfw@36kr.com，我们会第一时间给您回复，感谢您的支持与理解。</p>
  </div>
  <div class="continue">
    <a href="#" class="btn" ng-class="{active: vm.read}" ng-click="vm.close()">同意并继续</a><br/>
    <input type="checkbox" ng-model='vm.read'/><span>我已阅读相关信息</span>
  </div>
</div>