<div  class="finance-apply-wrapper">

  <h4>申请融资</h4>

  <div>
    <form >

      <div class="form-group">
        <label for=""><span class="required">*</span> 融资需求</label>
        <span id="messageWebsite" class="error-tip" id="messageBrief"></span>
        <select  ng-model="vm.baseInfoVM.website"
          validator="http" message-id="messageWebsite"
          type="text" name="website" class="form-control" > </select>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 计划金额</label>
        <span id="messageWebsite" class="error-tip" id="messageBrief"></span>
        <div class="inline-control">
          <input
            type="text" name="" class="form-control money" />万
          <select  ng-model="vm.baseInfoVM.website"
            validator="http" message-id="messageWebsite"
            type="text" name="website" class="form-control" > </select>

        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 目标市场规模及分析</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfoVM.name"
            placeholder="输入中文真实姓名"
            message-id="messageName"
            no-validation-message="true"
            maxlength="1000"
            validator="required"
            type="text" name="name" class="form-control" />
          <div class="textarea-border">
          </div>
          <span class="text-length">0/1000</span>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 业务数据亮点</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfoVM.name"
            placeholder="输入中文真实姓名"
            message-id="messageName"
            no-validation-message="true"
            maxlength="1000"
            validator="required"
            type="text" name="name" class="form-control" />
          <div class="textarea-border">
          </div>
          <span class="text-length">0/1000</span>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 项目的主要优势</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfoVM.name"
            placeholder="输入中文真实姓名"
            message-id="messageName"
            no-validation-message="true"
            maxlength="1000"
            validator="required"
            type="text" name="name" class="form-control" />
          <div class="textarea-border">
          </div>
          <span class="text-length">0/1000</span>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 主要竞争对手情况</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfoVM.name"
            placeholder="输入中文真实姓名"
            message-id="messageName"
            no-validation-message="true"
            maxlength="1000"
            validator="required"
            type="text" name="name" class="form-control" />
          <div class="textarea-border">
          </div>
          <span class="text-length">0/1000</span>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 发展规划</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfoVM.name"
            placeholder="输入中文真实姓名"
            message-id="messageName"
            no-validation-message="true"
            maxlength="1000"
            validator="required"
            type="text" name="name" class="form-control" />
          <div class="textarea-border">
          </div>
          <span class="text-length">0/1000</span>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 商业计划书</label>
        <span id="messageWebsite" class="error-tip" id="messageBrief"></span>
        <a   ng-model="vm.baseInfoVM.website"
          validator="http" message-id="messageWebsite"
          type="text" name="website" class="btn-bp" href="javascript:;" >上传BP</a>
      </div>

      <div class="bp-check-group form-group" >
        <label for="">BP查看设置</label>
        <div class="bp-check">
          <input type="checkbox" /><span>需要投资人申请查看BP</span>
        </div>
      </div>

    </form>
  </div>

  <div class="protocal-read">
    <input type="checkbox" /><span>已阅读<a href="#">《融资申请协议》</a></span>
  </div>

  <div>
    <a class="save next" href="javascript:;">提交</a>
  </div>
  <div class="form-bottom">
    <p class="splitter"> </p>
    <p class="tip-text">注意：提交融资申请内容均需审核，审核期间不可重复提交，5个工作日内反馈结果</p>
  </div>
</div>

