<div class="finance-audit-wrapper">
  <h4>正在审核中 <span class="finance-phase">F轮</span>
  <span class="funds-amount">30亿美金</span></h4>
  <div class="data-info">
    <div class="title">目标市场规模及分析</div>
    <div class="content">
      <span>目标用户：开发者个人和企业（数量：500-1000万）
市场规模：以开发者生态中外包/众包市场为例，2015 年产业规模过万亿。</span>
    </div>

    <div class="title">业务数据亮点</div>
    <div class="content">
      <span>产品数据
激活用户：26w
月活跃用户：10w
日新增用户：1k
日分享量：1k
我们的优势：与聚合阅读不同，我们的核心是分享，以分享解决阅读问题，而不是单纯的抓取内容再聚合
从产品模式的角度，竞争对手：CSDN。
我们的优势：分享数量和质量上占优；与单纯分享不同，推出的独家号和团队号功能，更利于持续扩大分享者的技术品牌影响力。</span>
    </div>

    <div class="title">项目主要优势</div>
    <div class="content">
      <span>行业积累
在开发者头条之前，我们运营了 @developerWorks 微博和《码农周刊》，他们都与开发者相关，已累计数十万用户，并已具备初步变现能力。
用户信任
信任是做好开发者生态的基础。开发者头条之前和过程中，做了很多“积累人品”的事情。开发者头条已初步成为开发者认可的品牌。
推广渠道
目前用户增长主要依靠自有推广渠道，效果好的同时也利于控制推广成本。</span>
    </div>

    <div class="title">主要竞争对手情况</div>
    <div class="content">
      <span>从移动阅读的角度，竞争对手：推酷。
我们的优势：与聚合阅读不同，我们的核心是分享，以分享解决阅读问题，而不是单纯的抓取内容再聚合
从产品模式的角度，竞争对手：CSDN。
我们的优势：分享数量和质量上占优；与单纯分享不同，推出的独家号和团队号功能，更利于持续扩大分享者的技术品牌影响力。</span>
    </div>

    <div class="title">发展规划</div>
    <div class="content">
      <span>未来12个月计划及目标
a. 搭建分工更细化的团队
b. 加强技术研发实力
c. 数据增长：激活用户过百万，日分享量过万。
d. 初期盈利模式探索</span>
    </div>

    <div class="title">商业计划书</div>
    <div class="content bp">
      <span class="icon-BP"></span>
      <a ng-href="{{vm.financeVM.finance.bp}}">查看BP</a>
    </div>

    <div class="title">设置</div>
    <div class="content">
      <div class="settings-left">
        <span>BP查看设置</span>
        <div class="bp-check">
          <input type="checkbox" ng-model='vm.financeVM.privileges' disabled="true" />
          <span tooltips tooltip-template="请下载创投助手App处理投资人的申请" tooltip-side="right"
            tooltip-class="tooltip"  >需要投资人申请查看BP</span>
        </div>
      </div>
      <div class="settings-right">
        <span>联系方式回复设置</span>
        <div class="bp-check">
          <input type="checkbox" ng-model='vm.financeVM.privileges' disabled="true" />
          <span tooltips tooltip-template="请下载创投助手App处理投资人的申请" tooltip-side="right"
            tooltip-class="tooltip"  >自动回复微信号及手机号</span><br/>
          <input type="checkbox" ng-model='vm.financeVM.privileges' disabled="true" />
          <span tooltips tooltip-template="请下载创投助手App处理投资人的申请" tooltip-side="right"
            tooltip-class="tooltip"  >仅自动回复微信号</span><br/>
          <input type="checkbox" ng-model='vm.financeVM.privileges' disabled="true" />
          <span tooltips tooltip-template="请下载创投助手App处理投资人的申请" tooltip-side="right"
            tooltip-class="tooltip"  >仅自动回复手机号</span><br/>
          <input type="checkbox" ng-model='vm.financeVM.privileges' disabled="true" />
          <span tooltips tooltip-template="请下载创投助手App处理投资人的申请" tooltip-side="right"
            tooltip-class="tooltip"  >不自动回复</span><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <span class="note">注意：提交融资申请内容均需审核，审核期间不可重复提交，5个工作日内反馈结果</span>
</div>


