<section class="create-project-wrapper">
  <div class="create-project-module">
    <h1>添加创业项目</h1>
    <div ng-if="vm.step === 1" ng-include="'/pages/createProject/templates/stepOne.html'"> </div>
    <div ng-if="vm.step === 1" ng-include="'/pages/createProject/templates/suggest-result.html'"> </div>
    <div ng-if="vm.step === 2" ng-include="'/pages/createProject/templates/stepTwo.html'"> </div>
    <div ng-if="vm.step === 3" ng-include="'/pages/createProject/templates/finance-apply.html'"> </div>
    <div ng-if="vm.step === 4" ng-include="'/pages/createProject/templates/stepFour.html'"> </div>
    <div ng-if="vm.step === 4" ng-include="'/pages/createProject/templates/similar-item.html'"></div>
  </div>
</section>
