<section class="create-project-wrapper">
  <div class="navigation" ng-show="vm.type === 'finance'">
    <a ui-sref="project({id: vm.id})" href="#">{{vm.name}}</a><span class="arrow"> > </span><span>融资需求</span>
  </div>
  <div class="create-project-module">
    <div class="create-title">
      <h1>{{ vm.title || '添加创业项目' }}</h1>
      <span>让投资人更全面的了解</span>
    </div>
    <div ng-show="vm.step === 1" ng-include="'/pages/createProject/templates/stepOne.html'"> </div>
    <div ng-show="vm.step === 2" ng-include="'/pages/createProject/templates/stepTwo.html'"> </div>
    <div ng-show="vm.step === 3" ng-include="'/pages/createProject/templates/finance-apply.html'"> </div>
    <div ng-if="vm.step === 4 && vm.type === 'finance'" ng-include="'/pages/createProject/templates/financeAudit.html'"> </div>
    <div ng-if="vm.step === 4 && vm.type !== 'finance'" ng-include="'/pages/createProject/templates/stepFour.html'"></div>

  </div>
  <div ng-if="vm.step === 4 && vm.similarProjects.length" class="create-project-module smilar-project-module">
    <div ng-include="'/pages/createProject/templates/similar-item.html'"></div>
  </div>
</section>
