<div class="similar-item-wrapper">
  <h4>类似项目</h4>
  <table class="item-tab">
    <thead>
      <td>项目</td>
      <td>行业</td>
      <td>当前轮次</td>
      <td>所在地</td>
      <td>过往投资方</td>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.similarProjects">
      <td>
        <a target="_blank" ng-href="/project/{{item.id}}"><img ng-src="{{item.logo}}" class="item-logo"></a>
        <span class="item-info">
          <a target="_blank" ng-href="/project/{{item.id}}"><div class="item-name">{{item.name}}</div></a>
          <div class="item-breif">{{item.brief}}</div>
        </span>
      </td>
      <td>{{item.industry}}</td>
      <td>{{item.financePhase}}</td>
      <td>{{item.city}}</td>
      <td>
        <div ng-repeat="inv in item.pastInvestor">
          {{inv}}
        </div>
      </td>
      </tr>
    </tbody>
  </table>
  <div class="more-btn">
    <a href="javascript:alert('页面还在开发');" class="more-item">查看更多项目</a>
  </div>
</div>
