<div class="similar-item-wrapper">
  <h4>类似项目</h4>
  <table class="item-tab">
    <thead>
      <td>项目</td>
      <td>行业</td>
      <td>当前轮次</td>
      <td>所在地</td>
      <td>过往投资方</td>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.similarItem">
      <td>
        <img ng-src="../../../images/test.png" class="item-logo">
        <span class="item-info">
          <div class="item-name">{{item.name}}</div>
          <div class="item-breif">{{item.info}}</div>
        </span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>
    </tbody>
  </table>
  <div class="more-btn">
    <a href="javascript:;" class="more-item">查看更多项目</a>
  </div>
</div>
