<div  class="step-one-wrapper">
  <h4>基本信息</h4>
  <div class="upload-logo">
    <img ng-src="{{vm.baseInfo.logo || '/images/default-logo.png'}}" class="logo" alt="">
    <a
      class="btn-upload-logo" href="javascript:;">
      <input ngf-select="vm.uploadImage($files)" ngf-accept="'image/*'"
      type="file" />
    </a>
    <div ng-if="vm.baseInfo.form.logo.$invalid !== true">
      <p>建议上传大小</p>
      <p>90*90px</p>
    </div>
    <p ng-if="vm.baseInfo.form.logo.$invalid === true" class="logo-msg">请上传LOGO</p>
  </div>
  <div>
    <form name="vm.baseInfo.form">

      <input validator="required"
      type="hidden" name="logo" ng-model="vm.baseInfo.logo">
      <div mass-autocomplete="{debounce_blur:700,top:65,left:0.01,maxWidth:518,
            position:'parent'}" class="form-group">
        <label for=""><span class="required">*</span> 项目名称</label>
        <input  ng-model="vm.baseInfo.name"
          placeholder="输入项目名称"
          message-id="messageName"
          no-validation-message="true"
          maxlength="30"
          ng-trim="false"
          validator="required"
          mass-autocomplete-item="vm.autocompleteOptions"
          type="text" name="cname" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">工商注册公司全称</label>

        <span id="messageFullName"
          class="error-tip"></span>
        <input  ng-model="vm.baseInfo.fullName"
          placeholder="输入公司全称"
          message-id="messageFullName"
          type="text" name="fullName" class="form-control" />
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 一句话简介</label>
        <span class="error-tip" id="messageBrief"></span>
        <input  ng-model="vm.baseInfo.brief"
        validator="required,minlength=5" message-id="messageBrief"
        minlength-error-message="可以描述的更加详细一些（不得少于5个字）"
        maxlength="30"
        placeholder="输入项目一句话简介，30字内"
        type="text" name="brief" class="form-control" />
      </div>
      <div class="form-group">
        <label for=""><span class="required">*</span> 所属领域</label>
        <select  ng-model="vm.baseInfo.industry"
          ng-options="item.value as item.desc for item in root.INDUSTRY_META"
          validator="required"
          type="text" name="industry" class="form-control" >
          <option value="">选择领域</option>
        </select>
      </div>
      <div class="form-group">
        <label for=""><span class="required">*</span> 项目类型</label>
        <select  ng-model="vm.baseInfo.companyType"
          ng-options="item.value as item.desc for item in root.PROJECT_TYPE_META"
          validator="required"
          type="text" name="companyType" class="form-control" >
          <option value="">选择项目类型</option>
        </select>
      </div>
      <div ng-if="vm.isWebApp() || vm.isWeb() || vm.isApp()" class="form-group">
        <label for=""><span ng-if="vm.isWeb() || vm.isWebApp()" class="required">*</span> 公司官网</label>
        <span id="messageWebsite" class="error-tip" ></span>
        <input  ng-model="vm.baseInfo.website"
          placeholder="请填写公司的官网，请以http(s)://开头"
          validator="http,projectType=website" message-id="messageWebsite"
          type="text" name="website" class="form-control" />
      </div>

      <div ng-if="vm.isWebApp() || vm.isApp()"  class="form-group">
        <label for="">iOS下载地址</label>
        <span ng-if="vm.baseInfo.form.ioslink.$invalid !== true" class="form-tip" >
          iOS与Android下载链接至少填写一个</span>
        <span id="messageIoslink" class="error-tip" ></span>
        <input  ng-model="vm.baseInfo.iosLink"
          validator="applink" message-id="messageIoslink"
          applink-error-message="iOS与Android下载链接至少填写一个"
          placeholder="请填写产品iOS下载地址"
          type="text" name="ioslink" class="form-control" />
      </div>
      <div ng-if="vm.isWebApp() || vm.isApp()"  class="form-group">
        <label for="">Android下载地址</label>
        <span ng-if="vm.baseInfo.form.androidlink.$invalid !== true" class="form-tip" >
          iOS与Android下载链接至少填写一个</span>
        <span id="messageAndroidlink" class="error-tip" ></span>
        <input  ng-model="vm.baseInfo.androidLink"
          placeholder="请填写产品的Android下载地址"
          validator="applink" message-id="messageAndroidlink"
          applink-error-message="iOS与Android下载链接至少填写一个"
          type="text" name="androidlink" class="form-control" />
      </div>
      <div ng-if="vm.isWeixin()" class="form-group">
        <label for=""><span class="required">*</span>微信公众号</label>
        <input  ng-model="vm.baseInfo.weixin"
          placeholder="请填写微信公众号"
          validator="required"
          type="text" name="weixin" class="form-control" />
      </div>
      <div ng-if="vm.isIdea()" class="form-group">
        <label for=""><span class="required">*</span> 产品介绍</label>
        <div class="textarea-control">
          <textarea  ng-model="vm.baseInfo.intro"
            placeholder="输入产品介绍"
            maxlength="100"
            validator="required"
            message-id="none"
            type="text" name="intro" class="form-control" ></textarea>
          <div class="textarea-border"></div>
          <span class="text-length">{{vm.baseInfo.intro.length || 0}}/100</span>
        </div>
      </div>
      <div class="form-group">
        <label for=""><span class="required">*</span> 你的角色</label>
        <select  ng-model="vm.baseInfo.companyRole"
          ng-options="item.value as item.desc for item in root.ROLE_META"
          validator="required"
          type="text" name="companyRole" class="form-control" >
          <option value="">选择角色</option>
        </select>
      </div>
      <div class="form-group">
        <label for=""><span class="required">*</span> 融资需求</label>
        <select  ng-model="vm.baseInfo.financingNeed"
          ng-options="item.value as item.desc for item in root.FINANCE_NEED_META"
          validator="required"
          type="text" name="financingNeed" class="form-control" > </select>
      </div>

      <div class="form-group">
        <a class="next" href="javascript:;" ng-click="vm.next(vm.baseInfo.form)">
          下一步
        </a>
      </div>

    </form>
  </div>
  <div class="form-bottom">
    <p class="splitter"> </p>
    <p class="tip-text">注意：为保证审核效率，请仔细查看建议结果中是否有需要添加的项目，若有直接认领</p>
  </div>

</div>

<div ng-if="vm.suggestList.length" class="step-one-wrapper suggest-result-wrapper">
  <h4>建议结果</h4>
    <div>
      <ul>
        <li ng-repeat="item in vm.suggestList">
          <img ng-src='{{item.logo}}' /><div class="suggest-project-text">
            <p><span>{{item.name}}</span><span>{{item.industry | industry}}</span></p>
            <p class="brief">item.breif</p>
          </div>
          <div ng-if="item.website" class="website">
            <a ng-href="{{item.website}}">{{item.website}}</a>
          </div>
          <a class="claim" ng-click="vm.claim(item)" href="javascript:;">认领</a>
        </li>
      </ul>
    </div>
</div>
