<div  class="step-two-wrapper">

  <h4 ng-if="vm.isClaiming || vm.isFunder() || vm.isMaintainer()">认证信息</h4>

  <div>
    <div ng-if="vm.claimer.hasManager" class="claim-message">
      <p >已有认领人<a href="javascript:;">{{vm.claimer.name}}</a>，若非真实可<a ng-click="vm.call110()" href="javascript:;">
      举报更改</a></p>
      <p ng-if="vm['110']" class="small-ft">请将举报材料（个人名片、公司营业执照等可证明对公司有实际控制权的证明材料）
提交至“融资小秘书：*******”，
      会在3个工作日内联系您，并给出结果反馈。</p>
    </div>
    <form name="vm.user.form">
      <div ng-if="vm.isClaiming || vm.isFunder() || vm.isMaintainer()">
        <div class="form-group">
          <label for=""><span class="required">*</span> 真实姓名</label>
          <input  ng-model="vm.user.userName"
            placeholder="输入中文真实姓名"
            maxlength="16"
            validator="required,maxlength=16"
            type="text" name="userName" class="form-control" />
        </div>

        <div class="form-group">
          <label for=""><span class="required">*</span> 职位</label>
          <div>
            <select ng-options="item.value as item.desc for item in vm.CLAIM_ROLE"
              ng-if="!vm.baseInfo.companyRole || vm.isClaiming"
              ng-model="vm.user.companyRole"
              placeholder="输入"
              message-id="messageFullName"
              not-equal-error-message="请不要再次填写项目名称"
              type="text" name="userCompanyRole" class="form-control"
            >
              <option value="">选择角色</option>
            </select><input ng-model="vm.user.userPosition"
              placeholder="输入职位" maxlength="20"
              validator="required,maxlength=20"
              type="text" name="userPosition" class="form-control position-name"  />
          </div>

        </div>

        <div class="form-group">
          <label for=""><span class="required">*</span> 手机号码</label>
          <span class="error-tip" ng-if="vm.user.form.userPhone.$invalid === true">
          请输入真实的手机号码</span>
          <input  ng-model="vm.user.userPhone"
            validator="required,maxlength=13,number"
            no-validation-message="true"
            maxlength="13"
            error-message="输入真实手机号"
            placeholder="输入真实手机号"
            type="text" name="userPhone" class="form-control" />
        </div>
        <div class="form-group">
          <label for=""><span class="required">*</span> 公司邮箱</label>
          <span class="error-tip" ng-if="vm.user.form.userEmail.$invalid === true">
          请输入正确的邮箱格式</span>
          <input  ng-model="vm.user.userEmail"
            validator="required,email"
            no-validation-message="true"
            maxlength="30"
            placeholder="输入公司邮箱，便于审核"
            type="text" name="userEmail" class="form-control" />
        </div>
        <div class="form-group">
          <label for=""><span class="required">*</span> 个人微信</label>
          <span class="error-tip" ng-if="vm.user.form.userWeiXin.$invalid === true">
            微信号最小长度为6位
          </span>
          <input  ng-model="vm.user.userWeiXin"
            validator="required,maxlength=20,minlength=6"
            no-validation-message="true"
            maxlength="20" minlength="6"
            placeholder="输入个人微信号，方便联系"
            type="text" name="userWeiXin" class="form-control" />
        </div>

        <div class="form-group">
          <input ng-model="vm.user.userBusinessCard" validator="required"
            required-error-message="请上传名片" message-id="messageCard"
            type="hidden" name="userBusinessCard" >
          <label for=""><span class="required">*</span> 个人名片</label>
          <span class="inline-error-tip" id="messageCard"></span>
          <img ng-src="{{vm.user.userBusinessCard || '/images/cardBackground.png'}}" alt="" class="upload-img">
          <span class="btn-id-card uploading" >{{vm.suc?'点击更新图片':'点击上传名片'}}
            <input ngf-select="vm.uploadIdCard($files)" ngf-accept="'image/*'" type="file">
          </span>
          <span class="warn-img">建议上传尺寸：90mm*50mm</span>
        </div>
      </div>

      <div ng-if="!vm.isFunder() || vm.isClaimingMember()">
        <div class="form-group creator-title">
          <label class="mr10">创始人联系方式</label><span  class="form-tip" >便于更好完善该项目信息</span>
        </div>

        <div class="form-group">
          <label for="">真实姓名</label>
          <input kr-valid ng-model="vm.user.starterName"
            placeholder="输入中文真实姓名"
            maxlength="16" validator="maxlength=16"
            type="text" name="starterName" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">职位</label>
          <div>
            <input kr-valid ng-model="vm.user.starterPosition"
              placeholder="输入职位" validator="maxlength=20" maxlength="20"
            type="text" name="starterPosition" class="form-control position-name"  />
          </div>

        </div>

        <div class="form-group">
          <label for="">手机号码</label>
          <span class="error-tip" ng-if="vm.user.form.starterPhone.$invalid === true">
          请输入真实的手机号码</span>
          <input kr-valid  ng-model="vm.user.starterPhone" validator="integer,maxlength=13"
          maxlength="13" no-validation-message
          placeholder="输入真实手机号"
          type="text" name="starterPhone" class="form-control" />
        </div>
      </div>
    </form>
  </div>
  <div class="form-group text-center">
    <a class="prev" ng-click="vm.prev()" href="javascript:;">上一步</a
    ><a ng-class="{active: vm.isInvestorOrUser() || vm.user.form.$valid === true}"
      class="next" ng-click="vm.next(vm.user.form)" href="javascript:;">
          {{vm.needFinance() ? '下一步' : '提交'}}
    </a>
  </div>
  <div class="form-bottom">
    <p class="splitter"> </p>
    <pre class="tip-text">请上传真实有效的个人名片，名片上的公司名称应该与所认领的公司名称保持一致；
请确保你是该公司的创始人或者其他相关在职成员；
请勿上传其他不相关的证件，以免影响审核通过率；
上传图片支持2M以内的PNG、JPG、GIF格式。</pre>
  </div>
</div>
