<div class="step-four-wrapper">
  <div class="success-tip">
    <img src="/images/icon_complete.png" class="complete" alt="icon-complete">
    <span>提交成功！</span>
  </div>
  <div class="content">
    <div class="center">
      <ul>
        <li>
          <p>恭喜您已经完成了项目的创建，</p>
        </li>
        <li>
          <p>您的项目将在<span class="bold">3个工作日内</span>被审核，</p>
        </li>
        <li>
          <p><span class="bold">请勿重复提交项目。</span></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="view">
    <a ng-if="vm.isFunder() || vm.isMaintainer() || vm.financeVM.id" class="investor" ui-sref="investorList.result" target="_blank">
      查看投资人</a>
  </div>
</div>
