<div class="step-four-wrapper">
  <div class="success-tip">
    <img src="../../../images/icon_complete.png" class="complete" alt="icon-complete">
    <span>提交成功！</span>
  </div>
  <div class="content">
    <div class="center">
      <ul>
        <li>
          <p>已经完成提交创业项目，请勿重复添加以免影响审核</p>
        </li>
        <li>
          <p>项目审核的结果会通过邮件、系统通知、App进行告知</p>
        </li>
        <li>
          <p>也可以直接进入“我的公司”进行查看</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="view">
    <a ng-if="vm.isFunder() || vm.isMaintainer() || vm.financeVM.id" class="investor" href="javascript:;">
      查看投资人</a>
  </div>
</div>
