<div ng-if="!investorListVm.open.sideBar">
  <div class="investorList-filter-container">
    <div class="filter-list">
      <div class="filter-col">
        <div class="col-type">
          关注领域
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <ul filter-cal ng-class="{'height-auto':investorListVm.open.label}">
              <li class="col-item" ng-repeat="item in investorListVm.data.label" ng-class="{'active': item.active}"
                ng-click="investorListVm.selectIndustry($index,'label')">
                {{item.name}}({{item.cnt ? item.cnt : 0}})
                <span class="clear-btn" ng-class="{'hide':!item.active}" ng-if="item.name === '不限'"></span>
                <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.name !== '不限'"
                  ng-click="investorListVm.clearIndustry(item.value,'label');$event.stopPropagation();"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn" ng-click="investorListVm.spreadMore('label')"
            ng-class="{'open': investorListVm.open.label}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list">
      <div class="filter-col">
        <div class="col-type">
          偏好轮次
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <ul filter-cal ng-class="{'height-auto':investorListVm.open.phase}">
              <li class="col-item" ng-repeat="item in investorListVm.data.phase" ng-class="{'active': item.active}"
                ng-click="investorListVm.selectIndustry($index,'phase')">
                {{item.name}}({{item.cnt ? item.cnt : 0}})
                <span class="clear-btn" ng-class="{'hide':!item.active}" ng-if="item.name === '不限'"></span>
                <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.name !== '不限'"
                  ng-click="investorListVm.clearIndustry(item.value,'phase');$event.stopPropagation();"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn" ng-click="investorListVm.spreadMore('phase')"
            ng-class="{'open': investorListVm.open.phase}"></a>
        </div>
      </div>
    </div>
    <div class="filter-list">
      <div class="filter-col">
        <div class="col-type">
          所在地
        </div>
        <div class="col-content">
          <div class="col-list-container">
            <div class="filter-outside-container" ng-class="{'height-auto':investorListVm.open.city}">
              <ul filter-cal ng-if="investorListVm.data.city">
                <li class="col-item" ng-repeat="item in investorListVm.data.city" ng-class="{'active': item.active}" ng-click="investorListVm.selectIndustry($index,'city')">
                  {{item.name}}
                  <span class="item-cnt">({{item.cnt ? item.cnt : 0}})</span>
                  <span class="clear-btn" ng-class="{'hide':!item.active}" ng-if="item.name === '不限'"></span>
                  <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-if="item.name !== '不限'"
                  ng-click="investorListVm.clearIndustry(item.value,'city');$event.stopPropagation();"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-handle">
          <a href="javascript:void(0)" class="open-btn icon-label-open" ng-click="investorListVm.spreadMore('city')" ng-class="{'open': investorListVm.open.city}"></a>
        </div>
      </div>
    </div>
  </div>
  <ui-view></ui-view>
</div>

<div kr-column3 column-options="investorListVm.columnOptions" ng-if="investorListVm.open.sideBar">

</div>

<!--<ui-view></ui-view>-->



