<div class="invest-case">
  <h4>投资案例<a href="javascript:void(0)">(123)</a></h4>
  <div class="case-content">
    <div class="case-tags">
      <ul class="tags">
        <li class="tag">医疗健康</li>
        <li class="tag">医疗健康</li>
        <li class="tag">医疗健康</li>
        <li class="tag">医疗健康</li>
        <li class="tag">医疗健康</li>
        <li class="tag">医疗健康</li>
      </ul>
    </div>
    <div class="case-list">
      <div class="case-info">
        <img class="case-logo" src="https://krplus-pic.b0.upaiyun.com/201511/18/ca76943cecef4f6d830e4a3fec7e83cf.jpg">
        <div class="case-brief">
          <p class="company-name"><span>极光推送</span></p>
          <p class="company-brief"><span>Android平台的消息推送服务平台</span></p>
        </div>
        <div class="show"><a href="#">显示</a></div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
        <div class="more m-bottom"><a href="#">收起</a></div>
      </div>
      <div class="case-info f-right">
        <img class="case-logo" src="https://krplus-pic.b0.upaiyun.com/201511/18/ca76943cecef4f6d830e4a3fec7e83cf.jpg">
        <div class="case-brief">
          <p class="company-name"><span>极光推送</span></p>
          <p class="company-brief"><span>Android平台的消息推送服务平台</span></p>
        </div>
        <div class="show"><a href="#">显示</a></div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
      </div>
      <div class="case-info">
        <img class="case-logo" src="https://krplus-pic.b0.upaiyun.com/201511/18/ca76943cecef4f6d830e4a3fec7e83cf.jpg">
        <div class="case-brief">
          <p class="company-name"><span>极光推送</span></p>
          <p class="company-brief"><span>Android平台的消息推送服务平台</span></p>
        </div>
        <div class="show"><a href="#">显示</a></div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
        <div class="more"><a href="#">展开</a></div>
      </div>
      <div class="case-info f-right">
        <img class="case-logo" src="https://krplus-pic.b0.upaiyun.com/201511/18/ca76943cecef4f6d830e4a3fec7e83cf.jpg">
        <div class="case-brief">
          <p class="company-name"><span>极光推送</span></p>
          <p class="company-brief"><span>Android平台的消息推送服务平台</span></p>
        </div>
        <div class="show"><a href="#">显示</a></div>
        <div class="case-phase">
          <span>2016.07</span>
          <div class="circular">
            <div class="circular2"></div>
            <div class="line"></div>
          </div>
          <span>Pre-A轮</span>
          <span> | </span>
          <span>总投资金额</span>
          <span>$ 4560万</span>
        </div>
      </div>
    </div>
  </div>
</div>
