<div class="invest-case">
  <h4>投资案例<a href="javascript:void(0)"
    ng-if="investorInfoVm.allInvestments.length">({{investorInfoVm.allInvestments.length}})</a>
    <div ng-if="!investorEditVM.editCase && investorInfoVm.isEditMode"
      ng-click="investorEditVM.enterCase()"
      class="btn-edit">
      <span>添加投资案例＋</span></div>
  </h4>
  <div ng-if="!investorEditVM.editCase" class="case-content">
    <div class="has-content" ng-if="investorInfoVm.industry.length || investorInfoVm.allInvestments.length">
      <div class="case-tags">
        <ul class="tags">
          <li class="tag" ng-repeat="industry in investorInfoVm.industry"><a ui-sref="list.result({industry: industry,columnId: 0})" href="#" target="blank">{{industry | industry}}</a></li>
        </ul>
      </div>
      <div class="case-list">
        <div class="case-left">
          <div class="case-info" ng-repeat="case in investorInfoVm.investment" ng-if="$index % 2 == 0" ng-show="case.visible || investorInfoVm.isEditMode">
            <div class="case-brief">
              <a ui-sref="project({id: case.cid})" href="#" target="blank"><img class="case-logo" src="{{case.logo || '/images/default-logo.png'}}"></a>
              <div class="company-name">
                <a ui-sref="project({id: case.cid})" href="#" class="bold" target="_blank"><span>{{case.companyName}}</span></a>
                <a href="#" ng-click="investorInfoVm.changeVisible(case.cid,case.visible)"><span href="#" class="show" ng-show="investorInfoVm.isEditMode && !case.visible">显示</span></a>
                <a href="#" ng-click="investorInfoVm.changeVisible(case.cid,case.visible)"><span href="#" class="show" ng-show="investorInfoVm.isEditMode && case.visible">不显示</span></a>
              </div>
              <div class="company-brief"><span>{{case.brief | briefFilter}}</span></div>
            </div>
            <div class="case-phase" ng-repeat="phase in case.entityVo"
            ng-class="{'more-show': case.moreShow || $index < 2,
             'more-hide': !case.moreShow && $index > 1}">
              <span>{{phase.investDate | dateFilter}}</span>
              <div class="circular">
                <div class="circular2"></div>
                <div class="line"></div>
              </div>
              <span class="bold">{{phase.phase | companyFinancePhase}}</span>
            </div>
            <div ng-show="case.entityVo.length > 2" class="more-show-btn">
              <a href="#" class="more-btn" ng-show="!case.moreShow"
                ng-click="investorInfoVm.moreShow(case.cid,'close')">展开</a>
              <a href="#" class="more-btn" ng-show="case.moreShow"
                ng-click="investorInfoVm.moreShow(case.cid,'open')">收起</a>
            </div>
          </div>
        </div>

        <div class="case-right">
          <div class="case-info" ng-repeat="case in investorInfoVm.investment" ng-if="$index % 2 == 1" ng-show="case.visible || investorInfoVm.isEditMode">
            <div class="case-brief">
              <a ui-sref="project({id: case.cid})" href="#" target="blank"><img class="case-logo" src="{{case.logo || '/images/default-logo.png'}}"></a>
              <div class="company-name">
                <a ui-sref="project({id: case.cid})" href="#" class="bold" target="_blank"><span>{{case.companyName}}</span></a>
                <a href="#" ng-click="investorInfoVm.changeVisible(case.cid,case.visible)"><span href="#" class="show" ng-show="!case.visible && investorInfoVm.isEditMode">显示</span></a>
                <a href="#" ng-click="investorInfoVm.changeVisible(case.cid,case.visible)"><span href="#" class="show" ng-show="case.visible && investorInfoVm.isEditMode">不显示</span></a>
              </div
              ><div class="company-brief"><span>{{case.brief | briefFilter}}</span></div>
            </div>
            <div class="case-phase" ng-repeat="phase in case.entityVo"
            ng-class="{'more-show': case.moreShow || $index < 2,
            'more-hide': !case.moreShow && $index > 1}">
              <span>{{phase.investDate | dateFilter}}</span>
              <div class="circular">
                <div class="circular2"></div>
                <div class="line"></div>
              </div>
              <span class="bold">{{phase.phase | companyFinancePhase}}</span>
            </div>
            <div ng-show="case.entityVo.length > 2" class="more-show-btn">
              <a href="#" class="more-btn" ng-show="!case.moreShow"
                ng-click="investorInfoVm.moreShow(case.cid,'close')">展开</a>
              <a href="#" class="more-btn" ng-show="case.moreShow"
                ng-click="investorInfoVm.moreShow(case.cid,'open')">收起</a>
            </div>
          </div>
        </div>
      </div>
      <div class="show-more" ng-hide="investorInfoVm.allInvestments.length <= 4  || investorInfoVm.moreCase"
      ng-click="investorInfoVm.showMoreCase()">
        <p>查看更多</p>
      </div>
    </div>
    <div class="no-data" ng-if="!investorInfoVm.industry.length && !investorInfoVm.allInvestments.length">
      <p>暂无数据</p>
    </div>
  </div>
  <div ng-if="investorEditVM.editCase" ng-include="'/pages/investorInfo/templates/caseEdit.html'">

  </div>
</div>
