<div class="case-edit-wrapper">
  <form  name="investorEditVM.caseData.form">
    <div class="form-group">
      <label for=""><span class="required">*</span> 项目名称</label>
      <div mass-autocomplete="{left:0.1, top: 40,debounce_blur:300,minWidth:'100%', position: 'parent'}">
        <input  ng-model="investorEditVM.caseData.companyName"
          placeholder="请填写投资项目简称"
          mass-autocomplete-item="investorEditVM.caseComOptions"
          maxlength="50"
          validator="required"
          type="text" name="companyName" class="form-control" />
      </div>
    </div>

    <div ng-if="investorEditVM.newCom" class="form-group">
      <label for=""><span class="required">*</span> 产品链接</label>
      <span id="productTypeMessage"
        class="error-tip"></span>
      <select class="form-control mr10" ng-model="investorEditVM.caseData.companyType"
      validator="required"
      message-id="productTypeMessage"
      ng-options="item.value as item.desc for item in root.PROJECT_TYPE_META"
      name="productType">
      </select >
    </div>

    <div ng-if="investorEditVM.isWeb() || investorEditVM.isWebApp()" class="form-group">
      <label for=""><span class="required">*</span> 公司官网</label>
      <span id="messageWebsite" class="error-tip" ></span>
      <input  ng-model="investorEditVM.caseData.website"
        placeholder="请填写公司的官网，请以http(s)://开头"
        ng-blur="investorEditVM.searchClaimList()"
        validator="required,http" message-id="messageWebsite"
        type="text" name="website" class="form-control" />
    </div>

    <div ng-if="investorEditVM.isApp()" class="form-group">
      <label for="">公司官网</label>
      <span id="messageWebsite" class="error-tip" ></span>
      <input  ng-model="investorEditVM.caseData.website"
        placeholder="请填写公司的官网，请以http(s)://开头"
        ng-blur="investorEditVM.searchClaimList()"
        kr-valid
        validator="http" message-id="messageWebsite"
        type="text" name="website" class="form-control" />
    </div>

    <div ng-if="investorEditVM.isWebApp() || investorEditVM.isApp()"  class="form-group">
      <label for="">iOS下载地址</label>
      <span ng-if="investorEditVM.caseData.form.ioslink.$invalid !== true" class="form-tip" >
        iOS与Android下载链接至少填写一个</span>
      <span id="messageIoslink" class="error-tip" ></span>
      <input  ng-model="investorEditVM.caseData.iosLink"
        validator="applink,http" message-id="messageIoslink"
        ng-blur="investorEditVM.searchClaimList()"
        applink-error-message="iOS与Android下载链接至少填写一个"
        placeholder="请填写产品iOS下载地址"
        type="text" name="ioslink" class="form-control" />
    </div>
    <div ng-if="investorEditVM.isWebApp() || investorEditVM.isApp()"  class="form-group">
      <label for="">Android下载地址</label>
      <span ng-if="investorEditVM.caseData.form.androidlink.$invalid !== true" class="form-tip" >
        iOS与Android下载链接至少填写一个</span>
      <span id="messageAndroidlink" class="error-tip" ></span>
      <input  ng-model="investorEditVM.caseData.androidLink"
        placeholder="请填写产品的Android下载地址"
        ng-blur="investorEditVM.searchClaimList()"
        validator="applink,http" message-id="messageAndroidlink"
        applink-error-message="iOS与Android下载链接至少填写一个"
        type="text" name="androidlink" class="form-control" />
    </div>
    <div ng-if="investorEditVM.isWeixin()" class="form-group">
      <label for=""><span class="required">*</span>微信公众号</label>
      <span ng-if="investorEditVM.caseData.form.weixin.$invalid === true" class="error-tip" >
        微信号最小长度为6位</span>
      <input  ng-model="investorEditVM.caseData.weixin"
        placeholder="请填写微信公众号"
        ng-blur="investorEditVM.searchClaimList()"
        validator="required,minlength=6,maxlength=16"
        maxlength="16"
        type="text" name="weixin" class="form-control" />
    </div>
    <div ng-if="investorEditVM.isIdea()" class="form-group">
      <label for=""><span class="required">*</span> 产品介绍</label>
      <div class="textarea-control">
        <textarea  ng-model="investorEditVM.caseData.intro"
          placeholder="输入产品介绍"
          maxlength="100"
          validator="required"
          message-id="none"
          type="text" name="intro" class="form-control" ></textarea>
        <div class="textarea-border"></div>
        <span class="text-length">{{investorEditVM.caseData.intro.length || 0}}/100</span>
      </div>
    </div>

    <div class="form-group casePhase-group">
      <label for=""><span class="required">*</span> 投资轮次</label>
        <select  ng-model="investorEditVM.caseData.phase"
          ng-options="item.value as item.desc for item in root.COMPANY_SEARCH_PHASE_META"
          message-id="casePhaseMessage"
          required-error-message="请选择所投轮次"
          validator="required"
          name="casePhase" class="form-control" >
          <option value="">选择轮次</option>
        </select>
        <span class="error-tip" id="casePhaseMessage">
        </span>
    </div>

    <div class="form-group investDate-group">
      <label ><span class="required">*</span> 投资时间</label>
      <div class="inline-control error-inline">
        <select class="form-control  mr10" ng-model="investorEditVM.caseData.startYear"
        validator="required"
        message-id="caseYearMessage"
        required-error-message="请选择融资时间"
        ng-options="item for item in root.fromYear2000"
        name="caseStartYear">
          <option value="">年份</option>
        </select><select class="form-control finance-date" ng-model="investorEditVM.caseData.startMonth"
        message-id="caseDateMessage"
        no-validate-message="true"
        ng-options="item for item in root.getAllMonths" validator="required"
        name="caseStartMonth">
          <option value="">月份</option>
        </select>
        <div>
        <span class="error-tip" id="caseYearMessage"></span>
        </div>
      </div>
    </div>

    <div class="form-group investEntity-group">
      <label><span class="required">*</span> 表投资主体</label>
      <div class="invest-entity">
        <div >
          <input type="radio" required ng-model="investorEditVM.caseData.entityType"
          value="INDIVIDUAL" name="investEntity" />
          <span ng-class="{'error-color': investorEditVM.caseData.form.investEntity.$invalid === true}">个人</span>
        </div>
        <div class="inline-control invest-org">
          <input required type="radio" ng-model="investorEditVM.caseData.entityType"
          value="ORGANIZATION" name="investEntity" />
          <span ng-class="{'error-color': investorEditVM.caseData.form.investEntity.$invalid === true}">机构</span>
          <div  ng-if="investorEditVM.caseData.entityType === 'ORGANIZATION'"
            mass-autocomplete="{left:0.1, top: 40,debounce_blur:300,minWidth:'100%', position: 'parent'}">
            <input  ng-model="investorEditVM.caseData.entityName"
              placeholder="请填写代表投资机构名称"
              validator="required"
              mass-autocomplete-item="investorEditVM.caseEntityOrgOptions"
              maxlength="50"
              type="text" name="delegateOrgName" class="form-control" />
          </div>
        </div>

        <div class="inline-control invest-com">
          <input required type="radio" ng-model="investorEditVM.caseData.entityType"
          value="COMPANY" name="investEntity" />
          <span ng-class="{'error-color': investorEditVM.caseData.form.investEntity.$invalid === true}">公司</span>
          <div ng-if="investorEditVM.caseData.entityType === 'COMPANY'"
            mass-autocomplete="{left:0.1, top: 40,debounce_blur:300,minWidth:'100%', position: 'parent'}">
            <input  ng-model="investorEditVM.caseData.entityName"
              placeholder="请填写代表投资公司名称"
              mass-autocomplete-item="investorEditVM.caseEntityComOptions"
              maxlength="50"
              validator="required"
              type="text" name="delegateComName" class="form-control mt16" />
          </div>
        </div>
      </div>


    </div>
  </form>
  <div class="form-bottom">
    <p class="splitter"> </p>
    <p class="tip-text">注意：提交融资事件会提交审核，审核期间不可对此事件做任何的更改，通过后对所有用户公开</p>
    <div>
      <a class="save" ng-click="investorEditVM.saveCase()" href="javascript:void(0)" data-stat-click="caseEdit.save">保存</a>
      <a class="cancel" ng-click="investorEditVM.cancelCase()" href="javascript:void(0)" data-stat-click="caseEdit.cancel">取消</a>
    </div>
  </div>
</div>
