<div id="investorDetailWrapper" ng-class="{small: searchVm.small || searchVm.tinly}" class="investorInfo-wrapper">
  <section class="base-info-wrapper">
    <div ng-if="!vm.baseInfoVM.isEdit" class="base-info-content">
      <div>
        <img ng-src="https://krplus-pic.b0.upaiyun.com/com_logo_v3/logo_off_1115.jpg" class="logo" alt="">
      </div>
      <div>
        <h1>大大的
          <span>北京</span>
          <span>上海</span>
        </h1>
        <p class="organization-name">
          <a href="javascript:void(0)">贝塔斯曼亚洲投资基金 >></a>
        </p>
        <p>
          <span>副总裁</span>
        </p>
      </div>
    </div>
    <div ng-if="vm.baseInfoVM.isEdit" class="base-info-content-edit">
      <div class="upload-logo">
        <img ng-src="{{vm.baseInfoVM.logo}}" class="logo" alt="">
        <a ngf-select="vm.baseInfoVM.uploadImage($files)"
          ngf-accept="'image/*'"
          class="btn-upload-logo" href="javascript:;"></a>
        <p>建议上传大小
        <p>90*90px</p>
      </div>
      <div>
        <form name="vm.baseInfoVM.form">

          <div class="form-group">
            <label for=""><span class="required">*</span> 项目名称</label>
            <span class="form-tip">30天内只能修改一次</span>
            <input  ng-model="vm.baseInfoVM.name"
              placeholder="请填写项目名称或核心产品名称"
              message-id="messageName"
              no-validation-message="true"
              maxlength="30"
              validator="required"
              type="text" name="name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="">项目别称</label>

            <span id="messageFullName"
              class="error-tip"></span>
            <input  ng-model="vm.baseInfoVM.remarkName"
              placeholder="请填写项目别名或曾用名，非必填"
              validator="notEqual=vm.baseInfoVM.name"
              message-id="messageFullName"
              not-equal-error-message="请不要再次填写项目名称"
              maxlength="50"
              type="text" name="fullName" class="form-control" />
          </div>

          <div class="form-group">
            <label for=""><span class="required">*</span> 一句话简介</label>
            <span class="error-tip" id="messageBrief"></span>
            <input  ng-model="vm.baseInfoVM.brief"
            validator="required,minlength=5" message-id="messageBrief"
            minlength-error-message="可以描述的更加详细一些（不得少于5个字）"
            maxlength="30"
            placeholder="一句话概括产品与服务，30字内"
            type="text" name="brief" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">公司官网</label>
            <span id="messageWebsite" class="error-tip" ></span>
            <input  ng-model="vm.baseInfoVM.website"
              placeholder="请填写公司的官网，请以http(s)://开头"
              validator="http" message-id="messageWebsite"
              type="text" name="website" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">新浪微博</label>
            <span id="messageweibo" class="error-tip" ></span>
            <input  ng-model="vm.baseInfoVM.weibo"
              placeholder="请填写新浪微博主页链接"
              validator="http"
              type="text" name="weibo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="">微信公众号</label>
            <span ng-if="vm.baseInfoVM.form.weixin.$invalid === true" class="error-tip" >
              微信公众号为6-20个字符
            </span>
            <input  ng-model="vm.baseInfoVM.weixin"
              placeholder="请填写微信公众号"
              validator="minlength=6,maxlength=20"
              maxlength="20"
              no-validation-message="true"
              type="text" name="weixin" class="form-control" />
          </div>

        </form>
      </div>
      <div class="form-bottom">

        <p class="splitter"> </p>
        <p class="tip-text">注意：行业不开放编辑；所有更改内容均会提交审核，审核期间不可对此模块做任何的更改，
          通过后对所有用户公开</p>
        <div>
          <a class="save" ng-click="vm.baseInfoVM.update()" href="javascript:;">保存</a>
          <a class="cancel" ng-click="vm.baseInfoVM.cancel()" href="javascript:;">取消</a>
        </div>
      </div>

    </div>
  </section>

  <section id="preference" ng-include="'/pages/investorInfo/templates/preference.html'" class="investorInfo-module">
    投资偏好
  </section>
  <section id="resume" ng-include="'/pages/investorInfo/templates/resume.html'" class="investorInfo-module">
    个人履历
  </section>
  <section id="resume" ng-include="'/pages/investorInfo/templates/case.html'" class="investorInfo-module">
    投资案例
  </section>
  <section id="organization" ng-include="'/pages/investorInfo/templates/organization.html'" class="investorInfo-module">
    投资案例
  </section>

</div>
<div ui-view="NULL"></div>
