<div class="invest-preference">
  <h4>投资偏好</h4>
  <div class="preference-info">
    <div class="industry">
      <ul>
      <li><label>关注行业</label></li>
        <li>医疗健康</li>
        <li>医疗健康</li>
        <li>医疗健康</li>
        <li>医疗健康</li>
        <li>医疗健康</li>
        <li>医疗健康</li>
      </ul>
    </div>
    <div class="phase">
      <ul>
        <li><label>偏好轮次</label></li>
        <li>A轮</li>
        <li>A轮</li>
        <li>A轮</li>
        <li>A轮</li>
        <li>A轮</li>
      </ul>
    </div>
    <div class="quota">
      <ul>
        <li><label>单笔额度</label></li>
        <li>$500万-$5000万(基金)</li>
        <li>$500万-$5000万(基金)</li>
        <li>$500万-$5000万(基金)</li>
        <li>$500万-$5000万(基金)</li>
      </ul>
    </div>
  </div>
</div>
