<div class="preference-edit-wrapper">
    <form name="investorEditVM.preferData.form">

      <div class="form-group">
        <label for=""><span class="required">*</span> 关注标签</label>
        <span class="form-tip">同“我的关注”中标签管理，修改后将同步至“我的关注”中</span>
        <div mass-autocomplete="{left:0.1, top: 40,debounce_blur:300,minWidth:'100%', position: 'parent'}">
          <input  ng-model="investorEditVM.preferData.labelText"
            placeholder="添加关注的标签"
            mass-autocomplete-item="investorEditVM.suggestLabelOptions"
            validator="requiredList=investorEditVM.preferData.focusIndustry" message-id="messageWebsite"
            type="text" name="city" class="form-control" />
        </div>
        <div>
          <ul ng-if="investorEditVM.preferData.focusIndustry.length" class="tags">
            <li  ng-repeat="item in investorEditVM.preferData.focusIndustry">
              {{item}}<span
                ng-click="investorEditVM.preferData.focusIndustry.splice($index, 1)"
              >x</span></li>
          </ul>
        </div>
      </div>

      <div class="form-group preference-group">
        <label for=""><span class="required">*</span> 偏好轮次</label>
        <span id="messageFullName" class="error-tip"></span>
        <select  ng-model="investorEditVM.preferData.preferPhaseItem"
          validator="requiredList=investorEditVM.preferData.preferPhase"
          ng-options="item as item.desc for item in root.COMPANY_SEARCH_PHASE_META"
          ng-change="investorEditVM.selectPreferPhase()"
          name="preferencePhase" class="form-control" >
          <option value="">添加关注的轮次</option>
        </select>
        <div>
          <ul ng-if="investorEditVM.preferData.preferPhase.length" class="tags">
            <li  ng-repeat="item in investorEditVM.preferData.preferPhase">
              {{item.desc}}<span
                ng-click="investorEditVM.preferData.preferPhase.splice($index, 1)"
              >x</span></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for=""><span class="required">*</span> 计划金额</label>
        <div class="inline-control">
          <input type="text" name="singleInvestMin"
            class="form-control money mr10" ng-model="investorEditVM.preferData.singleInvestMin"
            validator="required, number"
            placeholder="输入具体金额" /><span class="mr12">万</span><span class="to mr10">至</span
            ><input
            validator="bigger"
            type="text" name="singleInvestMax"
            class="form-control money mr10"
            ng-model="investorEditVM.preferData.singleInvestMax"
            placeholder="输入具体金额" /><span class="mr10">万</span
              ><select  ng-options="item.value as item.desc for item in root.CURRENCY_UNIT_META"
                ng-model="investorEditVM.preferData.singleInvestUnit"
            type="text" name="singleInvestUnit" class="form-control unit mr10" > </select
            ><span class="form-tip money-tip">若非区间则仅填写前输入框即可</span>
        </div>
      </div>

    </form>
    <div class="form-bottom">

      <p class="splitter"> </p>
      <p class="tip-text">注意：所有更改内容均会提交审核，通过后对所有用户公开</p>
      <div>
        <a class="save" ng-click="investorEditVM.savePrefer()" href="javascript:;">保存</a>
        <a class="cancel" ng-click="investorEditVM.cancelPrefer()" href="javascript:;">取消</a>
      </div>
    </div>
</div>
