<div class="invest-preference">
  <h4>投资偏好 <div ng-if="!investorEditVM.editPrefer"
      ng-click="investorEditVM.enterPrefer()"
      class="btn-edit">
      <span>编辑</span><span class="icon-Edit"></span></div>
  </h4>
  <div ng-if="!investorEditVM.editPrefer" class="preference-content">
    <div class="industry" ng-if="investorInfoVm.investPreference.focusIndustry.length">
      <div class="title">关注行业</div>
      <div class="list">
        <span ng-repeat="industry in investorInfoVm.investPreference.focusIndustry">{{industry}}</span>
      </div>
    </div>
    <div class="phase m-top" ng-if="investorInfoVm.investPreference.preferPhase">
      <div class="title">偏好轮次</div>
      <div class="list">
        <span ng-repeat="phase in investorInfoVm.investPreference.preferPhase">{{phase}}</span>
      </div>
    </div>
    <div class="quota m-top" ng-if="investorInfoVm.investPreference.singleInvestAmount">
      <div class="title">单笔额度</div>
      <div class="list">
        <span>{{investorInfoVm.investPreference.singleInvestAmount}}</span>
      </div>
    </div>
  </div>
  <div ng-if="investorEditVM.editPrefer" ng-include="'/pages/investorInfo/templates/preferenceEdit.html'"></div>
</div>
