<div class="invest-resume">
  <h4>个人履历</h4>
  <div class="resume-content">
    <span text-overflow text="vm.memberVM.data.story">诸葛io的团队成员来自百度、阿里巴巴、万方数据、北京大学、华中科技大学等知名企业与院校，拥有多年的大数据服务资历和强大的技术实力。
    孔淼，诸葛ioCEO。毕业于华中科技大学，曾任37degree CTO，90后连续创业者。大学期间，获得微软创新杯两项全国一等奖，腾讯校园之星大赛全国第二，全国大学生计算机设计大赛一等奖。后被推荐至创新工场实习，担任李开复博士的技术助理。
    毕业后放弃保研机会及知名公司offer诸葛io的团队成员来自百度、阿里巴巴、万方数据、北京大学、华中科技大学等知名企业与院校，拥有多年的大数据服务资历和强大的技术实力。
    孔淼，诸葛ioCEO。毕业于华中科技大学，曾任37degree CTO，90后连续创业者。大学期间，获得微软创新杯两项全国一等奖，腾讯校园之星大赛全国第二，全国大学生计算机设计大赛一等奖。后被推荐至创新工场实习，担任李开复博士的技术助理。
    毕业后放弃保研机会及知名公司offer</span>
  </div>
</div>
