<div class="resume-edit-wrapper">
  <form name="investorEditVM.resumeData.form">
     <div class="form-group">
      <label for=""><span class="required">*</span> 个人履历</label>
      <span id="introMessage" class="error-tip"></span>
      <div class="textarea-control">
        <textarea  ng-model="investorEditVM.resumeData.intro"
          placeholder="请填写真实个⼈履历,使创业者更深⼊的了解您，不超过1000字"
          message-id="introMessage"
          minlength-error-message="可以描述的更加详细一些（不得少于20个字）"
          maxlength="1000"
          validator="required,minlength=20"
          type="text" name="intro" class="form-control" ></textarea>
        <div class="textarea-border">
        </div>
        <span class="text-length">{{investorEditVM.resumeData.intro.length || 0}}/1000</span>
      </div>
    </div>
  </form>
  <div class="form-bottom">

    <p class="splitter"> </p>
    <p class="tip-text">注意：所有更改内容均会提交审核，通过后对所有用户公开</p>
    <div>
      <a class="save" ng-click="investorEditVM.saveResume()" href="javascript:;">保存</a>
      <a class="cancel" ng-click="investorEditVM.cancelResume()" href="javascript:;">取消</a>
    </div>
  </div>
</div>
