@import "../common/index";
@import "../pages/project/index";
@import "../pages/search/index";
@import "../pages/createProject/index";
@import "../pages/list/index";
@import "../pages/organization/index";
@import "../pages/investment/index";
@import "../pages/org/index";
@import "../pages/uc/index";
@import "../pages/investorValidate/index";
@import "../pages/investorInfo/index";
@import "../pages/investorList/index";
@import "../pages/index/index";
@import "../pages/workstationCompare/index";
@import "../pages/workstation/index";

.content-wrapper {
  padding-left: 140px;
  padding-top: 50px;
  height: 100%;
}
