@import "../../../common/styles/function";
.base-info{
  .tags{
    padding-bottom: 16px;
    border-bottom: 1px #E7E7E7 dashed;
    margin-bottom: 16px;
    &>li{
      display: inline-block;
      padding: 1px 6px;
    }
    li+li{
      margin-right: 16px;
    }
    .type{
      .font(12,20);
      color: #FF5B00;
      letter-spacing: 0px;
      height: 20px;
      background: rgba(245, 166, 35, 0.2);
    }
    .tag{
      .font(12,20);
      height: 20px;
      background: rgba(107, 162, 252, 0.2);
      color: #2868D1;
      letter-spacing: 0px;
      padding: 1px 6px;
    }
    .tag-icon{
      font-size: 20px;
      vertical-align: middle;
    }
  }
  .info{
    font-size: 14px;
    color: #5A626D;
    letter-spacing: 0px;
    margin-bottom: 16px;
    overflow: hidden;
    &>span{
      line-height: 21px;
      max-height: 100px;
      display: inline-block;
      a.toggle{
        visibility: hidden;
      }
    }
    &>span.is-truncated{
      a.toggle{
        visibility: inherit;
      }
    }
    &>span.opened{
      height: auto;
      max-height: inherit;
      a.toggle{
        visibility: hidden;
      }
    }
  }
  .company-info{
    &>li{
      .font(12,15);
      display: inline-block;
      color: #969FA9;
      letter-spacing: 0px;
      padding: 1px 10px;
      height: 15px;
    }
    li:first-child{
      padding-left: 0px;
    }
    li+li{
      border-left:1px solid #969FA9;
    }
    .more{
      color: #6BA2FC;
      cursor: pointer;
    }
  }
}
