@import "../../../common/styles/function";
.finance-detail{
  .detail-content{
    height: 150px;
    overflow: hidden;
    .details{
      padding-bottom: 25px;
    }
    width: 100%;
    .title{
      .font(14,21);
      color: #5A626D;
      letter-spacing: 0px;
      display: inline-block;
      margin-right: 30px;
      font-weight: 600;
      width: 90px;
      text-align: right;
    }
    .content{
      width: 660px;
      vertical-align: top;
      display: inline-block;
      color: #5A626D;
      .font(14,21);
      letter-spacing: 0px;
      p{
        .font(14,21);
        line-height: 21px;
      }
      p+p{
        margin-top: 10px;
      }
    }

  }
  .more{
      width: 120px;
      margin: 0 auto;
      border: 1px solid #BBBBBB;
      border-radius: 4px;
      padding:5px 35px;
      color: #5A626D;
      letter-spacing: 0px;
      .font(12,18);
      cursor: pointer;
      margin-top: 20px;
    }
}
