@import "./var";
@import "../../../common/styles/function";
.finance-history-edit{
  form{
    // overflow: auto !important;
    // border:1px solid red;
    .investor-list{
      margin-bottom: 16px;
      &>span{
        .font(14,21);
        color: #6BA2FC;
        margin-right: 20px;
        .delete{
          font-size: 14px;
          color: #6BA2FC;
          margin-left: 4px;
          cursor: pointer;
        }
      }
      .suggest-label{
        z-index: 999;
      }
    }
    .ac-container{
      background-color: #fff;
      margin-top: 4px;

      // .suggest-label{
      //   color: #969FA9;
      // }
      .suggest-label-investor{
        img{
          .size(28,28);
          margin-right: 12px;
          border: 1px solid #E7E7E7;
          border-radius: 14px;
        }
        .investor-name{
          .font(14,21);
          color: #222C38;
          margin-right: 12px;
        }
        .investor-org{
          .font(12,18);
          color: #5A626D;
          padding-right: 8px;
          border-right: 1px solid #CCC;
          margin-right: 8px;
        }
        .investor-position{
          .font(12,18);
          color: #5A626D;
        }
      }
      .suggest-label-investment{
        img{
          .size(28,28);
          margin-right: 18px;
          border: 1px solid #E7E7E7;
          border-radius: 4px;
        }
        span{
          color: #5A626D;
        }
      }
      li.ac-state-focus,li:hover {
        // background-color: #f2f4f5;
        // .suggest-label{
        //   color: #6BA2FC;
        // }
        background-color: #F9F9F9;
      }
      .ac-state-focus{
        background-color: #fff;
      }
    }
  }
}
