@import "./var";
@import "../../../common/styles/function";
.finance-history-edit{
  form{
    // overflow: auto !important;
    // border:1px solid red;
    .investor-list{
      margin-bottom: 16px;
      &>span{
        .font(14,21);
        color: #6BA2FC;
        margin-right: 20px;
        .delete{
          font-size: 14px;
          color: #6BA2FC;
          margin-left: 4px;
          cursor: pointer;
        }
      }
      .suggest-label{
        z-index: 999;
      }
    }
    .ac-container{
      background-color: #fff;
      margin-top: 4px;

      .suggest-label{
        color: #969FA9;
      }
      li.ac-state-focus,li:hover {
        background-color: #f2f4f5;
        .suggest-label{
          color: #6BA2FC;
        }
      }
      .ac-state-focus{
        background-color: #fff;
      }
    }
  }
}
