@import "./var";
@import "../../../common/styles/function";
.finance-history{
  .history-list{
    border-bottom: 1px solid #E7E7E7;
  }
  .history-info{
    width: 100%;
    .font(14,21);
    color: #5A626D;
    letter-spacing: 0px;
    border-top: 1px solid #E7E7E7;
    padding: 14px 0;
    span{
      display: inline-block;
      text-align: center;
    }
    .info-year{
      width: 15%;
    }
    .info-lun{
      width: 10%;
      color: #6BA2FC;
      font-weight: 500;
    }
    .info-company{
      width: 40%;
      color: #6BA2FC;
    }
    .info-level{
      width: 18%;
    }
    .info-news{
      width: 15%;
      color: #969FA9;

    }
  }
  .more{
    .font(12,18);
    color: #5A626D;
    letter-spacing: 0px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 120px;
    padding: 5px 35px;
    margin: 0 auto;
    margin-top: 24px;
  }
}
