@import "../../../common/styles/function";
.project-light-wrapper {
  // margin-top: 16px;
  .head {
    border-bottom: 1px solid #F2F4F5;
    height: 30px;
    .icon-highlight-head {
      font-size: 20px;
      color: #5a626d;
      margin-left: 16px;
      position: relative;
      top: 2px;
    }
    .title {
      color: #222C38;
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
      position: relative;
      display: inline;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 0 24px 6px;
      bottom: 1px;
    }
  }
  #lightInfo {
    word-break: break-all;
  }
  .point {
    .font(14, 21);
    color: #5A626D;
    letter-spacing: 0px;
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .info{
    font-size: 14px;
    color: #5A626D;
    letter-spacing: 0px;
    padding: 20px 42px 0;
    // margin-bottom: 16px;
    &>span{
      line-height: 21px;
      max-height: 100px;
      display: inline-block;
      div.more{
        visibility: hidden;
      }
    }
    &>span.is-truncated{
      div.more{
        visibility: inherit;
      }
    }
    &>span.opened{
      height: auto;
      max-height: inherit;
      div.more{
        visibility: hidden;
      }
    }
  }
  .more{
    .font(12, 18);
    color: #5A626D;
    letter-spacing: 0px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 120px;
    margin: 0 auto;
    padding: 5px 35px;
    cursor: pointer;
    margin-top: 24px;
  }
}
