@import "../../../common/styles/function";
.project-light-wrapper {
  .point {
    .font(14, 21);
    color: #5A626D;
    letter-spacing: 0px;
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .content{
    width: 100%;
    display: block;
    .font(14, 21);
    color: #5A626D;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  .more{
    .font(12, 18);
    color: #5A626D;
    letter-spacing: 0px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 120px;
    margin: 0 auto;
    padding: 5px 35px;
    cursor: pointer;
  }
}
