@import "../../../common/styles/function";
.product-data{
  width: 100%;
  .title-layer {

  }
  h4{
    a{
      position: absolute;
      right: 0;
      font-size: 14px;
      color: #6BA2FC;
      letter-spacing: 0px;
      line-height: 21px;
    }
  }
  .content{
    .detail{
      height: 91px;
      background: #F9F9F9;
      border: 1px solid #F2F4F5;
      padding: 20px 0 22px;
      position: relative;
      &>div{
        float: left;
      }
      .product-name{
        max-width: 200px;
        height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .font(16,24);
        text-align: center;
        padding-top: 11px;
        // padding-left: 6px;
        margin-left: 40px;
        padding-right: 20px;
        // padding: 11px 20px 36px 40px;
        border-right: 1px solid #E7E7E7;
      }
      .base-info{
        height: 46px;
        max-width: 420px;
        margin-left: 20px;
        margin-right: 40px;
        .inner{
          position: relative;
          // top: 50%;
          // bottom: 0;
          // left: 0;
          // right: 0;
          height: 46px;
          // margin-top: -12px;
          .info{
            max-width: 420px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .all-links{
            .kr-icon{
              font-size: 20px;
              display: inline-block;
              vertical-align: middle;
            }
            .tooltip {
              margin-left: -4px;
              background-color: rgba(90,98,109,0.69);
              tip-arrow{
                border-top: 6px solid rgba(90,98,109,0.69);
              }
            }
            .icon-Weibo{
              color: #EF0000;
              margin-right: 12px;
            }
            .icon-Wechat{
              color: #34C600;
              margin-right: 12px;
            }
            .icon-Apple{
              color: #484F5B;
              margin-right: 12px;
            }
            .icon-Andriod{
              color: #34C600;
              margin-right: 32px;
            }
            .icon-websitelink{
              font-size: 22px;
              color: #6BA2FC;
              margin-right: 2px;
            }
            .website-link{
              cursor: pointer;
              max-width: 340px;
              white-space: nowrap;
              overflow: hidden;
              .dlk();
              vertical-align: middle;
              text-overflow:ellipsis;
            }
          }
        }

      }
    }
    .investor{
      .data-info{
        .tab{
          position: relative;
          margin-top: 30px;
          text-align: center;
          &>span{
            padding-left: 12px;
            padding-right: 12px;
            border-right: 1px solid #E7E7E7;
            &:last-child{
              position: relative;
              border-right: none;
            }
            .text{
              width: 70px;
              font-size: 14px;
              padding-bottom: 4px;
              cursor: pointer;
              &.active{
                border-bottom: 2px solid #969FA9;
              }
            }
          }
          .absolute-pos{
            position: relative;
            .text{
              position: relative;
              .angle{
                z-index: 1000;
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: dashed dashed solid dashed;
                border-color: transparent transparent #969FA9 transparent;
                border-bottom-width: 10px;
                left: 18px;
                top: 8px;
                .little-angle{
                  position: absolute;
                  top: -9px;
                  left: -10px;
                  height: 0;
                  width: 0;
                  border-width: 10px;
                  border-style: dashed dashed solid dashed;
                  border-color: transparent transparent #fff transparent;
                }
              }
              .keepData{
                white-space: nowrap;
                // width: 370px;
                background-color: #FFF;
                animation: popup 1s;
                position: absolute;
                top: 25px;
                left: 50%;
                z-index: 999;
                .font(14,21);
                .text-center();
                color: #5A626D;
                border-radius: 0px 0px 0px 4px;
                box-shadow: 0px 0px 4px 0px #969FA9;
                padding: 20px 16px;
                margin-top: 4px;
                transform: translateX(-50%);
                &>span{
                  cursor: pointer;
                  margin-right: 20px;
                  padding-bottom: 4px;
                  &:first-child{
                    padding-bottom: 0;
                  }
                  &:last-child{
                    margin-right: 0px;
                  }
                  &>span.active{
                    padding-bottom: 4px;
                    border-bottom: 2px solid #969FA9;
                  }
                }

              }
            }
          }
        }
        .chart{
          margin-top: 35px;
          // padding: auto 20px;
          .tooltip-wrapper{
            position: relative;
            .my-tooltip{
              background-color: rgba(90,98,109,0.69);
              color: #FFF;
              .font(12,18);
              letter-spacing: 0px;
              padding: 8px 13px;
              border-radius: 4px;
              box-shadow: 0px 0px 4px 0px #969FA9;
            }
            .triangle{
              position: absolute;
              left: 50%;
              margin-left: -3px;
              border-width: 6px;
              border-style: solid;
              border-color: rgba(90,98,109,0.6) transparent transparent transparent;
            }
          }
          // .highchart-axis{
          //   margin: 0 10px;
          // }
        }
      }
      .more-data{
        text-align: center;
        margin: 30px auto;
        .getMore{
          width: 118px;
          margin-left: auto;
          margin-right: auto;
          font-size: 12px;
          line-height: 27px;
          border: 1px solid #BBBBBB;
          border-radius: 4px;
          cursor: pointer;
        }
        .complete-data{
          .plate{
            font-size: 14px;
            &>span{
              padding-left: 12px;
              padding-right: 12px;
              border-right: 1px solid #E7E7E7;
              &:last-child{
                border-right: none;
              }
              .text{
                padding-bottom: 4px;
                cursor: pointer;
                &.active{
                  border-bottom: 2px solid #5A626D;
                }
              }
            }
          }
          .table{
            width: 699px;
            margin: 24px 68px;
            text-align: center;
            border-collapse: collapse;
            thead{
              font-size: 14px;
              border-bottom: 1px solid #E7E7E7;
              .font(14,38);
            }
            tbody{
              tr{
                border-bottom: 1px solid #E7E7E7;
                &:nth-child(odd){
                background-color: #F9F9F9;
              }
                td{
                  padding: 12px 0px;
                }
              }
            }
          }
          .hideData{
            font-size: 12px;
            width: 118px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #BBBBBB;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
          }
        }
      }
      .no-data{
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
      }
    }
    .uninvestor{
      width: 100%;
      height: 382px;
      text-align: center;
      padding-top: 158px;
      background-image: url('/images/nodata.png');
      background-repeat: no-repeat;
      border: 1px solid #F2F4F5;
      border-top: none;
      .index{
        .certify{
          text-align: center;
          margin: 0 auto 12px auto;
          a{
            width: 130px;
            background-color: #6BA2FC;
            border-radius: 4px;
            padding: 6px 30px;
            color: #FFFFFF;
            .font(14,21);
            cursor: pointer;
          }
        }
      }
    }
  }
  @keyframes popup{
    from {opacity: 0,}
    to {opacity: 1,}
  }
}
