@import "../../../common/styles/function";
@import "../../../common/styles/var";
div.product-data{
  width: 100%;
  position: relative;
  .title-layer {

  }
  & > h4.h4{
    font-size: 16px;
    font-weight: bold ;
    line-height: 24px ;
    padding: 0 0 15px 16px;
    border-bottom: 1px solid #F2F4F5;

    &:before {
      display: none;
    }
    .icon-chart {
      font-size: 20px;
      margin-right: 8px;
      .vam();
    }
  }
  .edit {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #969FA9;
    line-height: 21px;
    top: 5px;
    right: 40px;
  }
  .content{
    margin-top: 30px;
    padding: 0 42px 0;
    .detail{
      position: relative;
      display: flex;
      .base-info{
        width: 200px;
        margin-right: 20px;
        border-right: 1px solid #E7E7E7;
        .inner{
          position: relative;
          .info{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .font(14, 24);
            font-weight: bold;
            margin-bottom: 0px;
          }
          .all-links{
            margin-top: 6px;
            & > * {
              .dlk();
              margin-right: 10px;
            }
            .kr-icon{
              font-size: 20px;
              display: inline-block;
              vertical-align: middle;
            }
            .tooltip {
              margin-left: -4px;
              background-color: rgba(90,98,109,0.69);
              tip-arrow{
                border-top: 6px solid rgba(90,98,109,0.69);
              }
            }
            .icon-Weibo{
              color: #EF0000;
            }
            .icon-Wechat{
              color: #34C600;
            }
            .icon-Apple{
              color: #484F5B;
            }
            .icon-Andriod{
              color: #34C600;
            }
            .icon-officialsite{
              color: #969FA9;
              &:hover {
                color: @anchor-color;
              }
            }
          }
          .aso {
            font-size: 12px;
            margin-top: 8px;
            color: #969FA9;
            line-height: 18px;
            &:hover {
              color: @anchor-color;
            }

          }
        }

      }
      .aso-desc > span {
        .toggle {
          visibility: hidden;
        }
        &.is-truncated, &.opened{
          .toggle {
            visibility: visible;
          }
        }
        &.opened {
          height: auto;
        }
        display: block;
        max-width: 584px;
        height: 96px;
        .font(14, 24);
        letter-spacing: .5px;
      }
    }

    .no-data{
      margin-top: 15px;
      font-size: 14px;
      text-align: center;
      height: 300px;
      line-height: 300px;
      background-image: url('/images/nodata.png');
      .icon-chart {
        margin-right: 6px;
      }
    }
    .uninvestor{
      width: 100%;
      height: 382px;
      text-align: center;
      padding-top: 158px;
      background-image: url('/images/nodata.png');
      background-repeat: no-repeat;
      border-top: none;
      .index{
        .certify{
          text-align: center;
          margin: 0 auto 12px auto;
          a{
            width: 130px;
            .dlk();
            background-color: #6BA2FC;
            border-radius: 4px;
            padding: 6px 30px;
            color: #FFFFFF;
            .font(14,21);
            cursor: pointer;
          }
        }
      }
    }
  }
  .hg-btn-group {
    margin-top: 60px;
    margin-bottom: 50px;
    &>div {
      width: 599px;
      margin: 0 auto;
      height: 37px;
      border: 1px solid #E5EBF0;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      a {
        color: @text-color;
        width: 50%;
        height: 35px;
        .dlk();
        line-height: 35px;
      }
      a:first-child {
        border-right: 1px solid #E5EBF0;
      }
      a.active {
        color: @title-color;
        background: #F5F9FB;
      }
    }
  }

  .hg-user-data-wrapper {
     div >  h4 {
        margin-bottom: 0px;
        &:before {
          height: 14px;
          position: relative;
          margin-right: 8px;
          left: 0;
        }
      }
    .chart-tooltip {
      &:after {
        display: block;
        content: " ";
      }
      background: rgba(90,98,109,0.69);
      color: #fff;
      padding: 8px 13px;
      line-height: 20px;
      border-radius: 4px;
      box-shadow: 0px 0px 4px 0px #969FA9;
      ul {
        border-top: 1px solid #ccc;
        margin-top: 6px;
        padding-top: 6px;
      }
      p span {
        font-weight: 600;
      }
    }
    .gender-age {
      overflow: hidden;
      &>div {
        float: left;
      }
    }
    .use-period, .use-time-domain {
      margin-top: 50px;
      .highcharts-legend-item {
        display:none;
      }
      div.highcharts-legend-item{
        display: block;
        &>span[style*="204, 204, 204"] {
          .kr-circle {
            background: rgb(204, 204, 204) !important;
          }
        }
        span {
          .dlk();
          .vam();
        }
        .kr-legend-item {
          .kr-circle{
            width: 8px;
            height: 8px;
            margin-right: 6px;
            border-radius: 50%;
          }
          > span:nth-child(2) {
            max-width: 200px;
          }
          transform: translateX(10px);
        }
      }
    }
    .use-time-domain {
      margin-top:35px;
    }
    .gender {
      .gender-proportion {
        padding-left: 10px;
      }
    }
    .male {
      margin-top: 41px;
    }
    .male, .female {
      overflow: hidden;
      color: #BBE4FF;
      p[class*="icon"] {
        text-align: center;
        margin-bottom: 1px;
        &:before {
          font-size: 32px;
        }
        & + span {
          color: @text-color;
        }
      }
      .percent {
        .font(20, 24);
        height: 24px;
        .dlk();
        margin-top: 3px;
        margin-bottom: 4px;
      }
      & > div {
        float: left;
        &:first-child {
          .font(12, 18);
        }
        &:nth-child(2) {
          margin-left: 20px;
        }
        .graph {
          width: 220px;
          height: 16px;
          span {
            .dlk();
            height: 100%;
            background: #BBE4FF;
          }
        }
      }
    }
    .female {
      margin-top: 31px;
      color: #FBA1B2;
      & > div {
       .graph {
          span {
            background: #FBA1B2;
          }
        }
      }
    }
    .age {
      margin-left: 74px;
      .age-proportion {
        margin-top: 20px;
        padding-left: 10px;
        ul li {
          .font(12, 18);
          margin-top: 8px;
          &>span {
            .dlk();
          }
          .age-text {
            .vam();
            width: 49px;
            white-space: nowrap;
            text-align: right;
          }
          .percent {
            margin-left: 8px;
            line-height: 16px;
            .vam();
          }
          .bar {
            width: 330px;
            margin-left: 14px;
            white-space: nowrap;
            span[style*="width: 0%"] + span {
              margin-left: 0px;
            }
            &>span:first-child {
              .dlk();
              background: #CAD1FF;
              width: 100%;
              height: 16px;
              .vam();
            }
          }
        }
      }
    }
    .use-time-domain {
    }
  }
  @keyframes popup{
    from {opacity: 0,}
    to {opacity: 1,}
  }
}
