@import "./var";
@import "../../../common/styles/function";
.talking,.bp,{
  .icon-dialogClose{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #969FA9;
    cursor:pointer;
  }
  .t-header{
    padding-top: 20px;
    margin-bottom: 50px;
    display: inline-block;
    &>p{
      font-size: 18px;
      color: #222C38;
      letter-spacing: 0px;
      line-height: 27px;
    }
  }
  .t-content{
    padding: 0 20px;
    padding-bottom: 20px;
    .content-left{
      display: inline-block;
      width: 140px;
      height: 140px;
      border: 1px solid #E7E7E7;
      border-radius: 4px;
      padding: 3px;
      &>img{
        width: 132px;
        height: 132px;
      }
    }
    .content-right{
      display: inline-block;
      width: 180px;
      height: 140px;
      margin-left: 40px;
      vertical-align: top;
      position: relative;
      .list{
        display: block;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
      }
      .info{
        display: block;
        text-align: left;
        font-size: 14px;
        color: #222C38;
        letter-spacing: 0px;
        margin-bottom: 10px;
        line-height: 21px;
      }
    }
  }
}
.bp{
  .t-header{
    margin-bottom: 32px;
  }
  .warn-apply,.warn-applied{
    display: block;
    color: #6BA2FC;
    letter-spacing: 0px;
    cursor: pointer;
  }
  .warn-apply{
    font-size: 14px;
    background: #FFFFFF;
    line-height: 21px;
    border: 1px solid #6BA2FC;
    border-radius: 4px;
    padding:8px 32px;
    width: 141px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .warn-applied{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    &>img{
      width: 22px;
      vertical-align: top;
      margin-right: 14px;
    }
  }
  .t-content{
    .info{
      text-align: center !important;
      font-size: 16px !important;
      color: #5A626D !important;
      line-height: 24px !important;
    }
  }
}
.add-bpemail-wrapper{
  .icon-dialogClose{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #969FA9;
    cursor:pointer;
  }
  .t-header{
    display: block;
    margin-top: 10px;
    .font(18,27);
    color: #222C38;
    letter-spacing: 0px;
  }
  .line-2{
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    .font(14,21);
    color: #969FA9;
    letter-spacing: 0px;
  }
  .email{
    width: 100%;
    height: 100%;
    input{
      .size(267,37);
    }
    .confirmBtn{
      cursor: pointer;
      padding-top: 8px;
      margin-left: 10px;
      display: inline-block;
      .size(80,37);
      text-align: center;
      vertical-align: middle;
      background: #6BA2FC;
      color: #FFFFFF;
      border-radius: 4px;
      .font(14,21);
    }
    .error-tip{
      text-align: left;
      .font(12,18);
      color: #FF4343;
      letter-spacing: 0px;
    }
  }
}
