@import "../../../common/styles/function";
@import "./var";
.found-team{
  .content{
    padding: 24px 0;
    .team-key{
      margin-bottom: 12px;
    }
    .name{
      .font(14,21);
      color: #5A626D;
      letter-spacing: 0px;
      width: 70px;
      text-align: right;
      margin-right: 30px;
      display: inline-block;
    }
    .key-list{
      display: inline-block;
      li{
        display: inline-block;
        background: rgba(107, 162, 252, 0.2);
        color: #2868D1;
        letter-spacing: 0px;
        line-height: 18px;
        padding: 1px 6px;
        height: 19px;
        .font(12,18);
        margin-right: 5px;
      }
    }
    .ad-info{
      display: inline-block;
      max-width: 705px;
      vertical-align: top;
      color: #5A626D;
      letter-spacing: 0px;
      .font(14,21);
    }
    .item-list{
      border-collapse:collapse;
      width: 100%;
      text-align: center;
    }
    .team-people{
      margin-top: 25px;
      .content-head{
        background-color: #F9f9f9;
        color: #5A626D;
        letter-spacing: 0px;
        .font(14,21);
        td{
          padding: 12px 0;
        }
        .team-introduce{
          width: 60%;
        }
        .team-position,.team-name{
          width: 20%;
        }
      }
      .content-body{
        tr{
          border-bottom: 1px solid #F2F4F5;
          color: #5A626D;
          letter-spacing: 0px;
          .font(14,21);
        }

        td{
          padding: 14px 0;
        }
      }
      .content-footer{
        text-align: center;
        .get-more{
          width: 120px;
          border: 1px solid #BBBBBB;
          border-radius: 4px;
          .font(12,18);
          color: #5A626D;
          letter-spacing: 0px;
          padding: 5px 35px;
          margin-top: 25px;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }
}
