@import "../../../common/styles/function";
@import "./var";
.found-team{
  .content{
    // padding-bottom: 24px;
    .info {
      margin-bottom: 30px;
    }
    .team-key{
      margin-bottom: 12px;
    }
    .name{
      .font(14,21);
      color: #5A626D;
      letter-spacing: 0px;
      width: 70px;
      text-align: right;
      margin-right: 30px;
      display: inline-block;
      font-weight: bold;
    }
    .key-list{
      display: inline-block;
      li{
        display: inline-block;
        background: rgba(107, 162, 252, 0.2);
        color: #2868D1;
        letter-spacing: 0px;
        line-height: 18px;
        padding: 1px 6px;
        height: 19px;
        .font(12,18);
        margin-right: 5px;
      }
    }
    .ad-info{
      display: inline-block;
      max-height: 100px;
      max-width: 705px;
      vertical-align: top;
      color: #5A626D;
      letter-spacing: 0px;
      .font(14,21);
      a.toggle{
        visibility: hidden;
      }
    }
    .ad-info.opened{
      height: auto;
      max-height: inherit;
      a.toggle{
        visibility: hidden;
      }
    }
    .ad-info.is-truncated{
      a.toggle{
        visibility: inherit;
      }
    }
    .ad-info.opened{
      height: auto;
      max-height: inherit;
      a.toggle{
        display: none;
      }
    }
    .item-list{
      border-collapse:collapse;
      width: 100%;
      text-align: center;
    }
    .team-people{
      .content-head{
        color: #5A626D;
        letter-spacing: 0px;
        .font(12,18);
        font-weight: bold;
        border-bottom: 1px solid #F2F4F5;
        td{
          padding: 12px 0;
        }
        .team-introduce{
          width: 60%;
        }
        .team-position,.team-name{
          width: 20%;
        }
      }
      .content-body{
        tr{
          border-bottom: 1px solid #F2F4F5;
          color: #5A626D;
          letter-spacing: 0px;
          .font(14,21);
        }

        td{
          padding: 14px 10px;
        }
      }
      .content-footer{
        text-align: center;

      }
    }
  }
  .none{
    padding: 30px 0;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #969FA9;
    letter-spacing: 0px;
    line-height: 21px;
    .icon{
      font-size: 20px;
      vertical-align: sub;
    }
  }
  .login-out{
    width: 100%;
    background-image: url('/images/member.png');
    background-repeat: no-repeat;
    text-align: center;
    line-height: 180px;
    padding-top: 57px;
    padding-bottom: 56px;
    height: 180px;
    background-size: 100% 100%;
    a{
      display: block;
      width: 130px;
      margin: auto;
      .text-center();
      vertical-align: middle;
    }
    .login{
      .size(130,33);
      background: #6BA2FC;
      border-radius: 4px;
      .font(14,33);
      color: #FFFFFF;
      letter-spacing: 0px;
      // padding:6px 37px;
    }
    .intro{
      margin: 12px auto 165px;
      .size(84,21);
      color: #5A626D;
      .font(14,21);
      .text-center();
      vertical-align: middle;
    }
  }
}
.get-more{
  font-size: 12px;
  position: relative;
  color: #969fa9;
  letter-spacing: 0px;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 0 35px;
  height: 34px;
  line-height: 34px;
  bottom: -20px;
  &:hover {
    background: #F9F9F9;
  }
}
.member-edit{
  .key-words,.team-advantage{
    p{
    font-size: 14px;
    color: #222C38;
    letter-spacing: 0px;
    line-height: 21px;
    margin-bottom: 4px;
    }
  }
  .key-words{
    margin-bottom: 16px;
    li{
      display: inline-block;
      background-color: rgba(107,162,252,.2);
      font-size: 12px;
      color: #2868D1;
      letter-spacing: 0px;
      line-height: 16px;
      margin-right: 10px;
      span{
        display: inline-block;
      }
      .k-content{
        padding:2px 6px;
        float: left;
        margin-top: 1px;
      }
      .delete{
        padding: 3px 6px;
        cursor: pointer;
      }
    }
  }
  .hint{
    font-size: 12px;
    color: #969FA9;
    letter-spacing: 0px;
    line-height: 18px;
    float: right;
  }
  .key-name, textarea{
    width: 520px;
    // border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding:8px 10px;
    font-size: 14px;
    color: #969FA9;
    letter-spacing: 0px;
    line-height: 21px;
    margin-bottom: 8px;
  }
  .disable{
    cursor:not-allowed;
  }


  // textarea{
  //   width: 100%;
  //   min-height: 154px;
  //   margin-bottom: 15px;
  // }
}
