@import "../../common/styles/var";
@import "./style/stepOne";
@import "./style/common";
@import "./style/stepFour";
@import "./style/similar-item";
.create-project-wrapper {
  background: #F2F4F5;
  border: 1px transparent solid;
  min-height: 100%;
  padding-bottom: 40px;
  .create-project-module {
    width: @content-width;
    margin: 30px auto 0px;
    box-shadow: 0px 0px 8px 0px #E7E7E7;
  }
  .smilar-project-module {
    margin-top: 16px;
  }
  .suggest-result-module {
    margin-top: 0px;
  }
  h1 {
    background: #F9F9F9;
    .font(18, 59);
    color: @title-color;
    .text-center;
  }
  .small-ft{
    .font(12, 18);
  }
  .normal-ft {
    .font(14, 21);
  }
  .logo-msg {
    color: @error-color;
    .font(12, 18);
  }

}

.step-two-wrapper {
  .btn-id-card {
    .btn-file();
  }

  select {
    .dlk();
  }
  .creator-title {
    margin-top: 40px;
    margin-bottom: 16px;
    .form-tip{
      float: none;
    }
  }
  .claim-message {
    border: 1px solid #F2F4F5;
    margin-bottom: 16px;
    p:first-child {
      border-bottom: 1px solid #F2F4F5;
      width: 100%;
      .text-center();
      background: #F9F9F9;
      .font(14,35);
    }
    p:nth-child(2){
      padding: 10px 40px;
      color: @text-color;
    }
  }
  .position-name:nth-child(2) {
    .dlk();
    .vlm();
    width: 370px;
    margin-left: 10px;
  }
  .upload-img{
    display: block;
    width: 120px;
    height: 67px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-top: 4px;
  }
  .warn-img{
    font-size: 12px;
    color: #969FA9;
    letter-spacing: 0px;
    line-height: 18px;
    width: 84px;
    margin-left: 146px;
    margin-top: -50px;
    float: left;
    display: inline-block;
  }
  .uploading{
    background: rgba(0,0,0,0.40);
    color: #FFF;
    font-size: 14px;
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align:center;
    position: absolute;
    margin-top: -30px;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
  }
}

.finance-apply-wrapper {
  .money {
    width: 140px;
    margin-right: 10px;
  }
  form {
    width: 100%;
  }
  .money-tip {
    float: none;
  }
  .unit {
    margin:0 10px;
  }
  .to {
    margin-left: 12px;
    margin-right: 10px;
  }
  .icon-dialogClose {
    margin-left: 4px;
  }
  .btn-bp {
    .button(139, 37, 14, @anchor-color, #fff);
    display: block;
    margin-top: 4px;
    height: 37px;
    &:hover {
      background:rgba(107,162,252, 0.8);
    }
    .icon-BP{
      font-size: 16px;
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  .bp-error {
    float: none;
    margin-left: 4px;
    .dlk();
  }
  .bp-check-group {
    margin-top: 32px;
  }
  .bp-check {
    margin-top: 8px;
    .font(14, 21);
    input {
      margin-right: 11px;
    }
    span{
      color: @input-color;
      .dlk();
      vertical-align: middle;
    }
  }
  .inline-control{
    font-size: 14px;
    color: #5A626D;
    letter-spacing: 0px;
    line-height: 21px;
  }
  .progress-bar {
    display: block;
    margin: 10px 0;
    &>span:first-child {
      margin-right: 8px;
    }
  }

  .tooltip{
    background: rgba(90,98,109,0.69);
    border-radius: 4px;
    width: 280px;
    tip-arrow{
      border-right-color: rgba(90,98,109,0.69) !important;
    }
  }
  .create-project-wrapper .active{
      background: #fff !important;
    }
  .protocal-read {
    margin-top: 45px;
    .font(14, 21);
    input {
      margin-right: 11px;
    }
    color: @title-color;
    .text-center();
  }
  .save {
    margin-top: 16px;
  }
  .disable{
    background: #CCC;
    cursor: not-allowed;
  }
  .suc-name{
    display: block;
    color: #6BA2FC;
    font-size: 14px;
    margin: 10px 0;
  }
}


.ac-container{
  background:#f9f9f9;
  border: 1px solid #DDDDDD;
  .rd(4px);
  li{
    padding: 12px 20px;
    img {
      .square(42);
      .rd(4px);
      margin-right: 16px;
      .border1(@border-color);
      .vam();
    }
  }
  .ac-menu-item > a > div{
    overflow: hidden;
  }
  .suggest-project-text {
    float: right;
    width: 420px;
    span {
      .font(14, 21);
    }
    span:first-child {
      border-right: 1px solid #ccc;
      padding-right: 12px;
    }
    span:last-child{
      padding-left: 12px;
    }
    .brief {
      .font(12,18);
      margin-top: 4px;
      color: @tip-color;
    }
  }
}
.suggest-result-wrapper {
  background: #fff;
  h4 {
    margin-bottom: 4px;
  }
  .website {
    .font(12, 18);
    margin-left: 58px;
    margin-top: 4px;
  }
  li {
    img {
      .square(42);
      .rd(4px);
      margin-right: 16px;
      .border1(@border-color);
      .vam();
    }
    padding: 14px 20px;
    width: 805px;
    border-bottom: 1px solid #F2F4F5;
    position: relative;
  }
  li:last-child {
    border-bottom: none;
  }
  .brief {
    .font(12,18);
    margin-top: 4px;
    color: @tip-color;
  }
  .suggest-project-text {
    .vam();
    .dlk();
  }
  .suggest-project-text p:first-child {
    color: @anchor-color;
    a {
      .font(14, 21);
    }
    a:first-child {
      border-right: 1px solid #ccc;
      padding-right: 12px;
      font-weight: 600;
    }
    a:last-child{
      padding-left: 12px;
    }
  }
  .claim {
    .border1(@anchor-color);
    .rd(4px);
    .text-center();
    font-size: 14px;
    display: block;
    width: 80px;
    height: 33px;
    line-height: 31px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      background:@anchor-color;
      color: #fff;
    }
  }
  border: 1px solid transparent;
}
.ac-container .ac-menu .ac-state-focus {
    background: #e7e7e7;
}
