@import "../../common/styles/var";
@import "./style/stepOne";
@import "./style/common";
@import "./style/stepFour";
@import "./style/similar-item";
.create-project-wrapper {
  background: #F2F4F5;
  border: 1px transparent solid;
  .create-project-module {
    background: #fff;
    width: @content-width;
    margin: 30px auto 40px;
  }
  h1 {
    background: #F9F9F9;
    .font(18, 59);
    color: @title-color;
    .text-center;
  }
}

.step-two-wrapper {
  .btn-id-card {
    .button(139, 37, 14, @anchor-color, #fff);
    display: block;
    margin-top: 4px;
    .icon-Investor {
      font-size: 18px;
      vertical-align: middle;
    }
  }

  select {
    .dlk();
  }
  .position-name {
    .dlk();
    width: 370px;
    margin-left: 10px;
  }
}

.finance-apply-wrapper {
  .money {
    width: 200px;
    margin-right: 10px;
    &+select {
      margin-left: 6px;
    }
  }
  .btn-bp {
    .button(139, 37, 14, @anchor-color, #fff);
    display: block;
    margin-top: 4px;
  }
  .bp-check-group {
    margin-top: 32px;
  }
  .bp-check {
    margin-top: 8px;
    .font(14, 21);
    input {
      margin-right: 11px;
    }
    span{
      color: @input-color;
      .dlk();
      vertical-align: middle;
    }
  }
  .protocal-read {
    margin-top: 45px;
    .font(14, 21);
    input {
      margin-right: 11px;
    }
    color: @title-color;
    .text-center();
  }
  .save {
    margin-top: 16px;
    background: @anchor-color;
    color: #fff;
  }
}
