@import "../../common/styles/var";
@import "./style/stepOne";
.create-project-wrapper {
  background: #F2F4F5;
  .create-project-module {
    background: #fff;
    width: @content-width;
    margin:0 auto;
  }
  h1 {
    background: #F9F9F9;
    .font(18, 59);
    color: @title-color;
    .text-center;
  }
}
