.home-page {
  .home-banner {
    height:240px;
    background-image: linear-gradient(-180deg, rgba(234,244,255,0.33) 0%, #293040 100%);
  }
  .home-container {
    padding: 40px 0 80px;
    background-color: #fff;
    .investor-container {
      position: relative;
      width:810px;
      margin:auto;
      .submit-left-arrow {
        position: absolute;
        display: block;
        width:26px;
        height:30px;
        line-height:30px;
        text-align: center;
        left:-53px;
        top:85px;
        border-radius: 4px;
        z-index:9;
        cursor: pointer;
        transition: background-color .4s;
        &:hover {
          background: #F2F4F5;
        }
      }
      .submit-right-arrow {
        position: absolute;
        display: block;
        width:26px;
        height:30px;
        line-height:30px;
        text-align: center;
        right:-30px;
        top:85px;
        border-radius: 4px;
        z-index:9;
        cursor: pointer;
        transition: background-color .4s;
        &:hover {
          background: #F2F4F5;
        }
      }
      .investor-container {
        position:relative;
        height:200px;
        max-width:180px;
        margin-right:30px;
      }
      .investor-item {
        position: relative;
        float: left;
        width:180px;
        height:200px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        cursor: pointer;
      }
    }
    .adv-container {
      position: relative;
      width:860px;
      margin:auto;
      .slick-dots {
        bottom:-32px;
      }
      .left-arrow {
        position: absolute;
        display: block;
        width:26px;
        height:30px;
        line-height:30px;
        text-align: center;
        left:-45px;
        top:65px;
        border-radius: 4px;
        z-index:9;
        cursor: pointer;
        transition: background-color .4s;
        &:hover {
          background: #F2F4F5;
        }
      }
      .right-arrow {
        position: absolute;
        display: block;
        width:26px;
        height:30px;
        line-height:30px;
        text-align: center;
        right:-20px;
        top:65px;
        border-radius: 4px;
        z-index:9;
        cursor: pointer;
        transition: background-color .4s;
        &:hover {
          background: #F2F4F5;
        }
      }
      .investor-container {
        position:relative;
        height:160px;
        max-width:260px;
        margin-right:40px;
      }
      .investor-item {
        position: relative;
        float: left;
        width:260px;
        height:160px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        cursor: pointer;
      }
    }

    .project-container {
      margin-top:114px;
      text-align: center;

      .project-title {
        position: relative;
        width:450px;
        height:20px;
        background-image: linear-gradient(-225deg, rgba(231,243,249,0.00) 0%, #F1F8FD 100%);
        margin:0 auto 40px;
        &.last-page {
          width:595px;
        }
        .title-text {
          position: absolute;
          width:100%;
          text-align: center;
          left:0;
          bottom:8px;
          font-size: 20px;
          color: #222C38;
          letter-spacing: 0.66px;
          line-height: 24px;
          .project-number {
            color: #6BA2FC;
          }
          .login-tip {
            margin-left:10px;
          }
        }
      }

      .status-list {
        display: inline-block;
        list-style: none;
        margin:0 auto 30px;
        padding:0;
        .clear;
        li {
          float: left;
          font-size: 14px;
          color: #969FA9;
          letter-spacing: 0.46px;
          line-height: 21px;
          margin-right:60px;
          cursor: pointer;
          &:last-of-type {
            margin-right:0;
          }
          .active-tag {
            display: inline-block;
            width:6px;
            height:6px;
            background: #6BA2FC;
            margin-right:6px;
            vertical-align: middle;
            visibility: hidden;
          }
          &.active {
            color: #222c38;
            .active-tag {
              visibility: visible;
            }
          }
        }
      }

      .result-wrapper {
        width:860px;
        border: 1px solid #F2F4F5;
        box-shadow: 0px 0px 12px 0px #F2F4F5;
        margin:auto;
        &.tag-wrapper {
          float: left;
          width:630px;
        }
        .result-list {
          position: relative;
          height:124px;
          border-bottom: 1px solid #F2F4F5;
          padding:25px 0 0 30px;

          .handle-btn {
            position: absolute;
            right:40px;
            top:45px;
            width:130px;
            height:35px;
            background-image: linear-gradient(-226deg, #88C4FF 0%, #6BA2FC 100%);
            box-shadow: 0px 0px 10px 0px #CDE1FF;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0px;
            line-height: 35px;
          }

          >img {
            float: left;
            width:60px;
            height:60px;
            border: 1px solid #E7E7E7;
            border-radius: 6px;
          }
          .item-info {
            margin-left:80px;
            text-align: left;
            .company-info {
              font-size: 14px;
              color: #5A626D;
              line-height: 21px;
              margin-bottom:4px;
              .company-name {
                font-size: 16px;
                color: #222C38;
                line-height: 24px;
              }
              .company-industry {
                margin-left:11px;
              }
            }

            .company-brief {
              font-size: 14px;
              color: #969FA9;
              letter-spacing: 0px;
              line-height: 21px;
              margin-bottom:10px;
            }

            .company-intro {
              font-size: 14px;
              color: #5A626D;
              letter-spacing: 0px;
              line-height: 21px;
              .company-phase {

              }
              .company-sp {
                color: #ccc;
                margin:0 5px;
              }
              .company-address {
                color: #969FA9;
                .icon-location {
                  position: relative;
                  top:5px;
                  font-size:25px;
                }
              }
            }
          }
        }

        .see-detail {
          height:49px;
          font-size: 15px;
          color: #969FA9;
          line-height: 49px;
        }
      }

      .tag-container {
        width:860px;
        margin: 10px auto 0;
        .clear;
        .tag-list {
          float: left;
          width:200px;
          margin-right:30px;
          background: #FFFFFF;
          border: 1px solid #F2F4F5;
          box-shadow: 0px 0px 12px 0px #F2F4F5;
          li {
            height:41px;
            line-height:41px;
            text-align: center;
            font-size: 14px;
            color: #969FA9;
            background: #FFFFFF;
            cursor: pointer;
            .icon-tag {
              font-size: 17px;
              position: relative;
              top: 3px;
              visibility: hidden;
              color: #88C4FF;
            }
            &:hover,&.active {
              border: 1px solid #F2F4F5;
              box-shadow: 0px 0px 6px 0px #F2F4F5;
              color: #222C38;
            }
            &.active {
              .icon-tag {
                visibility: visible;
              }
            }
            &:first-of-type {
              height:41px;
              line-height:41px;
              background-image: linear-gradient(-225deg, rgba(231,243,249,0.00) 0%, #F1F8FD 100%);
              font-size: 14px;
              color: #5A626D;
              letter-spacing: 0px;
            }
          }
        }
      }

      .bottom-line {
        height:10px;
        opacity: 0.5;
        background: #F5F9FB;
        margin-top:80px;
      }

      .submit-btn {
        display: block;
        width:150px;
        height:37px;
        line-height:35px;
        margin:-10px auto 30px;
        border-radius: 4px;
        border:1px solid #6BA2FC;
        font-size: 14px;
        color: #6BA2FC;
        letter-spacing: 0.46px;
      }
    }
  }

  .home-footer {
    height:180px;
    padding:40px 0;
    background: #4C5563;
    box-shadow: 0px 10px 10px 0px #C8DCEE;
    .footer-container {
      display: flex;
      align-items: center;
      width:810px;
      height:100%;
      margin:auto;
      padding:0 25px 0 35px;
      .clear;
      .left-footer {
        flex: 1;
        >img {
          display: inline-block;
          width:50px;
          height:50px;
          border: 1px solid #FFFFFF;
          border-radius: 6px;
          margin-right:16px;
          vertical-align: middle;
        }
        .download-tip {
          display: inline-block;
          vertical-align: middle;
          .download-name {
            font-size: 20px;
            color: #E5EBF0;
            letter-spacing: 0.66px;
            margin-bottom:4px;
          }
          .download-intro {
            font-size: 14px;
            color: #969FA9;
            letter-spacing: 0.46px;
            line-height: 21px;
          }
        }
      }
      .right-footer {
        >img {
          display: inline-block;
          width:100px;
          height:100px;
          border: 1px solid #e7e7e7;
          border-radius: 4px;
          margin-right:16px;
          vertical-align: middle;
        }
        .download-tip {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #E5EBF0;
          line-height: 21px;
        }
      }
    }
  }
}
