.announcement {
  .icon-dialogClose{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #969FA9;
    cursor:pointer;
  }
  .head {
    background: url('/images/announcement/announcement-head.png');
    h1 {
      font-size: 26px;
      color: #222C38;
      line-height: 34px;
    }
  }
}
