<div class="wklist-wrapper">
  <div class="navigation">
    <a ui-sref="workstationIndex()" href="#">我的收藏夹</a>
    <span class="arrow">&gt;</span><span>{{vm.listData.groupName}}</span>
  </div>

  <section >
    <div class="head">
      <span class="groupName">{{vm.listData.groupName}}</span><span class="arrow"> | </span>
      <span>共收藏 {{vm.listData.totalCount}} 个项目</span>
    </div>

    <div class="result-content">
      <div class="compare">
        <a href="#" ng-show="!vm.isCompare">
          <div class="open-compare" ng-click="vm.openCompare()">
            <span class="icon-compare">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span>
            </span>
            <span>开启项目对比</span>
          </div>
        </a>
        <a href="#" ng-show="vm.isCompare && vm.checkedCids.length < 2" >
          <div class="show-compare" ng-click="vm.openCompare()">
            <span class="icon-compare">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span>
            </span>
            <span>查看项目对比</span>
          </div>
          <div class="case-count">
            <span>请最多选择 5 个项目</span>
          </div>
        </a>
        <a href="#" ng-show="vm.checkedCids.length > 1">
          <div class="open-compare" ui-sref="workstationCompare({cids: vm.checkedCids.join(',')})">
            <span class="icon-compare">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span>
            </span>
            <span>查看项目对比</span>
          </div>
          <div class="case-count">
            <span>你还可以选择 {{5 - vm.checkedCids.length}} 个项目</span>
          </div>
        </a>
      </div>
      <table >
        <tr>
          <td width="70"></td>
          <td width="320">项目</td>
          <td>行业</td>
          <td>轮次</td>
          <td width="150">投资方</td>
          <td>所在地</td>
          <td width="150">时间</td>
          <td width="120">操作</td>
        </tr>
        <tr ng-repeat="obj in vm.listData.data track by $index">
          <td>
            <input name="selectedCompare" type="checkbox" value="" ng-checked="vm.checkedCids.indexOf(obj.cid.toString()) !== -1"
            ng-disabled="vm.checkedCids.length > 4 && vm.checkedCids.indexOf(obj.cid.toString()) == -1"
            ng-show="vm.isCompare" id="{{obj.cid}}" ng-click="vm.checkboxSelected($event)"/>
          </td>
          <td>
            <a href="#" ui-sref="project({id: obj.cid})" target="_blank">
              <img ng-src="{{obj.logo || '/images/default-logo.png'}}" ng-click="vm.seeDetail(obj.id)"
              class="project-logo"/>
            </a>
            <div class="project-info">
              <div class="project-name">
                <a href="#" ui-sref="project({id: obj.cid})" target="_blank">
                  <span class="company-name">{{obj.name}}</span>
                </a>
              </div>
              <div class="project-intro" title="{{obj.brief}}">
                {{::obj.brief}}
              </div>
            </div>
          </td>
          <td class="filter-item">
            <a ui-sref="list.result({industry: obj.industryEnum,columnId: 0})" target="_blank">{{::obj.industryStr}}</a>
            <span ng-if="!obj.industryStr.length">暂无</span>

          </td>
          <td class="filter-item">
            <a ui-sref="list.result({phase: obj.phaseEnum,columnId: 0})" target="_blank">{{::obj.phaseEnum | companyFinancePhase}}</a>
            <span ng-if="!obj.phaseEnum">暂无</span>
          </td>
          <td class="org-col">
            <span ng-if="!obj.investParts.length">未披露</span>
            <section ng-if="obj.investParts.length"
              ng-repeat="org in obj.investParts | limitTo:3 track by $index" ng-bind="org"></section>
          </td>
          <td class="filter-item">
            <a ui-sref="list.result({city: obj.city,columnId: 0})" target="_blank" ng-if="obj.cityStr">{{::obj.cityStr}}</a>
            <span ng-class="{'disabled': parentVm.getPermission()}" ng-if="!obj.cityStr">暂无</span>
          </td>
          <td class="date-time">
            {{::obj.followDate | listDateFilter}}
            <span ng-if="!obj.followDate">暂无</span>
          </td>
          <td>
            <span class="collect-btn" ng-click="vm.cancelCollection(obj)" >
              <span>取消收藏</span>
            </span>
          </td>
        </tr>
      </table>

    </div>
  </section>
</div>
