<div class="home-page" data-stat-module="home">
  <div class="page-top">
    <h2 class="top-title">36氪创投助手</h2>
    <div class="top-intro">没有你找不到的项目</div>
    <div class="search-content">
      <div class="search-container">
        <div kr-search>
          <div mass-autocomplete="{debounce_blur:700,top:48,left:30,maxWidth:488,
            debounce_attach: 100,
            onClick: vm.onClick, notFocus: true,
            position:'parent'}"
            class="search-result-wrapper">
              <input ng-trim="false" mass-autocomplete-item="vm.autocompleteOptions"
                ng-model="vm.kw"
                type="text" class="search-input" placeholder="输入创业项目、投资人、投资机构名称搜索">
              <span tabindex="2" ng-click="vm.searchRecord(vm.kw)" class="input-icon icon-search-icon" data-stat-click="search.{{vm.kw}}">
              </span>
          </div>
        </div>
      </div>
      <div class="hot-label">
        <span class="label-title">热门标签:</span>
        <a class="label-item" target="_blank" data-stat-click="hotLabel"
          ng-repeat="item in vm.hotLabel track by $index" ui-sref="label.result({labelId:item.id})">
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="page-item">
      <div class="item-top">
        <i class="icon-find-new" ui-sref="list.result({columnId:0})" data-stat-click="findNew.icon"></i>
        <b ui-sref="list.result({columnId:0})" data-stat-click="findNew.name">发现新项目</b>
        <a href="" class="more-link" ui-sref="list.result({columnId:0})" data-stat-click="findNew.more">更多</a>
      </div>
      <div class="item-content">
        <div class="layer-container">
          <div class="item-layer" ng-repeat="item in vm.newProject">
            <img ng-src="{{item.logo}}" alt="" ui-sref="project({id:item.id})">
            <div class="item-info">
              <div class="company-name" ui-sref="project({id:item.id})">{{item.name}}</div>
              <div class="company-intro" title="{{item.brief}}">{{item.brief}}</div>
              <div class="company-detail">
                <span>{{item.phase | companyFinancePhase}}</span>
                <span class="middle-point"></span>
                <span>{{item.industry | companyIndustry}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-bottom" ui-sref="list.result({columnId:0})" data-stat-click="findNew.seeMore">
          查看更多新项目
        </div>
      </div>
    </div>
    <div class="page-item">
      <div class="item-top fund-express">
        <i class="icon-fund-exp" ui-sref="list.result({columnId:0})">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </i>
        <b ui-sref="list.result({columnId:0})">融资速递</b>
        <a href="" class="more-link" ui-sref="list.result({columnId:0})">更多</a>
      </div>
      <div class="item-content">
        <div class="layer-container">
          <div class="item-fund" ng-repeat="item in vm.fundExpress">
            <div class="first-line">
              <span class="fund-title">{{item.name}}</span>
              <span class="fund-type">{{item.industry | companyIndustry}}</span>
              <span class="fund-date">{{item.investDate | date:'MM-dd'}}</span>
            </div>
            <div class="second-line">
              {{item.phase | companyFinancePhase}} | {{item.investAmount}}
            </div>
            <div class="third-line">
              投资方:
              <span ng-if="!item.investParts.length">暂无</span>
              <span class="invest-part" ng-repeat="obj in item.investParts" ng-if="item.investParts.length">
                <span>{{obj}}</span>
                <span class="dot">、</span>
              </span>
            </div>
          </div>
        </div>
        <div class="layer-bottom fund-express">
          <div class="page-tool">
            <span class="page-btn prev-btn" ng-click="vm.goPage('prev')" ng-class="{disabled: vm.page === 1}">上一页</span>
            <span class="page-btn" ng-click="vm.goPage('next')">下一页</span>
          </div>
        </div>
      </div>
    </div>
    <div class="page-item">
      <div class="item-top">
        <i class="icon-youxuan" ui-sref="list.result({columnId:0})" data-stat-click="youxuan.icon">
        </i>
        <b ui-sref="list.result({columnId:0})" data-stat-click="youxuan.name">优选</b>
        <a href="" class="more-link" ui-sref="list.result({columnId:0})" data-stat-click="youxuan.more">更多</a>
      </div>
      <div class="item-content">
        <div class="layer-container">
          <div class="item-layer" ng-repeat="item in vm.recommendList">
            <img ng-src="{{item.logo}}" alt="" ui-sref="project({id:item.id})">
            <div class="item-info">
              <div class="company-name" ui-sref="project({id:item.id})">{{item.name}}</div>
              <div class="company-intro" title="{{item.brief}}">{{item.brief}}</div>
              <div class="company-detail">
                <span>{{item.phase | companyFinancePhase}}</span>
                <span class="middle-point"></span>
                <span>{{item.industry | companyIndustry}}</span>
              </div>
              <div class="high-point" ng-if="item.advantage">
                <i class="icon-listPoint"></i>
                <span title="{{item.advantage}}">{{item.advantage}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-bottom" ui-sref="list.result({columnId:0})">
          查看更多新项目
        </div>
      </div>
    </div>
  </div>
</div>


