<div class="home-page">
  <div class="home-banner"></div>
  <div class="home-container">
    <div class="adv-container">
      <span class="left-arrow icon-left-arrow"></span>
      <span class="right-arrow icon-right-arrow"></span>
      <slick infinite="true" slides-to-show="3" prev-arrow=".left-arrow" next-arrow=".right-arrow" dots="true">
        <div class="investor-container" ng-repeat="item in [1,2,3,4,5,6]" ng-class="{active: item.active}">
          <div class="investor-item" ng-click="vm.selectItem($index)" ng-class="{active: item.active}">
          </div>
        </div>
      </slick>
    </div>

    <div class="project-container">
      <div class="project-title">
        <div class="title-text">
          网罗全网 <span class="project-number">75800</span> 家项目
          <span class="login-tip">登录拥有全世界</span>
        </div>
      </div>
      <ul class="status-list">
        <li ng-repeat="item in vm.statusList" ng-class="{'active': item.active}" ng-click="vm.switchStatus($index)">
          <span class="active-tag"></span>
          {{item.name}}
        </li>
      </ul>
      <div class="result-wrapper">
        <div class="result-list" ng-repeat="item in [1,2,3]">
          <img ng-src="" alt="">
          <div class="item-info">
            <div class="company-info">
              <span class="company-name">36氪</span>
              <span class="company-industry">电子商务</span>
            </div>
            <div class="company-brief">
              为创业者提供最好的产品和服务
            </div>
            <div class="company-intro">
              <span class="company-phase">A轮</span>
              <span class="company-sp">|</span>
              <span class="company-address">
                <i class="icon-location"></i>北京市
              </span>
            </div>
          </div>
          <a class="handle-btn" href="">联系创始人</a>
        </div>
        <div class="see-detail">查看更多项目</div>
      </div>
      <div class="bottom-line"></div>
    </div>

    <div class="project-container">
      <div class="project-title">
        <div class="title-text">
          提供<span class="project-number">75800</span>个标签订阅
          <span class="login-tip">想看的都在这里</span>
        </div>
      </div>
      <div class="tag-container">
        <ul class="tag-list">
          <li>
            近期热门领域排行榜
          </li>
          <li ng-repeat="item in vm.tagList" ng-class="{'active': item.active}" ng-click="vm.switchTag($index)">
            <span class="icon-tag"></span>
            {{item.name}}
          </li>
        </ul>
        <div class="result-wrapper tag-wrapper">
          <div class="result-list" ng-repeat="item in [1,2,3]">
            <img ng-src="" alt="">
            <div class="item-info">
              <div class="company-info">
                <span class="company-name">36氪</span>
                <span class="company-industry">电子商务</span>
              </div>
              <div class="company-brief">
                为创业者提供最好的产品和服务
              </div>
              <div class="company-intro">
                <span class="company-phase">A轮</span>
                <span class="company-sp">|</span>
                <span class="company-address">
                <i class="icon-location"></i>北京市
              </span>
              </div>
            </div>
            <a class="handle-btn" href="">联系创始人</a>
          </div>
          <div class="see-detail">查看更多项目</div>
        </div>
      </div>

      <div class="bottom-line"></div>
    </div>

    <div class="project-container">
      <div class="project-title last-page">
        <div class="title-text">
          <span class="project-number">3788</span> 名投资人每天
          <span class="project-number">58776</span> 即刻对接
          <span class="login-tip">精准匹配找到你想要</span>
        </div>
      </div>
      <a class="submit-btn" href="">我也要提交项目</a>
      <div class="investor-container">
        <span class="submit-left-arrow icon-left-arrow"></span>
        <span class="submit-right-arrow icon-right-arrow"></span>
        <slick infinite="false" slides-to-show="4" prev-arrow=".submit-left-arrow" next-arrow=".submit-right-arrow">
          <div class="investor-container" ng-repeat="item in [1,2,3,4,5,6,7,8]" ng-class="{active: item.active}">
            <div class="investor-item" ng-click="vm.selectItem($index)" ng-class="{active: item.active}">
            </div>
          </div>
        </slick>
      </div>
    </div>


  </div>
  <div class="home-footer">
    <div class="footer-container">
      <div class="left-footer">
        <img ng-src="" alt="">
        <div class="download-tip">
          <div class="download-name">下载36氪创投助手</div>
          <div class="download-intro">提供最好的投融资产品和服务</div>
        </div>
      </div>
      <div class="right-footer">
        <img ng-src="" alt="">
        <div class="download-tip">
          <div class="download-intro">ios客户端下载</div>
          <div class="download-intro">Android客户端下载</div>
        </div>
      </div>
    </div>
  </div>
</div>
