<section class="investor-validate-wrapper">
  <div id="investor-validate-module">
    <div class="top-content">
        <h4>认证投资人</h4>
        <section>
          目前仅会对机构，公司投资部及个人天使投资人发放投资人身份
        </section>
    </div>
    <div class="form-step-container" ng-if="vm.step !== 3">
      <div class="out-side-container">
        <div class="form-top-content">
          <div class="first-step" ng-class="{active: vm.step === 1}">
            第一步：提交身份信息
          </div>
          <div class="arrow-step">
            ＞＞＞
          </div>
          <div class="next-step" ng-class="{active: vm.step === 2}">
            第二步：提交投资偏好信息
          </div>
        </div>
      </div>

    </div>
    <div ng-show="vm.step === 1" ng-include="'/pages/investorValidate/templates/stepOne.html'"> </div>
    <div ng-show="vm.step === 2" ng-include="'/pages/investorValidate/templates/stepTwo.html'"> </div>
    <div ng-show="vm.step === 3" ng-include="'/pages/investorValidate/templates/result.html'"> </div>
  </div>
</section>
