<div  class="step-one-wrapper">
  <div class="form-center-container">
    <form name="vm.baseInfoForm">
      <div class="form-group">
        <label for="">真实姓名</label>
        <input  ng-model="vm.baseInfo.realName"
                placeholder="为保证与创业者的沟通体验，请确保为真实姓名"
                message-id="messageName"
                no-validation-message="true"
                maxlength="30"
                ng-trim="false"
                validator="required"
                type="text" name="name" class="form-control" />
      </div>

      <div class="form-group phone-col" ng-if="!vm.userData.phone">
        <label for="">手机号码</label>
        <span class="error-msg" id="messagePhone"></span>
        <input  ng-model="vm.baseInfo.phone"
                maxlength="11"
                message-id="messagePhone"
                placeholder="输入真实手机号"
                validator="required,phoneExp"
                type="text" name="phone" class="form-control"  />
        <span class="get-code" ng-click="vm.getCode()"  ng-class="{'disabled':vm.baseInfoForm.phone.$invalid || !vm.baseInfo.phone}" ng-if="!vm.wait">点击获取验证码</span>
        <span class="left-time" href="javascript:void(0)" ng-disabled="vm.wait" ng-if="vm.wait">{{vm.wait+'秒'}}</span>
      </div>

      <div class="form-group" ng-if="!vm.userData.phone">
        <label for="">验证码</label>
        <span class="error-tip" id="messageCode" ng-show="vm.codeError">验证码错误</span>
        <input  ng-model="vm.baseInfo.code"
                validator="required,minlength=4" message-id="messageCode"
                maxlength="8"

                placeholder="输入验证码"
                type="text" name="brief" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">邮箱</label>
        <input  ng-model="vm.baseInfo.email"
                placeholder="输入邮箱"
                message-id="messageEmail"
                no-validation-message="true"
                maxlength="30"
                ng-trim="false"
                validator="required"
                type="text" name="email" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">微信</label>
        <input  ng-model="vm.baseInfo.weixin"
                placeholder="输入微信号"
                message-id="messageWeixin"
                no-validation-message="true"
                maxlength="30"
                ng-trim="false"
                validator="required"
                type="text" name="weixin" class="form-control" />
      </div>


      <div class="form-group">
        <label for="">投资身份</label>
        <select  ng-model="vm.baseInfo.investorRoleEnum"
                 ng-options="item.value as item.desc for item in vm.investorRole"
                 validator="required"
                 ng-disabled="vm.selectProject"
                 type="text" name="companyRole" class="form-control" >
          <option value="">请选择</option>
        </select>
      </div>
      <div class="form-group" ng-if="vm.baseInfo.investorRoleEnum === 'ORG_INVESTOR'">
        <label for="">目前任职机构</label>
        <span class="error-tip" id="messageOrg"></span>
        <div class="org-suggest" mass-autocomplete="{debounce_blur:700,top:65,left:0.01,maxWidth:518, position:'parent'}">
          <input  ng-model="vm.baseInfo.orgName"
                  validator="required" message-id="messageOrg"
                  maxlength="30"
                  placeholder="输入任职机构"
                  mass-autocomplete-item="vm.autocompleteOptions"
                  type="text" name="org" class="form-control" />
        </div>
      </div>
      <div class="form-group" ng-if="vm.baseInfo.investorRoleEnum === 'ORG_INVESTOR'">
        <label for="">职位</label>
        <span class="error-tip" id="messagePosition"></span>
        <input  ng-model="vm.baseInfo.position"
                validator="required" message-id="messagePosition"
                maxlength="10"
                placeholder="输入职位"
                type="text" name="position" class="form-control" />
      </div>
    </form>
    <div class="submit-btn" ng-click="vm.submitInfo()">下一步，提交投资偏好信息</div>
  </div>

</div>


