<div class="org-wrapper">
  <header>
    <section>
      <span class="img-border">
        <img ng-src="{{vm.orgData.basic.logo || '/images/org-logo.png'}}" alt=""/>
      </span>
      <div class="right-content">
        <h1>{{vm.orgData.basic.nameAbbr}}</h1>
        <p class="en-name">{{vm.orgData.basic.enName}}</p>
        <p>
          <span tooltips tooltip-template="{{vm.orgData.basic.weixin}}"  tooltip-class="tooltip"
            class="kr-icon icon-Wechat" ng-if="vm.orgData.basic.weixin"></span
          ><span class="kr-icon icon-websitelink" ng-if="::vm.orgData.basic.website">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span></span
          ><a ng-href="{{vm.orgData.basic.website}}" target="_blank"
            ng-if="vm.orgData.basic.website">{{vm.orgData.basic.website}}</a>
        </p>
      </div>
    </section>
    <div sticky offset="49" class="nav-wrapper">
      <nav>
        <ul>
          <li >
            <a kr-scroll-click
              href="#baseInfo" du-smooth-scroll="" du-scrollspy=""  offset="300" >
              基本介绍
            </a>
          </li>
          <li>
            <a kr-scroll-click href="#analysis" du-smooth-scroll="" du-scrollspy="" offset="114" >
              投资分析
            </a>
          </li>
          <li >
            <a kr-scroll-click href="#investments" du-smooth-scroll="" du-scrollspy="" offset="114" >
              投资案例 <span class="number">({{vm.investment.investments.totalCount}})</span>
            </a>
          </li>
          <li >
            <a kr-scroll-click href="#member" du-smooth-scroll="" du-scrollspy="" offset="114" >
              机构成员 <span class="number">({{vm.member.total}})</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="org-module" id="baseInfo" ng-include="'/pages/org/templates/baseInfo.html'">
  基本介绍
  </section>

  <section id="analysis" class="org-module analysis-module">
    <h4>投资分析</h4>
    <div class="conditions">
      <div class="select-inline select-margin">
        <select ng-options="item.value as item.desc for item in root.INDUSTRY_META"
          class="form-control address-select" ng-model="vm.industry" ng-change="vm.changeCondition()"
          message-id="messageAddress" >
        <option value="">全部行业</option>
        </select><select ng-options="item.value as item.desc for item in root.FINANCE_PHASE_META"
          ng-model="vm.phase" ng-change="vm.changeCondition()"
          class="form-control address-select"  >
        <option value="">全部轮次</option>
        </select><select ng-model="vm.year" ng-change="vm.changeCondition()"
         ng-options="item for item in vm.years"
          class="form-control address-select">
        </select>
      </div>
    </div>
    <highchart disable-data-watch="true" config="vm.trendHg"></highchart>
    <div class="pie-chart-wrapper">
      <div class="pie-chart">
        <h5>投资行业分布</h5>
        <highchart disable-data-watch="true" ng-if="vm.analyze.hasData" config="vm.industryHg"></highchart>
        <div class="no-data-chart">
          暂无数据
        </div>
      </div>
      <div class="pie-chart">
        <h5>投资轮次分布</h5>
        <highchart disable-data-watch="true" ng-if="vm.analyze.hasData" config="vm.phaseHg"></highchart>
        <div class="no-data-chart">
          暂无数据
        </div>
      </div>
      <div class="invest-status">
        <h5>投资现状</h5>
        <table>
          <thead>
            <tr>
              <td>{{vm.analyze.year + '年'}}</td>
              <td>单笔投资金额平均数</td>
              <td>单笔投资金额中位数</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>本机构</td>
              <td>{{vm.analyze.investmentStatus.self.averageAmount}}</td>
              <td>{{vm.analyze.investmentStatus.self.medianAmount}}</td>
            </tr>
            <tr>
              <td>本行业</td>
              <td>{{vm.analyze.investmentStatus.industry.averageAmount}}</td>
              <td>{{vm.analyze.investmentStatus.industry.medianAmount}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section id="investments" class="org-module" ng-include="'/pages/org/templates/investedCase.html'">
  投资案例
  </section>
  <section id="member" class="org-module" ng-include="'/pages/org/templates/member.html'">
  机构成员
  </section>
</div>

