<div class="servepro-wrapper">
  <div class="title">
    <span class="icon-servePro"></span>
    <span>服务项目</span>
    <span ng-if="vm.servePros.totalCount"
      class="number pointer">({{vm.servePros.totalCount}})</span>
      <div class="pro-status" ng-if="vm.editPrivilege && vm.companyStats.pendingList && vm.companyStats.passList">
          <span ng-if="vm.companyStats.pendingList">已提交未处理{{vm.companyStats.pendingList.length}}个</span>
          &nbsp;&nbsp;<span ng-if="vm.companyStats.passList">已公开{{vm.companyStats.passList.length}}个</span>（仅您可见）
      </div>
  </div>
  <div class="servepro-info">
    <table class="pro-table" ng-if="vm.servePros.totalCount">
      <thead>
          <th width="45%">
            项目
          </th>
          <th width="10%">
            行业
          </th >
          <th width="20%">
            公司所处轮次
          </th>
          <th width="10%">
            所在地
          </th>
          <th width="15%">
            成立时间
          </th>
      </thead>
      <tbody>
        <tr ng-if="vm.servePros" ng-repeat="item in vm.servePros.data">
          <td>
              <div class="en-logo">
                <a  ui-sref="project({id: item.id})"
                target="_blank" style="background-image: url({{item.logo}})" class="logo"></a>
              </div>
              <div class="text">
                  <ul>
                    <li>
                      <a  ui-sref="project({id: item.id})" title="{{item.name}}" target="_blank" >
                        {{item.name}}</a>
                        <span class="icon-funding" ng-if="item.funding"></span>
                    </li>
                    <li>
                      <span title="{{item.brief}}">{{item.brief}}</span>
                    </li>
                  </ul>

              </div>
          </td>
          <td>
            <span ng-if="item.industry">{{::item.industry | industry}}</span>
            <span ng-if="!item.industry">—</span>
          </td>
          <td>
            <span ng-if="item.phase">{{::item.phase | companyFinancePhase}}</span>
            <span ng-if="!item.phase">—</span>
          </td>
          <td>
            <span ng-if="item.cityStr">{{item.cityStr}}</span>
            <span ng-if="!item.cityStr">—</span>
          </td>
          <td >
            <span ng-if="item.startDate" ng-bind="item.startDate | date:'yyyy-MM'"></span>
            <span ng-if="!item.startDate">—</span>
          </td>
        </tr>
        <tr class="multi" ng-if="vm.hasMoreServedPros">
          <td colspan="5">
            <div class="more"  ng-click="vm.loadMoreServedPros()">
                 <p>查看更多</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="no-data" ng-if="!vm.servePros.totalCount">
      <span>
          <span class="icon-Company icon"></span>
          <span>未收录相关信息</span>
        </span>
    </div>
  </div>
</div>
