@import "../../common/styles/var.less";
@import "../../common/styles/function.less";
.search-wrapper {
  .search-list-wrapper {
    position: fixed;
    overflow: hidden;
    left: 50px;
    top: 50px;
    width: 300px;
    z-index: 11;
    bottom: 0;
    background: #fff;
    border-right:1px solid #DDDDDD;
    .condition-wrapper {
      box-shadow: 0 8px 8px -8px #ccc;
      .label-nav {
        height:41px;
        background-color: #F9f9f9;
        text-align: center;
        font-size: 14px;
        color: #5A626D;
        line-height: 41px;
      }
      .main-nav {
        position: relative;
        height:41px;
        background-color: #F9f9f9;
        text-align: center;
        font-size: 14px;
        color: #5A626D;
        line-height: 41px;
        cursor: pointer;
        z-index:100;
        .tag-container {
          background: #FFFFFF;
          box-shadow: 0px 4px 8px 0px #CCCCCC;
          height:0;
          transition: all .4s;
          overflow: hidden;
          &.show {
            height:auto;
          }
          .tag-item {
            display: block;
            width:100%;
            list-style: none;
            height:49px;
            line-height:48px;
            border-bottom: 1px solid #e7e7e7;
            color: #222c38;
            cursor: pointer;
            &.active,&:hover {
              color: #6BA2FC;
            }
            &:last-of-type {
              border-bottom-color: #fff;
            }
          }
        }
      }
      .label-container {
        position: relative;
        padding: 14px 0 20px;
        overflow: hidden;
        text-align: center;
        .item-container {
          display: inline-block;
          width:246px;
        }
        .label-item {
          float: left;
          width:70px;
          margin-right: 18px;
          padding: 4px 6px;
          font-size: 12px;
          line-height: 18px;
          margin-top: 6px;
          background: rgba(107,162,252,0.2);
          color: #2868D1;
          cursor: pointer;
          text-align: center;
          &:nth-of-type(3n) {
            margin-right:0;
          }
        }
        .icon-open-nav {
          position: absolute;
          right: 2px;
          bottom: 2px;
          width: 20px;
          height: 20px;
          color: #ccc;
          font-size: 20px;
          cursor: pointer;
          z-index:99;
        }
      }
    }
  }

  // search-project-list start
  .search-project-list {
    width: 100%;
    margin-top: 4px;
    color: @text-color;
    ul {
      li {
        padding: 14px 0 14px 20px;
        overflow: hidden;
        border-bottom: 1px solid #F2F4F5;
        &.active {
          background: #F2F4F5;
        }
      }
    }
    img {
      float: left;
      cursor: pointer;
      border: 1px solid #ebebeb;
      border-radius: 4px;
    }
    .text-info-wrapper {
      float:left;
      width: 217px;
      padding-left: 16px;
      .company-info-container {
        position: relative;
        display: flex;
        >span {
          margin-right:4px;
        }
      }
      .brief {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin-top: 4px;
      }
      p:first-child {
        margin-top: 0px;
        height: 21px;
        &+p {
          margin-top: 8px;
        }
      }
      .font(12, 18);
      .name {
        cursor: pointer;
        .font(14,21);
        .dlk();
        color: @title-color;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon-industry {
        .vam();
        margin-right: 4px;
      }
      .hot-wrapper {
        color: #F8627E;
        .icon-Hot {
          margin-right: 4px;
        }
      }
      .hot,.funding,.classic {
        border-radius: 2px;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        padding: 0 4px;
        .dlk();
      }
      .icon-industry {
        vertical-align: middle;
        .dlk();
      }
      .hot {
        background: #F8627E;
      }
      .classic {
        background-color: #FFA546;
      }
      .funding {
        background: #6BA2FC;
      }
      .time {
        position: absolute;
        right:0;
        color: #969fa9;
      }
    }
  }
  // search-project-list end
  //load-more-wrapper start
  .load-more-wrapper {
    .load-more {
      height: 37px;
      line-height: 37px;
      color: #5a626d;
      font-size: 12px;
      text-align: center;

    }

  }
  //load-more-wrapper end
}
.search-wrapper.menu-expanded {
  padding-left: 440px;
}
