@import "../../common/styles/var.less";
@import "../../common/styles/function.less";
.search-wrapper {
  .icon-dialogClose {
    font-size: 16px;
    position: fixed;
    top: 62px;
    z-index: 11;
    color:@text-color;
    &:hover {
      color: @anchor-color;
    }
    &.left {
      left: 362px;
    }
    &.right {
      right: 12px;
    }
  }

  .condition-wrapper {
    box-shadow: 0 8px 8px -8px #ccc;
    position: fixed;
    top: 50px;
    height: 52px;
    line-height: 52px;
    width: 299px;
    z-index: 111;
    overflow: hidden;
    background: white;
    a {
      color: @text-color;
      &:hover {
        color: @anchor-color;
      }
      span {
        .dlk();
        .vam();
      }
      .label-text {
        max-width: 182px;
        font-size: 14px;
        .dlk();
      }
      .icon-fix {
        font-size: 20px;
        margin-left: 20px;
      }
      &:first-child {

      }
      &.icon-nav {
        float: right;
        font-size: 20px;
        line-height: 52px;
        margin-right: 16px;
      }
    }
  }
  .search-list-wrapper {
    position: fixed;
    overflow: hidden;
    left: 50px;
    top: 102px;
    width: 300px;
    z-index: 11;
    bottom: 0;
    background: #fff;
    border-right:1px solid #DDDDDD;
    .ps-scrollbar-y-rail {
      z-index: 111;
    }
  }

  // search-project-list start
  .search-project-list {
    width: 100%;
    /*margin-top: 4px;*/
    color: @text-color;
    ul {
      li {
        padding: 14px 0 14px 20px;
        overflow: hidden;
        border-bottom: 1px solid #F2F4F5;
        cursor: pointer;
        &:hover,&.active {
          background: #F2F4F5;
        }
      }
    }
    img {
      float: left;
      cursor: pointer;
      border: 1px solid #ebebeb;
      border-radius: 4px;
    }
    .text-info-wrapper {
      float:left;
      width: 217px;
      padding-left: 16px;
      .company-info-container {
        position: relative;
        display: flex;
        padding-right:50px;
        .item-time {
          position: absolute;
          right:0;
          white-space: nowrap;
        }
        >span {
          min-width:20px;
        }
      }
      .brief {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #969fa9;
      }
      p {
        margin-top: 5px;
        .icon-listIndustry {
          color: #6BA2FC;
          font-size: 15px;
          vertical-align: middle;
          margin-right: 5px;
        }
        .icon-listPoint {
          color: #F8627E;
          font-size: 15px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
      p:first-child {
        margin-top: 0px;
        height: 21px;
        &+p {
          margin-top: 5px;
        }
      }
      .font(12, 18);
      .name {
        cursor: pointer;
        .font(14,21);
        .dlk();
        color: @title-color;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon-industry {
        .vam();
        margin-right: 4px;
      }
      .hot-wrapper {
        color: #5A626D;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .icon-Hot {
          margin-right: 4px;
        }
      }
      .icon-hot-tag,.icon-classicTag,.icon-funding {
        position: relative;
        top:-2px;
        color: #F8627E;
        font-size:20px;
      }
      .icon-funding {
        color: #6BA2FC;
        margin-right:10px;
      }
      .icon-classicTag {
        display: inline-block;
        width:20px;
        height:20px;
        color: #FFA546;
        background: url('/images/classicTag.svg') no-repeat center;
      }
      .icon-industry {
        vertical-align: middle;
        .dlk();
      }
      .time {
        position: absolute;
        right:0;
        color: #969fa9;
      }
    }
  }
  // search-project-list end
  //load-more-wrapper start
  .load-more-wrapper {
    .load-more {
      height: 37px;
      line-height: 37px;
      color: #5a626d;
      font-size: 12px;
      text-align: center;

    }

  }
  //load-more-wrapper end
}
.search-wrapper.menu-expanded {
  padding-left: 440px;
}
