.invest-case {
  h4 {
    a {
      margin-left: 4px;
    }
  }
  .tags {
    padding-bottom: 16px;
    margin-bottom: 16px;
    &>li{
      display: inline-block;
      padding: 1px 6px;
      margin-right: 16px;
    }
    .tag {
      font-size: 12px;
      line-height: 18px;
      height: 20px;
      background: rgba(107, 162, 252, 0.2);
      color: #2868D1;
      letter-spacing: 0px;
      padding: 1px 6px;
    }
  }
}