.invest-case {
  h4 {
    a {
      margin-left: 4px;
    }
  }
  .case-content {
    .tags {
      padding-bottom: 16px;
      margin-bottom: 16px;
      &>li{
        display: inline-block;
        padding: 1px 6px;
        margin-right: 16px;
      }
      .tag {
        font-size: 12px;
        line-height: 18px;
        height: 20px;
        background: rgba(107, 162, 252, 0.2);
        color: #2868D1;
        letter-spacing: 0px;
        padding: 1px 6px;
      }
    }
    .case-list{
      .case-info {
        width: 385px;
        min-height: 176px;
        background: #FFFFFF;
        border: 1px solid #F2F4F5;
        box-shadow: 0px 0px 8px 0px #E7E7E7;
        display: inline-block;
        margin-bottom: 40px;
      }
      .f-right {
        float: right;
      }
      .case-logo {
        width: 60px;
        height: 60px;
        border: 1px solid #CCCCCC;
        border-radius: 6px;
        margin: 20px 0 0 24px;
      }


      .company-name {
        display: inline;
        position: relative;
        bottom: 40px;
        left: 16px;
      }
      .show {
        position: relative;
        float: right;
        right: 40px;
        top: 64px;
        font-size: 12px;
        color: #6BA2FC;
      }
      .company-brief {
        font-size: 14px;
        color: #5A626D;
        line-height: 21px;
        width: 260px;
        position: relative;
        display: inline-block;
        left: 105px;
        bottom: 30px;
        min-height: 42px;
      }

      .case-phase {
        margin: 0 0 14px 24px;
        position: relative;
        .circular {
          width:12px;
          height:12px;
          background: #FFFFFF;
          border: 1px solid #CCCCCC;
          border-radius: 100px;
          padding: 2px;
          display:inline-block;
          margin: 0 15px 0 21px;
          .circular2 {
            width:6px;
            height:6px;
            background: #CCCCCC;
            border-radius: 100px;
          }
          .line {
            background: #F2F4F5;
            height: 18px;
            width: 2px;
            position: relative;
            left: 2px;
            top: 3px;
          }
        }
      }

      .more {
        font-size: 12px;
        color: #6BA2FC;
        letter-spacing: 0px;
        line-height: 18px;
        position: relative;
        float: right;
        bottom: 0px;
        right: 24px;
      }

      .m-bottom {
        margin-bottom: 10px;
      }
    }
  }
}
