@import "../../../common/styles/var.less";
@import "../../../common/styles/function.less";
.invest-case {
  h4 {
    a {
      margin-left: 4px;
    }
  }
  .case-content {
    .tags {
      padding-bottom: 16px;
      margin-bottom: 16px;
      &>li{
        display: inline-block;
        padding: 1px 6px;
        margin-right: 16px;
      }
      .tag {
        font-size: 12px;
        line-height: 18px;
        height: 20px;
        background: rgba(107, 162, 252, 0.2);
        color: #2868D1;
        letter-spacing: 0px;
        padding: 1px 6px;
      }
    }
    .case-list{
        .bold {
          color: #222C38;
          font-weight: bold;
        }
      .case-info {
        width: 385px;
        min-height: 180px;
        background: #FFFFFF;
        border: 1px solid #F2F4F5;
        box-shadow: 0px 0px 8px 0px #E7E7E7;
        display: inline-block;
        margin-bottom: 40px;
        .case-brief {
          height: 105px;
        }
      }
      .f-right {
        float: right;
      }
      .case-logo {
        width: 60px;
        height: 60px;
        border: 1px solid #CCCCCC;
        border-radius: 6px;
        margin: 20px 0 0 24px;
      }


      .company-name {
        display: inline;
        position: relative;
        bottom: 40px;
        left: 16px;
      }
      .show {
        position: relative;
        float: right;
        right: 40px;
        top: 64px;
        font-size: 12px;
        color: #6BA2FC;
      }
      .company-brief {
        font-size: 14px;
        color: #5A626D;
        line-height: 21px;
        width: 270px;
        position: relative;
        display: inline-block;
        left: 105px;
        bottom: 30px;
        min-height: 42px;
      }

      .case-phase {
        margin: 0 0 14px 24px;
        position: relative;
        .circular {
          width:12px;
          height:12px;
          background: #FFFFFF;
          border: 1px solid #CCCCCC;
          border-radius: 100px;
          padding: 2px;
          display:inline-block;
          margin: 0 15px 0 21px;
          .circular2 {
            width:6px;
            height:6px;
            background: #CCCCCC;
            border-radius: 100px;
          }
          .line {
            background: #F2F4F5;
            height: 18px;
            width: 2px;
            position: relative;
            left: 2px;
            top: 3px;
          }
        }
      }

      .more-show {
        display:block;
      }
      .more-hide {
        display:none;
      }

      .more-btn {
        position: relative;
        float: right;
        right: 24px;
        bottom: 10px;
        font-size: 12px;
        color: #6BA2FC;
      }

      .m-bottom {
        margin-bottom: 10px;
      }
    }
  }

  .show-more{
    cursor: pointer;
    .size(118,28);
    margin: 0px auto;
    .text-center();
    vertical-align: middle;
    .font(12,28);
    border: 1px solid #BBB;
    border-radius: 4px;
  }
}
.case-edit-wrapper {
  input {
    max-width: 520px;
  }
  select {
    max-width: 140px;
  }
  form {
    max-width: 520px;
  }
  .mt16 {
    margin-bottom: 16px;
  }
  .casePhase-group, .investDate-group {
    margin-bottom: 16px;
  }
  .casePhase-group, .investDate-group {
    select {
      margin-bottom: 4px;
    }
   .error-tip {
      float: none;
    }
  }
  .error-color {
    color: @error-color;
  }
  .investEntity-group {
    input[type="text"] {
      margin-bottom: 0px;
    }

    .invest-com {
      margin-bottom: 16px;
    }

  }
  .invest-entity {
    margin-top: 15px;
    input[type="radio"] {
      margin-right: 10px;
      &+span {
        margin-right: 16px;
      }
    }
    .inline-control > * {
      .dlk();
      .vam();
    }
    .invest-com,.invest-org {
      margin-top: 21px;
      height: 41px;
      line-height: 41px;
    }
    .invest-com {
      margin-top: 10px;
    }
  }
}
