.invest-organization {
  span {
    line-height: 21px;
    margin-right: 10px;
  }
  .organization-content {
    .phase {
      margin-top: 20px;
    }
    .project {
      margin-top: 6px;
    }
  }
}