.invest-organization {
  span {
    line-height: 21px;
    margin-right: 10px;
  }
  .organization-content {
    .industry {
      margin-top: 20px;
    }
    .project {
      margin-top: 6px;
    }
    .bold {
      font-weight: bold;
    }
  }
  .org-brief{
    display: inline-block;
    max-height: 100px;
    max-width: 815px;
    vertical-align: top;
    color: #5A626D;
    letter-spacing: 0px;
    .font(14,21);
    a.toggle{
      visibility: hidden;
    }
  }
  .org-brief.opened{
    height: auto;
    max-height: inherit;
    a.toggle{
      visibility: hidden;
    }
  }
  .org-brief.is-truncated{
    a.toggle{
      visibility: inherit;
    }
  }
  .org-brief.opened{
    height: auto;
    max-height: inherit;
    a.toggle{
      display: none;
    }
  }
}