@import "../../../common/styles/var.less";
@import "./common.less";
.invest-preference {
  span {
    line-height: 21px;
    margin-right: 10px;
  }
  .title {
    float: left;
    margin-top: 2px;
  }
  .list {
    width: 650px;
    display: inline-block;
    margin-left: 30px;
  }
  .m-top {
    margin-top: 16px;
  }
}

.preference-edit-wrapper {
  span {
    line-height: normal;
    margin-right: 0px;
  }
  span.mr10 {
    margin-right: 10px;
  }
  span.mr12 {
    margin-right: 12px;
  }
  .form-group {
    max-width: 520px;
  }
  .ac-container {
    z-index: 1;
  }
  .tags {
    .tags();
  }
  .inline-control {
    white-space: nowrap;
    input, select {
      display: inline-block;
      width: 140px;
    }
    .form-tip {
      float: none;
    }
  }
  select {
    width: 140px;
  }
}
