.invest-preference {
  span {
    line-height: 21px;
    margin-right: 10px;
  }
  .title {
    float: left;
    margin-top: 2px;
  }
  .list {
    width: 650px;
    display: inline-block;
    margin-left: 30px;
  }
  .m-top {
    margin-top: 16px;
  }
}