<div class="workstation-collection">
  <span class="icon-dialogClose" ng-click="vm.collectCancle()"></span>
  <div class="collection-head">
    <span class="title">确定删除该收藏夹？</span><br/>
    <span class="note">注意：该收藏夹中项目将转移至“默认收藏夹”中</span>
  </div>
  <span class="suc" ng-class="{'hidden':vm.suc}">删除成功！</span>
  <span class="cancle" ng-class="{'hidden':vm.cancle}">取消成功！</span>

  <div class="create-box">
    <div class="collect-btn">
      <div class="cancle-btn" ng-click="vm.collectCancle()" data-stat-click="workstation.collection.delete.cancel">
        <span>取消</span>
      </div>
      <div class="delete-btn" ng-click="vm.collectDelete()" data-stat-click="workstation.collection.delete">
        <span>删除</span>
      </div>
    </div>
  </div>
</div>
