<div id="workstationDetailWrapper" class="workstation-wrapper">
  <div class="head-bg">
    <div class="head">
      <div class="collect-count">
        <h3>我的收藏夹</h3>
        <div class="total-count">
          <span>共 {{vm.data.groupList.length}} 个收藏夹</span><span class="split">|</span><span>共收藏 {{vm.data.companyCnt}} 个项目</span>
        </div>
      </div>
      <div class="collect-btn">
        <a href="#">
          <div class="create-collect">
            <span>创建收藏夹 +</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="collect-list">
      <div class="collect-item" ng-repeat="item in vm.data.groupList">
        <div class="collect-title">
          <span class="icon-bookmark">[icon]</span>
          <span class="collect-name">{{item.name}}</span>
        </div>
        <div class="collect-count">
          <span class="describe">该收藏夹共 {{item.count}} 个项目</span>
          <span class="icon-dustbin">[icon]</span>
        </div>
      </div>
      <a href="#">
        <div class="collect-item-new">
          <span class="new-btn">新建 +</span>
        </div>
      </a>


    </div>
  </div>
</div>
