<div id="workstationDetailWrapper" class="workstation-wrapper">
  <div class="head">
    <div class="collect-count">
      <h3>我的收藏夹</h3>
      <div class="total-count">
        <span>共 10 个收藏夹</span><span class="split">|</span><span>共收藏 231 个项目</span>
      </div>
    </div>
    <div class="collect-btn">
      <div class="create-collect">
        <span>创建收藏夹 +</span>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="collect-list">
      <div class="collect-item">
        <div class="collect-title">
          <span class="icon-bookmark">[icon]</span>
          <span class="collect-name">企业服务</span>
        </div>
        <div class="collect-count">
          <span class="describe">该收藏夹共 15 个项目</span>
          <span class="icon-dustbin">[icon]</span>
        </div>
      </div>

      <div class="collect-item">
        <div></div>
      </div>
      <div class="collect-item">
        <div></div>
      </div>
      <div class="collect-item">
        <div></div>
      </div>
      <div class="collect-item">
        <div></div>
      </div>

      <div class="collect-item-new">
        <a href="#" class="new-btn">新建 +</a>
      </div>

    </div>
  </div>
</div>
