<div class="filter-container">
  <div class="spread-btn" ng-click="parentVm.open.filter = !parentVm.open.filter"></div>
  <div class="filter-list">
    <div class="filter-col">
      <div class="col-type">
        行业
      </div>
      <div class="col-content">
        <div class="col-list-container">
          <ul filter-cal ng-class="{'height-auto':parentVm.open.industry}">
            <!--ng-if="$index < parentVm.open.maxNumber || ($index >= parentVm.open.maxNumber && parentVm.open.address)"-->
            <li class="col-item" ng-repeat="item in parentVm.data.industry" ng-class="{'active': item.active}"  ng-click="parentVm.selectIndustry($index,'industry')">
              {{item.name}}({{item.number}})
              <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-click="parentVm.clearIndustry('industry');$event.stopPropagation();"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-open" ng-click="parentVm.spreadMore('industry')" ng-class="{'open': parentVm.open.industry}"></a>
      </div>
    </div>
  </div>
  <div class="filter-list">
    <div class="filter-col">
      <div class="col-type">
        标签
      </div>
      <div class="col-content">
        <div class="col-list-container">
          <ul filter-cal ng-class="{'height-auto':parentVm.open.address}">
            <li class="col-item" ng-repeat="item in parentVm.data.tag" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'tag')">
              {{item.name}}({{item.number}})
              <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-click="parentVm.clearIndustry('tag');$event.stopPropagation();"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-open" ng-click="parentVm.spreadMore('tag')" ng-class="{'open': parentVm.open.tag}"></a>
      </div>
    </div>
  </div>
  <div class="filter-list">
    <div class="filter-col">
      <div class="col-type">
        轮次
      </div>
      <div class="col-content">
        <div class="col-list-container">
          <ul filter-cal ng-class="{'height-auto':parentVm.open.fundPhase}">
            <li class="col-item" ng-repeat="item in parentVm.data.fundPhase" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'fundPhase')">
              {{item.name}}({{item.number}})
              <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-click="parentVm.clearIndustry('fundPhase');$event.stopPropagation();"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-open" ng-click="parentVm.spreadMore('fundPhase')" ng-class="{'open': parentVm.open.fundPhase}"></a>
      </div>
    </div>
  </div>
  <div class="filter-list" ng-if="parentVm.open.filter">
    <div class="filter-col">
      <div class="col-type">
        所在地
      </div>
      <div class="col-content">
        <div class="col-list-container">
          <ul filter-cal ng-class="{'height-auto':parentVm.open.address}">
            <li class="col-item" ng-repeat="item in parentVm.data.address" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'address')">
              {{item.name}}({{item.number}})
              <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-click="parentVm.clearIndustry('address');$event.stopPropagation();"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-open" ng-click="parentVm.spreadMore('address')" ng-class="{'open': parentVm.open.address}"></a>
      </div>
    </div>
  </div>
  <div class="filter-list" ng-if="parentVm.open.filter">
    <div class="filter-col">
      <div class="col-type">
        融资需求
      </div>
      <div class="col-content">
        <div class="col-list-container">
          <ul filter-cal ng-class="{'height-auto':parentVm.open.address}">
            <li class="col-item" ng-repeat="item in parentVm.data.requirement" ng-class="{'active': item.active}" ng-click="parentVm.selectIndustry($index,'requirement')">
              {{item.name}}({{item.number}})
              <span class="clear-btn icon-dialogClose" ng-class="{'hide':!item.active}" ng-click="parentVm.clearIndustry('requirement');$event.stopPropagation();"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-handle">
        <a href="javascript:void(0)" class="open-btn icon-open" ng-click="parentVm.spreadMore('requirement')" ng-class="{'open': parentVm.open.requirement}"></a>
      </div>
    </div>
  </div>
</div>
<ui-view></ui-view>
<!--<ui-view></ui-view>-->



