<div class="search-wrapper">
  <div
    id="column3Container" perfect-scrollbar
    wheel-propagation="true" wheel-speed="5" min-scrollbar-length="15"
    class="search-list-wrapper">
    <div
        infinite-scroll="searchVm.columnOptions.loadMore()"
        infinite-scroll-disabled="outVm.dataLoading"
        infinite-scroll-container="'.search-list-wrapper'"
        infinite-scrollUse-document-bottom="false"
        infinite-scroll-distance="3"
      >
      <div class="condition-wrapper">
        <div class="main-nav" ng-click="searchVm.openTab()" ng-if="searchVm.isFollow()">
          {{searchVm.activeLabel}}
          <i class="icon-label-open"></i>
          <div class="tag-container" ng-class="{'show':searchVm.showTab}">
            <div class="tag-item" ng-repeat="item in searchVm.columnOptions.labels" ng-class="{'active':item.active}"
              ng-click="searchVm.columnOptions.switchType($index);searchVm.closeTab($event)">
              {{item.name}}
            </div>
          </div>
        </div>
        <div class="label-nav" ng-if="searchVm.columnOptions.labelName">
          {{searchVm.columnOptions.labelName}}
        </div>
         <div class="label-container">
           <div class="item-container">
             <div class="label-item" ng-click="searchVm.columnOptions.closeMe()"
                  ng-repeat="item in searchVm.columnOptions.tags" ng-if="searchVm.columnOptions.tags.length" ng-class="{'show-tag' : searchVm.columnOptions.tags.length > 9 && searchVm.showMoreTag}">{{item}}</div>

             <div class="label-item" ng-click="searchVm.columnOptions.closeMe()" ng-if="!searchVm.columnOptions.tags.length">不限</div>
           </div>
           <div class="toggle-btn icon-filter-open" ng-if="searchVm.columnOptions.tags.length > 9 && !searchVm.showMoreTag" ng-click="searchVm.showMore()"></div>

           <span class="icon-open-nav" ng-click="searchVm.columnOptions.closeMe()"></span>
        </div>
      </div>
      <div
        class="search-project-list">
        <ul>
          <li
            kr-scroll-me="{isMe: item.id === searchVm.columnOptions.companyId, container: '#column3Container'}"
            ng-click="searchVm.open(item.id)"  ng-repeat="item in searchVm.columnOptions.companies" ng-class="{'active' : item.id === searchVm.columnOptions.companyId}">
            <img ng-click="searchVm.open(item.id)" width="42" height="42"
            ng-src="{{item.logo || '/images/default-logo.png'}}" alt=""/>
            <div class="text-info-wrapper">
              <p class="clear company-info-container">
                  <span ng-click="searchVm.open(item.id)" class="name mr10" title="{{item.name}}">{{item.name}}</span>
                  <span ng-if="item.hot" class="icon-hot-tag"></span>
                  <span>
                    <span ng-if="item.classic" class="icon-classicTag"></span>
                  </span>

                  <span ng-if="item.funding" class="icon-funding"></span>
                  <span>
                     <span class="time">{{item.publishDate | listDateFilter}}</span>
                  </span>
              </p>
              <p class="brief" title="{{item.brief}}">{{item.brief}}</p>
              <p><span class="icon-industry"></span><span>{{item.industryStr}}</span></p>
              <p ng-if="item.advantage" class="hot-wrapper"><span class="icon-Hot"></span>{{item.advantage}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="load-more-wrapper">
        <div class="load-more" ng-if="outVm.dataLoading && !outVm.noMore">
          正在加载更多...
        </div>
        <div  ng-if="outVm.needLogin" class="load-more">
          <a  href="javascript:;" ng-click="outVm.login()">
            登录查看更多
          </a>
        </div>
        <div  ng-if="outVm.needAuthorizeInvestor()" class="load-more">
          <a  href="javascript:;" ui-sref="investorValidate">
            认证投资人查看更多
          </a>
        </div>
        <div class="load-more"   ng-if="outVm.loadEnd && !outVm.needAuthorizeInvestor() && !outVm.needLogin">
          已无更多数据
        </div>
      </div>
    </div>
  </div>

  <div kr-reload-project>

  </div>
</div>
