<div class="search-wrapper">
  <div class="search-list-wrapper">
    <div
        infinite-scroll="searchVm.columnOptions.loadMore()"
        infiniteScrollDisabled="searchVm.columnOptions.loadEnd"
        infinite-scroll-container="'.search-list-wrapper'"
        infinite-scrollUse-document-bottom="false"
        infinite-scroll-distance="3"
      >
      <div class="condition-wrapper">
         <ul>
           <li ng-repeat="item in searchVm.columnOptions.tags">{{item}}</li>
        </ul>
      </div>
      <div
        class="search-project-list">
        <ul>
          <li ng-repeat="item in searchVm.columnOptions.companies">
            <a ui-sref="home({id: item.id})" >
              <img width="42" height="42" ng-src="{{item.logo || '/images/default-logo.png'}}" alt=""/>
            </a>
            <div class="text-info-wrapper">
              <p class="clear"><span class="name mr10">{{item.name}}</span
                  ><span ng-if="item.hot" class="hot">热</span
                  ><span ng-if="item.funding" class="funding">融资中</span
                  ><span class="time">今天</span>
              </p>
              <p>{{item.brief}}</p>
              <p><span class="icon-Tags"></span><span>{{item.industryStr}}</span></p>
              <p><span class="icon-hot"></span>this is hot desc</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-controller="ProjectIndexController as vm" ng-include="'/pages/project/templates/index.html'"></div>
</div>
