<div class="commercial-message-wrapper">
  <div class="navigation">
    <a ui-sref="project({id: vm.projectId})" href="#">{{vm.projectName}}</a>
    <span class="arrow"> > </span>
    <span>工商信息</span>
  </div>
  <div class="main">
    <div class="base-info">
      <div class="head">
        <span class="icon-introduction-head"></span>
        <span class="title">基本工商信息</span>
        <span class="qxb">由"启信宝"提供</span>
      </div>
      <div class="group">
        <div class="describe">
          <span>公司全称</span>
        </div>
        <div class="content">
          <span>{{vm.data.basicInfo.name}}</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>注册资本</span>
        </div>
        <div class="content">
          <span>{{vm.data.basicInfo.registCapi}}</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>法人代表</span>
        </div>
        <div class="content">
          <span>{{vm.data.basicInfo.operName}}</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>注册时间</span>
        </div>
        <div class="content">
          <span>{{vm.data.basicInfo.startDate}}</span>
        </div>
      </div>
    </div>
    <div class="partner-info">
      <div class="head">
        <span class="icon-shareholder-head"></span>
        <span class="title">股东信息</span>
      </div>
      <div class="group" ng-repeat="partner in vm.data.partners">
        <div class="describe">
          <span>{{partner.stockType}}</span>
        </div>
        <div class="content">
          <span>{{partner.name}}</span>
        </div>
      </div>
    </div>
    <div class="employ-info">
      <div class="head">
        <span class="icon-team-head"></span>
        <span class="title">任职人员</span>
      </div>
      <div class="group" ng-repeat="employ in vm.data.employees">
        <div class="describe">
          <span>{{employ.jobTitle}}</span>
        </div>
        <div class="content">
          <span>{{employ.name}}</span>
        </div>
      </div>
    </div>
    <div class="record-info">
      <div class="head">
        <span class="icon-change-head"></span>
        <span class="title">工商信息变更</span>
      </div>
      <table rules="none">
        <tr>
          <td width="100px">变更时间</td>
          <td width="166px">变更类型</td>
          <td width="310px">变更前</td>
          <td>变更后</td>
        </tr>
        <tr ng-repeat="record in vm.data.changeRecords">
          <td><span class="time">{{record.changeDate}}</span></td>
          <td><div class="mg">{{record.changeItem}}</div></td>
          <td><div class="mg">{{record.beforeContent}}</div></td>
          <td><div class="mg">{{record.afterContent}}</div></td>
        </tr>
      </table>
    </div>
  </div>
</div>