<div class="commercial-message-wrapper">
  <div class="navigation">
    <a>36氪</a>
    <span class="arrow"> > </span>
    <span>工商信息</span>
  </div>
  <div class="main">
    <div class="base-info">
      <div class="head">
        <span class="icon-introduction-head"></span>
        <span class="title">基本工商信息</span>
        <span class="qxb">由"启信宝"提供</span>
      </div>
      <div class="group">
        <div class="describe">
          <span>公司全称</span>
        </div>
        <div class="content">
          <span>北京协力筑成金融信息服务股份有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>公司全称</span>
        </div>
        <div class="content">
          <span>北京协力筑成金融信息服务股份有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>公司全称</span>
        </div>
        <div class="content">
          <span>北京协力筑成金融信息服务股份有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>公司全称</span>
        </div>
        <div class="content">
          <span>北京协力筑成金融信息服务股份有限公司</span>
        </div>
      </div>

      <div class="head">
        <span class="icon-user-head"></span>
        <span class="title">股东信息</span>
      </div>
      <div class="group">
        <div class="describe">
          <span>法人股东</span>
        </div>
        <div class="content">
          <span>上海云鑫创业投资有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>法人股东</span>
        </div>
        <div class="content">
          <span>上海云鑫创业投资有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>法人股东</span>
        </div>
        <div class="content">
          <span>上海云鑫创业投资有限公司</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>法人股东</span>
        </div>
        <div class="content">
          <span>上海云鑫创业投资有限公司</span>
        </div>
      </div>

      <div class="head">
        <span class="icon-team-head"></span>
        <span class="title">任职人员</span>
      </div>
      <div class="group">
        <div class="describe">
          <span>董事长</span>
        </div>
        <div class="content">
          <span>刘成城</span>
        </div>
      </div>
      <div class="group">
        <div class="describe">
          <span>董事</span>
        </div>
        <div class="content">
          <span>冯大刚</span>
        </div>
      </div>


      <div class="head">
        <span class="icon-team-head"></span>
        <span class="title">工商信息变更</span>
      </div>
      <table rules="none">
        <tr>
          <td width="100px">变更时间</td>
          <td width="166px">变更类型</td>
          <td width="310px">变更前</td>
          <td>变更后</td>
        </tr>
        <tr>
          <td><span class="time">2016-10-31</span></td>
          <td><span class="mg">投资人(股权)变更</span></td>
          <td><div class="mg">金浩;齐俊元;戈壁盈智（上海）创业投资合伙企业（有限合伙）</div></td>
          <td><div class="mg">戈壁盈智（上海）创业投资合伙企业（有限合伙）;金浩;齐俊元;牛奎光;许萍;霍尔果斯锋华股权投资管理合伙企业（有限合伙）;林芝利创信息技术有限公司</div></td>
        </tr>
        <tr>
          <td><span class="time">2016-10-31</span></td>
          <td><span class="mg">投资人(股权)变更</span></td>
          <td><div class="mg">金浩;齐俊元;戈壁盈智（上海）创业投资合伙企业（有限合伙）</div></td>
          <td><div class="mg">戈壁盈智（上海）创业投资合伙企业（有限合伙）;金浩;齐俊元;牛奎光;许萍;霍尔果斯锋华股权投资管理合伙企业（有限合伙）;林芝利创信息技术有限公司</div></td>
        </tr>
      </table>
    </div>
  </div>
</div>