@import (inline) "../bower/normalize-css/normalize.css";
@import "styles/var";
html,body{
  font-family: 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
p,h1,h2,h3,h4,h5,h6,ul,li{
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul, li{
  list-style: none;
}
a {
  text-decoration: none;
  color: @anchor-color;
}
