@import (inline) "../bower/normalize-css/normalize.css";
@import "styles/var";
@import "styles/control.less";

html * {
  box-sizing: border-box;
}
html,body{
  min-width: 1280px;
  font-family: 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
p,h1,h2,h3,h4,h5,h6,ul,li, form{
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul, li{
  list-style: none;
}
a {
  text-decoration: none;
  color: @anchor-color;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  z-index: 9999;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  z-index: 9999;
}
